---
---

@charset "UTF-8";

@import
	"variables",
	"mixins",
	"reset",
	"typography",
	"layout",
	"grid",
	"header",
	"footer",
	"common"
;

.playgroundIframe {
	height: 680px;
	width: 1600px;
	padding: 10px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
