.column-icon {
	background-size: 39px;
	height: 39px;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	top: (get-line-height('base') * .5);
	width: 39px;
	z-index: 10;
}

.tabber-targets %Row %Column {
	padding-left: 80px;
}

.logo-placard {
    background: #fff;
    display: block;
    height: 180px;
    line-height: 120px;
    padding: 30px;
    text-align: center;
    
    img {
	    display: inline-block;
	    max-height: 100%;
	    max-width: 100%;
	    vertical-align: middle;
    }
}