---
---

@charset "utf-8";

@import
	"variables",
	"mixins"
;


.page-content {
	section {
		padding: 60px 0;
		
		header {
			margin-bottom: 40px;
		}
	}
}

#valprop {
	background: $colorBlueDark url(/assets/images/home/valprop-bg.jpg) no-repeat center bottom;
	background-size: 1300px;
	padding: 100px 0 220px;
	
	h1, p {
		color: $colorWhite;
	}
	
	p {
		@include scaleUpFontSizeBy(2);
		max-width: 640px;
	}
	
	.button--large {
		margin-top: $lineHeight * $fontSize * 1;
	}
}

#features {
	text-align: center;
	
	h2 {
		@include scaleUpFontSizeBy(.5);
		color: #000;
		font-weight: 500;
		text-transform: uppercase;
	}
	
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

#uptime {
	background: $colorBlueLight url(/assets/images/home/map-bg.png) no-repeat center;
	background-size: auto 100%;
	padding: 60px 0;
	
	h2, p {
		margin-left: auto;
		margin-right: auto;
		max-width: 780px;
		text-align: center;
	}
	
	p {
		@include scaleUpFontSizeBy(1.5);
	}
	
	.trailing-link {
		@include scaleUpFontSizeBy(0);
		font-weight: 500;
		margin-top: 200px;
		text-align: center;
		text-transform: uppercase;
		
		a {
			text-decoration: none;
		}
	}
}

#security {
	padding: 60px 0;
	
	h2, p {
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
		text-align: center;
	}
	
	p, ul {
		@include scaleUpFontSizeBy(1.5);
	}
	
	.row {
		margin-left: auto;
		margin-right: auto;
		max-width: 830px;
	}
	
	.col-1-3 img {
		width: 100%;
	}
}

#sdk {
	border-top: 10px solid $colorGreyLighter;
	text-align: center;
	
	h2, p {
		margin-left: auto;
		margin-right: auto;
		max-width: 830px;
	}
	
	p, ul {
		@include scaleUpFontSizeBy(1.5);
	}
	
	.row {
		margin-left: auto;
		margin-right: auto;
		max-width: 830px;
	}
	
	a {
		display: block;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	img {
		display: block;
		margin: 0 auto 20px;
	}
}

#trust {
	background: $colorGreyLighter;
	
	h2 {
		text-align: center;
	}
}

#get-started {
	background: $colorBlue;
	text-align: center;
	
	&, h2 {
		color: $colorWhite;
	}
	
	.wrap {
		max-width: 660px;
	}
	
	p {
		@include scaleUpFontSizeBy(1);
	}
}