---
layout: master
meta_title: "Customers | Build a Better Product | Okta"
meta_description: "Customers including Rotary, Advent, and RentPath build great products faster with Okta."
title: Customers
css: page-customers
valprop: {
	title: "Leading teams are building on Okta"
}
show_bottom_cta: true
---

<section class="section--full-width">
	<div class="wrap">

		{% for page in site.pages %}
		{% if page.layout == 'customer_page' %}
			{% assign path  = page.url | remove: "/index.html" %}

			<article>

				<a class="thumbnail" href="{{ path }}/"><img src="{{ path }}/{{ page.index_image }}" /></a>

				<div class="content">

					<h2 class="h4">{{ page.title }}</h2>
					<p>{{ page.index_blurb }}</p>
					<a href="{{ path }}" class="btn">View case study <span>&rarr;</span></a>

				</div>

			</article>

		{% endif %}
		{% endfor %}

	</div>
</section>
