.view-container{
  width: 1355px;
}

.view-forms-container{
  top: 1%;
  left: 0.25%;
}

.leftHandSide{
  width: 575px;
  border-right: 1px solid #E6E6E8;
  float: left;
  margin-top: 5px;
}

.rightHandSide{
  width: 770px;
  float: right;
  margin-top: 5px;
  border: 1px solid #ddd;
  height: 583px;
}

/*Just like developer docs anchor tags*/
a {
  transition: 0.2s all;
  color: #4cbf9c;
}

a:active, a:focus, a:hover {
  color: #5ce5bc;
}

.requestHeader{

}

.responseHeader{

}

.authResponseIframe{
  width: 98%;
  height: 395px;
  transform: scale(0.85);
}

.playground-request-group{
  text-align: right;
}

.requestPg{
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  height: 135px;
}

.responsePg{
  font-family: "Lucida Console", Monaco, monospace;
  overflow: auto;
  max-height: 400px;
  padding: 10px;
  margin-top: 5px;
}

.wordwrap{
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

li.ui-corner-top{
  width: 261px;
  text-align: center;
  font-size: larger;
}

.o-left-form-theme{
  height: 475px;
  padding-top: 15px;
}

.o-right-form-theme{
  background-color: white;
  border: none;
  padding: 15px;
  box-shadow: none;
}

.requestContentInput{
  padding-top: 13px;
}

.requestContentInputAuth{
}

.requestContentInputAccess{
}

.requestContentInputUser{
}

.requestContentInputRevoke{
  padding-top: 52px;
}

.o-form-input-name-requestContent{
  font-family: "Lucida Console", Monaco, monospace;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #4cbf9c;
}

.o-form-input-name-scopeParam{
  display: flex;
  flex-wrap: wrap;
}

.responsePg::-webkit-scrollbar, .requestPg::-webkit-scrollbar, .authResponseIframe::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

.responsePg::-webkit-scrollbar-track, .requestPg::-webkit-scrollbar-track, .authResponseIframe::-webkit-scrollbar-track {
    background: white;
}

.responsePg::-webkit-scrollbar-thumb, .requestPg::-webkit-scrollbar-thumb, .authResponseIframe::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility: hidden;
}

.responsePg:hover::-webkit-scrollbar-thumb, .requestPg:hover::-webkit-scrollbar-thumb, .authResponseIframe:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.form-divider{
  margin-bottom: 5px;
}

.full-width-drop-down{
  width: 100%;
}

textarea {
  resize: none;
  height: 60px !important;
}

.o-form-head {
  margin-bottom: 0px;
}

.o-form-input-name-accessToken, .o-form-input-name-redirectUris, .o-form-input-name-refreshToken {
  height: 50px;
  display: block;
  overflow: auto;
}

.o-form-input-name-clientSecret {
  height: 30px;
  display: block;
  overflow: auto;
}

/*adding border-bottom to existing css for consistency*/
.ui-tabs .ui-tabs-nav li a {
  border-bottom: 4px solid white;
}

.infobox {
  margin-bottom: 25px;
}

.success-16:before {
  /*For the first tab callout*/
  display: none;
}

.guide {
  list-style-type:disc;
}

.o-form-input-name-tokenType {
  display: flex;
}

.custom-checkbox input, .custom-radio input {
  opacity: 1;
  top: 8px;
}
