.search-box.input-fix {
    height: 28px;
    border-radius: 17px;
    position: relative;
    border: 1px solid #cacaca;
}

.search-box-large.input-fix {
    height: 32px;
}

.search-box-has-submit.input-fix {
    border-radius: 17px 0 0 17px;
}

.search-box.input-fix .inline-label {
    font-size: 12px;
    left: 28px;
    top: 10px;
    color: #999 !important;
}

.search-box.input-fix input[type="text"] {
    /* padding: 0 28px; not sure where this line came from. it was messing up the search bars in the admin app. */
    width: 200px;
}

.search-box.search-box-has-submit input[type="text"] {
    width: 131px;
}

.search-box .icon-only {
    left: 8px;
    top: 6px;
    position: absolute;
}

.search-box-large .icon-only {
    top: 9px;
}

.search-box-spinner {
    left: 15px !important;
    top: 14px !important;
}

.search-box-large .search-box-spinner {
    top: 16px !important;
}

.search-box .clear-search {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #b1b1b1;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    background: transparent;
}

.search-box-large .clear-search {
    border-radius: 11px;
    height: 20px;
    width: 20px;
    top: 5px;
}

.search-box .icon.clear-input-16 {
    left: 2px;
}

.search-box-large .icon.clear-input-16 {
    top: 2px;
    left: 2px;
}

.search-box-submit[type="submit"] {
    border-radius: 0 15px 15px 0;
    height: 30px !important;
    box-shadow: none !important;
    color: #888 !important;
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 16px;
    border-color: #c1c1c1 !important;
    font-family: Arial, Helvetica, sans-serif;
    border-left: none;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==) !important;
    background: -moz-linear-gradient(top,  #ffffff 33%, #f1f1f1 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#ffffff), color-stop(100%,#f1f1f1)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 33%,#f1f1f1 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 33%,#f1f1f1 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 33%,#f1f1f1 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 33%,#f1f1f1 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ) !important; /* IE6-8 */
}

.search-box-large + .search-box-submit[type="submit"] {
    border-radius: 0 17px 17px 0;
    height: 34px !important;
}

/* Vendor prefixes - do not combine rules */

::-webkit-input-placeholder {
    color: #777;
}

:focus::-webkit-input-placeholder{
    color:transparent;
}

:-moz-placeholder { /* Firefox 18- */
    color: #777;
}

:focus:-moz-placeholder {
    color: transparent;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #777;
}

:focus::-moz-placeholder {
    color: transparent;
}

:-ms-input-placeholder {
    color: #777;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

/* States */

.search-box-submit[type="submit"]:hover {
    border-color: #bababa !important;
    color: #333 !important;
}

.search-box.search-box-focus {
    border-color: #888;
}