<footer class="site-footer">
	<div class="wrap">

		<ul>
			<li><a href="http://www.okta.com" target="_blank">Okta.com</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Contact Sales</a></li>
			<li><a href="#">Contact Support</a></li>
		</ul>

		<ul>
			<li><a class="icon-with-hover--github" href="http://github.com/okta" target="_blank">Github</a></li>
			<li><a class="icon-with-hover--twitter" href="http://twitter.com/okta" target="_blank">Twitter</a></li>
			<li><a class="icon-with-hover--stack-overflow" href="http://stackoverflow.com/search?q=okta" target="_blank">Stack Overflow</a></li>
			<li><a class="icon-with-hover--rss" href="http://feeds.feedburner.com/OktaBlog" target="_blank">News</a></li>
			<li><a class="icon-with-hover--help" href="http://community.okta.com" target="_blank">Help</a></li>
		</ul>

	</div>
</footer>
