<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/ico/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=1.0, user-scalable=no">
  <title>Okta Developers</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  {% if page.css %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{ page.css }}.css" type="text/css" />
  {% endif %}
</head>
<body data-scrollspy="scrollspy" data-target="#sidebar" {% if page.url != "/index.html" %} class="body-features" {% endif %}>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html"><span class="logo-dev">developers</span></a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/features" {% if page.url == "/features.html" %} class="active-nav" {%else%}  class="black" {% endif %}>Features</a></li>
         <li><a href="/docs" {% if page.url == "/docs.html" %} class="active-nav" {%else%} class="black" {% endif %} >Docs</a></li>
         <li><a href="/pricing" {% if page.url == "/docs.html" %} class="active-nav" {%else%} class="black" {% endif %} >Pricing</a></li>
         <li><a href="/blog" {% if page.url == "/docs.html" %} class="active-nav" {%else%} class="black" {% endif %} >Blog</a></li>
         <li><a href="/discussion" {% if page.url == "/discussion.html" %} class="mrg-right-15 active-nav" {%else%} class="mrg-right-15 black" {% endif %}>Discussion</a></li>
         <li><a href="http://www.okta.com" data-num="{{p.weight}}" class="button-gray visit">Visit Okta.com</a></li>
        <li><a href="/signup" data-num="{{p.weight}}" class="button  nav-button-padding "><strong>Get Started</strong></a></li>
       </ul>
     </div>
   </div>
 </nav>
