<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	
	<link rel="stylesheet" href="{{ "/assets/css/master.css" | prepend: site.baseurl }}">
	{% if page.css %}<link rel="stylesheet" href="{{ "/assets/css/page-" | prepend: site.baseurl | append: page.css }}.css">{% endif %}
	{% if page.url contains '/docs/' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ "/assets/css/page/docs.css" | prepend: site.baseurl }}">
	<script src="{{ "/assets/js/page/scrollspy.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/page/docs.js" | prepend: site.baseurl }}"></script>
	<script src="//use.typekit.net/pls8pog.js"></script>
  	<script>try{Typekit.load();}catch(e){}</script>
	{% endif %}
</head>
