<header class="site-header">
	<div class="wrap">
		
		<h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

		<nav id="primary-nav" class="site-nav">
			<div><a href="{{ "features/" | prepend: site.baseurl }}">Features</a></div>
			<div><a href="{{ "pricing/" | prepend: site.baseurl }}">Pricing</a></div>
			<div><a href="{{ "customers/" | prepend: site.baseurl }}">Customers</a></div>
			<div><a href="{{ "docs/" | prepend: site.baseurl }}">Documentation</a></div>
			<div><a href="{{ "discuss/" | prepend: site.baseurl }}">Discussion</a></div>
			<div><a href="#">Support</a></div>
		</nav>
		
		<div class="cta-button">
			<a href="https://www.okta.com/developer/signup/" class="button--small">Try Okta Free</a>
		</div>
		
	</div>
</header>