<header class="site-header">
	<div class="wrap">

		<h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

		<nav id="primary-nav" class="site-nav">
			<ul>
				<li><a href="{{ "features/" | prepend: site.baseurl }}">Features</a></li>
				<li><a href="{{ "pricing/" | prepend: site.baseurl }}">Pricing</a></li>
				<li><a href="{{ "customers/" | prepend: site.baseurl }}">Customers</a></li>
				<li><a href="{{ "docs/guides/overview.html" | prepend: site.baseurl }}">Documentation</a></li>
				<li><a href="{{ "discussion/" | prepend: site.baseurl }}">Discussion</a></li>
				<li class="has-dropdown"><a href="#">Support</a>
					<div class="dropdown-window">
						<p class="stack-overflow">
							Post your question on <a href="http://stackoverflow.com/search?q=okta">Stack Overflow</a>.<br />
							We'll answer it within 24 hours.
						</p>
						<p class="email">
							Email us:<br />
							<a href="mailto:developers@okta.com">developers@okta.com</a>
						</p>
						<p class="tel">
							Call us:<br />
							<a href="tel:18777227871">1 (877) 722-7871</a>
						</p>
					</div>
				</li>
			</ul>
		</nav>

		<a href="#" class="search-button gsc-trigger"></a>
		<div class="gsc-container hide">
			<script>
				(function() {
					var cx = '005121479574088032773:mmh_vhv8uns';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//www.google.com/cse/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
			</script>
			<gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only>
		</div>
		<a href="https://www.okta.com/developer/signup/" class="cta-button button--small">Get Started</a>

	</div>
</header>