<!-- iterate through yml data file, pull page data-->
{% assign section = page.path | split: '/' %}

{% for nav in site.data.docs %}
<h2>{{ nav.title }}</h2>
<ul {% if section[1] != nav.section %} class="closed" {% endif %}>
  {% for item in nav.pages %}
    {% for page in site.pages %}
      {% if page.layout == 'docs_page' %}
        {% assign name = page.path | replace: '.md', '' | split: '/' | last | downcase %}
        {% if name == item %}
          <li data-name="{{ page.title }}"><a href="/docs/{{ nav.section }}/{{ item }}.html">{{ page.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  {% endfor %}
</ul>
{% endfor %}

