.clearfix {
	overflow: inherit;
	zoom: 1;
}

.logo-placard {
	background: #fff;
	border-bottom: 2px solid $colorGreyLight;
	height: 120px;
	line-height: 120px;
	padding: 30px;
	text-align: center;
	
	img {
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
		vertical-align: middle;
	}
}

.button--large {
	background: $colorGreen;
	border: 1px solid $colorGreenDark;
	border-radius: 3px;
	box-shadow: none;
	color: $colorWhite;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	height: 65px;
	line-height: 65px;
	padding: 0 40px;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	transition: 0.2s all;
	
	&:active, &:focus, &:hover {
		background: mix($colorGreen, $colorWhite, 90%);
		border-color: mix($colorGreenDark, $colorWhite, 90%);
		color: $colorWhite;
	}
}

.tabber {
	@extend .clearfix;
	border: solid $colorGreyLight;
	border-width: 1px 0;
	margin-bottom: 40px;
	
	> ul {
		@extend .wrap;
		border-left: 1px solid $colorGreyLight;
		box-sizing: border-box;
		padding: 0;
	}
	
	li {
		border-right: 1px solid $colorGreyLight;
		box-sizing: border-box;
		float: left;
		width: 20%;
	}
	
	a {
		border-bottom: 4px solid transparent;
		color: #000;
		display: block;
		padding: 24px 12px;
		text-decoration: none;
		vertical-align: middle;
		
		&:active, &:focus, &:hover {
			border-bottom-color: $colorGreyLight;
		}
		
		&.active {
			border-bottom-color: $colorBlue;
		}
		
		i, span {
			display: inline-block;
			vertical-align: middle;
		}
		
		i {
			height: 48px;
			margin-right: 12px;
			width: 24px;
		}
	}
}

.tabber-targets {
	> * {
		float: left;
		margin-right: -100%;
		position: relative;
		width: 100%;
	}
}

.btn {
	@include scaleDownFontSizeBy(1/2);
	background: none;
	border: 1px solid $colorGreyLighter;
	border-radius: 3px;
	color: $colorBlack;
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	
	&:active,
	&:focus,
	&:hover {
		background: none;
		border-color: $colorBlue;
		color: $colorBlueDark;
	}
}