.row {
	margin: ($lineHeight * $fontSize * 2) ($gutterWidth * -1/2);
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

[class*=col-] {
	box-sizing: border-box;
	float: left;
	padding: 0 ($gutterWidth * 1/2);
	position: relative;
	width: 100%;
	
	+ [class*=col-] {
		margin-top: $gutterWidth * 1/2;
	}
	
	&.extra-padding--left {
		padding-left: $gutterWidth * 3/2;
		
		.column-icon {
			left: ($gutterWidth * 5/4);
		}
	}
	
	&.extra-padding--right {
		padding-right: $gutterWidth * 3/2;
	}
}

.column-icon {
	background-size: 39px;
	height: 39px;
	left: ($gutterWidth * 1/4);
	margin-left: -39px;
	margin-top: -20px;
	position: absolute;
	top: ($lineHeight * .5em);
	width: 39px;
	z-index: 10;
}

@include breakpoint(small) {
	[class*=col-] + [class*=col-] {
		margin-top: 0;
	}
	
	.col-1-2 {
		width: 100% * 1/2;
	}
	
	.col-1-3 {
		width: 100% * 1/3;
	}
	
	.col-2-3 {
		width: 100% * 2/3;
	}
	
	.col-1-4 {
		width: 100% * 1/2;
		
		+ .col-1-4 {
			margin-top: $gutterWidth;
			
			&:nth-child(2) {
				margin-top: 0;
			}
		}
	}
	
	.col-3-4 {
		width: 100% * 3/4;
	}
}

@include breakpoint(medium) {
	.col-1-4 {
		width: 100% * 1/4;
		
		+ .col-1-4 {
			margin-top: 0;
		}
	}
}