.site-header {
	background: #fff;
	border-bottom: 1px solid $colorGreyLight;
	box-sizing: border-box;
	height: $headerHeight;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;
	
	.cta-button {
		display: none;
		position: absolute;
		right: ($gutterWidth * 1/4);
		top: ($headerHeight - 41) / 2;
		width: 160px;
	}
	
	.search-button {
		background: url(/assets/svg/magnify.svg);
		background-size: 30px;
		display: block;
		height: 30px;
		position: absolute;
		right: ($gutterWidth * 1/4);
		top: ($headerHeight - 31) / 2;
		transition: none;
		width: 30px;
		z-index: 10;
	}
}

.site-title {
	background: url(/assets/images/logo.png) no-repeat center;
	background-size: auto 44px;
	display: block;
	float: left;
	height: $headerHeight - 1;
	margin: 0;
	position: relative;
	width: 157px;
	z-index: 10;
	
	a {
		display: block;
		height: 100%;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 100%;
	}
}

.site-nav {
	height: $headerHeight - 1;
	left: ($gutterWidth * 1/4);
	padding: 0 0 0 177px;
	position: absolute;
	right: ($gutterWidth * 1/4) + 50;
	text-align: right;
	top: 0;
	z-index: 5;
	
	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	> ul > li, > .pac-nav--desktop > ul > li {
		float: left;
		line-height: 30px;
		height: 30px;
		padding: (($headerHeight - 31) / 2) 0;
		position: relative;
	}
	
	> .pac-nav--desktop,
	> .pac-nav--mobile,
	> .pac-nav--toggle {
		display: block;
		padding: 0;
		height: auto;
	}
	
	> ul > li > a, > .pac-nav--desktop > ul > li > a {
		@include scaleDownFontSizeBy(1/2);
		color: #333;
		display: inline-block;
		font-weight: 500;
		margin-left: 20px;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.pac-nav--hidden,
	&.pac-nav--is-desktop .pac-nav--toggle,
	&.pac-nav--is-desktop .pac-nav--mobile {
		display: none !important;
	}
	
	.pac-nav--toggle {
		cursor: pointer;
	}
	
	&.pac-nav--is-intermediary,
	&.pac-nav--is-mobile {
		padding-right: 50px;
		
		.pac-nav--toggle {
			background: no-repeat center;
			background-size: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			top: (($headerHeight - 1) / 2) - 15;
			width: 30px;
		}
	}
	
	&.pac-nav--is-intermediary .pac-nav--toggle {
		background-image: url(/assets/svg/dots-horizontal.svg);
	}
	
	&.pac-nav--is-mobile .pac-nav--toggle {
		background-image: url(/assets/svg/menu.svg);
	}
	
	.pac-nav--mobile {
		background: $colorBlack;
		border-radius: 3px;
		min-width: 180px;
		position: absolute;
		padding: 5px 0;
		right: 0;
		top: (($headerHeight - 1) / 2) + 20;
		z-index: 999;
		
		&:before {
			border: solid transparent;
			border-bottom-color: $colorBlack;
			border-width: 0 5px 5px;
			content: "";
			display: block;
			position: absolute;
			right: 10px;
			top: -5px;
		}
		
		ul, li {
			float: none;
		}
		
		> ul > li {
			border-bottom: 1px solid $colorGreyDark;
			margin: 0 10px;
			
			&:last-child {
				border-bottom: 0;
			}
			
			> a {
				color: #fff;
				display: block;
				margin: 0 -10px;
				padding: 5px 10px;
				text-decoration: none;
				
				&:active, &:focus, &:hover {
					background: $colorGreyDark;
				}
			}
		}
	}
	
	&.pac-nav--is-mobile .pac-nav--mobile {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		text-align: left;
		top: ($headerHeight - 1);
		
			&:before {
			border-width: 0 10px 10px;
			right: ($gutterWidth * 1/4) + 55;
			top: -10px;
		}
	}
	
	.has-dropdown > a:after {
		border: solid transparent;
		border-bottom-color: $colorWhite;
		border-width: 0 5px 5px;
		content: "";
		display: none;
		left: 50%;
		margin-left: 5px;
		position: absolute;
		top: (($headerHeight - 1) / 2) + 15;
		z-index: 10;
	}
	
	.dropdown-window {
		background: $colorWhite;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, .3) 0 0 30px;
		display: none;
		padding: 10px;
		position: absolute;
		right: 0;
		top: (($headerHeight - 1) / 2) + 20;
		z-index: 5;
		
		> p {
			@include scaleDownFontSizeBy(3/4);
			background: no-repeat top left;
			border-bottom: 1px solid $colorGreyLighter;
			height: 40px;
			line-height: 20px;
			margin: 0 0 10px;
			padding: 0 20px 10px 50px;
			position: relative;
			text-align: left;
			white-space: nowrap;
			
			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			
			&.stack-overflow {
				background-image: url(/assets/images/icons/rounded-stackoverflow--small-blue.png);
			}
			
			&.email {
				background-image: url(/assets/images/icons/rounded-email--small-blue.png);
			}
			
			&.tel {
				background-image: url(/assets/images/icons/rounded-mobile--small-blue.png);
			}
		}
		
		a {
			font-weight: 500;
			text-decoration: none;
		}
	}
	
	.has-dropdown.dropdown-active > a {
		&:after,
		+ .dropdown-window {
			display: block;
		}
	}
	
	.pac-nav--mobile .pac-nav--visible + .has-dropdown {
		margin-bottom: 30px;
		margin-top: 30px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.pac-nav--mobile .has-dropdown {
		> a,
		> a + .dropdown-window {
			display: block !important;
		}
		
		> a {
			cursor: default;
			
			&:active, &:focus, &:hover {
				background: none;
			}
			
			&:after {
				display: none !important;
			}
		}
		
		.dropdown-window {
			background: none;
			border-top: 1px solid $colorGreyDark;
			padding: 10px 0 5px;
			position: static;
			
			a {
				color: #fff;
				display: inline;
				font-weight: 500;
				padding: 0;
				
				&:active, &:focus, &:hover {
					text-decoration: underline;
				}
			}
			
			> p  {
				border-bottom-color: $colorGreyDark;
				color: $colorGreyLight;
				
				&:last-child {
					border-bottom: 0;
				}
			
				&.stack-overflow {
					background-image: url(/assets/images/icons/rounded-stackoverflow--small-grey.png);
				}
				
				&.email {
					background-image: url(/assets/images/icons/rounded-email--small-grey.png);
				}
				
				&.tel {
					background-image: url(/assets/images/icons/rounded-mobile--small-grey.png);
				}
			}
		}
	}
}