body {
	padding-top: $headerHeight;
}

.wrap {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: $pageWidth;
	padding: 0 ($gutterWidth * 1/4);
	position: relative;
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.page-content {
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.section--full-width {
	background: $colorWhite;
	padding: 45px 0;
	position: relative;
		
	header {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&.bg--dark-blue, &.bg--blue {
		&, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
	
	&.bg--dark-blue {
		background: $colorBlueDark;
	}
	
	&.bg--blue {
		background: $colorBlue;
	}
	
	&.bg--light-blue {
		background: $colorBlueLight;
	}
	
	&.bg--light-grey {
		background: $colorGreyLighter;
	}
	
	&.extra-padding--for-anchor {
		margin-top: -$headerHeight;
		padding-top: $headerHeight + 45;
	}
	
	&:not([class*=bg--]) + .section--full-width:not([class*=bg--]) {
		border-top: 10px solid $colorGreyLighter;
	}
	
	.wrap + .wrap {
		margin-top: 40px;
	}
	
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			z-index: (10 - $i);
		}
	}
}

#valprop {
	padding: 60px 0;
	
	h1, p {
		color: $colorWhite;
	}
	
	p {
		max-width: 640px;
	}
	
	.button--large {
		margin-top: $lineHeight * $fontSize * 1;
	}
}

#bottom-cta {
	.wrap {
		@include centeredMaxWidth(660px);
	}
}

img.responsive--full-width {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}