@mixin scaleDownFontSizeBy($power) {
	font-size: 1em / pow($sizingRatio, $power);
}

@mixin scaleUpFontSizeBy($power) {
	font-size: 1em * pow($sizingRatio, $power);
}

@mixin defaultTransition() {
	transition: 0.2s all;
}

@mixin centeredMaxWidth($width) {
	margin-left: auto;
	margin-right: auto;
	max-width: $width;
}

@mixin breakpoint($point) {
	@if $point == extra-small {
		@media (min-width: #{$breakpointExtraSmall}) { @content; }
	}
	@else if $point == small {
		@media (min-width: #{$breakpointSmall}) { @content; }
	}
	@else if $point == medium {
		@media (min-width: #{$breakpointMedium}) { @content; }
	}
	@else if $point == large {
		@media (min-width: #{$breakpointLarge}) { @content; }
	}
}