@mixin scaleDownFontSizeBy($power) {
	font-size: 1em / pow($sizingRatio, $power);
}

@mixin scaleUpFontSizeBy($power) {
	font-size: 1em * pow($sizingRatio, $power);
}

@mixin defaultTransition() {
	transition: 0.2s all;
}

@mixin centeredMaxWidth($width) {
	margin-left: auto;
	margin-right: auto;
	max-width: $width;
}