@mixin scaleDownFontSizeBy($power) {
	@if $power == 0.4 {
		font-size: 1em / $calculatedPower_0_4;
	}
	@else if $power == 0.8 {
		font-size: 1em / $calculatedPower_0_8;
	}
	@else if $power == 1.2 {
		font-size: 1em / $calculatedPower_1_2;
	}
	@else if $power == 1.6 {
		font-size: 1em / $calculatedPower_1_6;
	}
	@else if $power == 2.0 {
		font-size: 1em / $calculatedPower_2_0;
	}
	@else if $power == 2.4 {
		font-size: 1em / $calculatedPower_2_4;
	}
	@else if $power == 2.8 {
		font-size: 1em / $calculatedPower_2_8;
	}
	@else if $power == 3.2 {
		font-size: 1em / $calculatedPower_3_2;
	}
	@else if $power == 3.6 {
		font-size: 1em / $calculatedPower_3_6;
	}
	@else if $power == 4.0 {
		font-size: 1em / $calculatedPower_4_0;
	}
	@else if $power == 4.4 {
		font-size: 1em / $calculatedPower_4_4;
	}
	@else if $power == 4.8 {
		font-size: 1em / $calculatedPower_4_8;
	}
}

@mixin scaleUpFontSizeBy($power) {
	@if $power == 0.4 {
		font-size: 1em * $calculatedPower_0_4;
	}
	@else if $power == 0.8 {
		font-size: 1em * $calculatedPower_0_8;
	}
	@else if $power == 1.2 {
		font-size: 1em * $calculatedPower_1_2;
	}
	@else if $power == 1.6 {
		font-size: 1em * $calculatedPower_1_6;
	}
	@else if $power == 2.0 {
		font-size: 1em * $calculatedPower_2_0;
	}
	@else if $power == 2.4 {
		font-size: 1em * $calculatedPower_2_4;
	}
	@else if $power == 2.8 {
		font-size: 1em * $calculatedPower_2_8;
	}
	@else if $power == 3.2 {
		font-size: 1em * $calculatedPower_3_2;
	}
	@else if $power == 3.6 {
		font-size: 1em * $calculatedPower_3_6;
	}
	@else if $power == 4.0 {
		font-size: 1em * $calculatedPower_4_0;
	}
	@else if $power == 4.4 {
		font-size: 1em * $calculatedPower_4_4;
	}
	@else if $power == 4.8 {
		font-size: 1em * $calculatedPower_4_8;
	}
}

@mixin defaultTransition() {
	transition: 0.2s all;
}

@mixin centeredMaxWidth($width) {
	margin-left: auto;
	margin-right: auto;
	max-width: $width;
}

@mixin breakpoint($point) {
	@if $point == extra-small {
		@media screen and (min-width: #{$breakpointExtraSmall}) { @content; }
	}
	@else if $point == small {
		@media screen and (min-width: #{$breakpointSmall}) { @content; }
	}
	@else if $point == medium {
		@media screen and (min-width: #{$breakpointMedium}) { @content; }
	}
	@else if $point == large {
		@media screen and (min-width: #{$breakpointLarge}) { @content; }
	}
}

@mixin clearfix() {
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}