body {
	color: $fontColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: 300;
	line-height: $lineHeight * 1em;
}

.text-align--center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

p, ul, ol, blockquote {
	line-height: $lineHeight * 1em;
	margin: ($lineHeight * $fontSize * 1) 0;
	
	&.text--medium {
		@include scaleUpFontSizeBy(0.8);
	}
	
	&.text--large {
		@include scaleUpFontSizeBy(1.6);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #353435;
	font-weight: 300;
	line-height: 1.1em;
	margin: ($lineHeight * $fontSize * 2) 0 ($lineHeight * $fontSize * 1);
	
	&.text--small {
		color: #000;
		font-weight: 500;
		text-transform: uppercase;
	}
}

h1, .h1 {
	@include scaleUpFontSizeBy(4.8);
	
	&.text--small {
		@include scaleUpFontSizeBy(2.4);
	}
}

h2, .h2 {
	@include scaleUpFontSizeBy(4.0);
	
	&.text--small {
		@include scaleUpFontSizeBy(2.0);
	}
}

h3, .h3 {
	@include scaleUpFontSizeBy(3.2);
	
	&.text--small {
		@include scaleUpFontSizeBy(1.6);
	}
}

h4, .h4 {
	@include scaleUpFontSizeBy(2.4);
	
	&.text--small {
		@include scaleUpFontSizeBy(1.2);
	}
}

h5, .h5 {
	@include scaleUpFontSizeBy(1.6);
	
	&.text--small {
		@include scaleUpFontSizeBy(0.8);
	}
}

h6, .h6 {
	@include scaleUpFontSizeBy(0.8);
	
	&.text--small {
		@include scaleUpFontSizeBy(0.4);
	}
}

a {
	@include defaultTransition;
	color: $colorBlue;
	
	&:active, &:focus, &:hover {
		color: mix($colorBlue, #fff, 70%);
	}
}

strong {
	font-weight: 500;
}

ul.list--with-bullets {
	li {
		padding-left: 6px + $gutterWidth / 4;
		position: relative;
		
		&:before {
			background: $colorGreen;
			border-radius: 3px;
			content: "";
			display: block;
			height: 6px;
			left: 0;
			margin-top: -3px;
			position: absolute;
			top: ($lineHeight * 1em) / 2;
			width: 6px;
		}
		
		+ li {
			margin-top: $lineHeight * $fontSize * 1/2;
		}
	}
}

.trailing-link {
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}