/*
 * Layout
 ------------------------------------------------------------ */
$headerHeight:			90px;
$stickyNavHeight:		60px;
$pageWidth:				1230px;
$gutterWidth:			60px;


/*
 * Colors
 ------------------------------------------------------------ */
$colorBlue:				#016aab;
$colorBlueDark:			#004169;
$colorBlueLight:		#dfedf3;
$colorGreen:			#7aa82d;
$colorGreenDark:		#43712f;
$colorGrey:				#818081;
$colorGreyDark:			#353435;
$colorGreyLight:		#c1c1c1;
$colorGreyLighter:		#f1f1f1;

$colorBlack:			#000;
$colorWhite:			#fff;
$colorCyan: 			#0acacc;
$colorOrange:			#fc5f35;


/*
 * Typography
 ------------------------------------------------------------ */
$fontSize:				16px;
$mobileFontSize:		14px;
$intermediaryFontSize:	15px;
$desktopFontSize:		$fontSize;

$fontColor:				#666;
$fontFamily:			"proxima-nova", "ProximaNova Light", Helvetica, Arial, sans-serif;
$lineHeight:			1.5;
$sizingRatio:			1.225;