// Since we are new introducing a totally new style
// Some of it is very specific to this page
.pricing-preview {

	#top-nav-cta {
		visibility: hidden;
	}

	p {
		@include font-weight('x-small');
		@include line-height('small');
	}

	%Wrap {
		@include padding(0 medium);
		max-width: $new-site-width;
		@include media("<small") {
			@include padding(0 small);
		}
		@include media("<325px") {
			@include padding(0 xx-small);
		}
	}
}

%StormpathSection {
	@include padding(x-large 0);
	overflow: hidden;

	header {
		@include margin(small 0);
		text-align: center;

		h2 {
			@include color('new-gray-dark');
			@include font-size('new-h2');
			@include font-weight('small');
			@include line-height('new-h2');
		}

	}

	%Button {
		height: 42px;
		@include line-height('new-button');
	}

	a:not(.Button) {
		@include font-weight('mediumbold');
		@include font-size('base');
	}

	.trailing-link {
		text-transform: inherit;
		&:after {
			@include color('blue-bright');
		}
	}

	ul {
		@include line-height('new-small');
		li {
			margin-bottom: get-spacing('x-small');
		}
	}
}

.StormpathSection,
[class^='StormpathSection--'],
[class*=' StormpathSection--'] {
	@extend %StormpathSection;
}


.StormpathSection--pricing {
	.StormpathPricing {
		display: flex;
		flex-direction: column;
		height: 541px;
		overflow: hidden;
		width: 100%;
		border-radius: $border-radius;

		&-kicker {
			p {
				text-align: center;
				@include padding(18px small);
				@include font-size('h6');
				@include font-weight('base');
				@include color('new-gray-dark');
			}
		}
		&-content {
			padding: 10 + get-spacing('small');
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			position: relative;
		}
		&.Free {
			background: get-color('gray-lightest');
			.StormpathPricing-kicker {
				background: get-color('gray-light');
			}
		}

		&.Developer {
			background: get-color('blue-medium');
			@include color('white');
			.StormpathPricing-kicker {
				p {
					@include color('white');
					background: get-color('blue-bright');
				}

			}
			.is-bottom {
				a {
					@include color('white');
				}
			}
			.trailing-link {
				&:after {
					@include color('white');
				}
			}
		}

		&.Enterprise {
			background: get-color('gray-lightest');
			.StormpathPricing-kicker {
				background: get-color('gray-light');
			}
			.Pricing-amount {
				span {
					font-size: 20px !important;
					@include color('new-gray-dark');
				}
			}
		}

		.is-bottom {
			position: absolute;
			bottom: 10 + get-spacing('small');
			left: 0px;
			right: 0px;
			padding: 0 10 + get-spacing('small');

			a {
				@include color('blue-bright');
			}

			.Pricing-details {
				@include font-size('new-small');
				@include line-height('small');
				@include font-weight('semibold');
				margin-bottom: 16px;
			}
			.Pricing-amount {
				@include font-size('h4');
				span {
					@include font-size('base');
					@include line-height('small');
					@include font-weight('small');
				}
			}
			.Pricing-info {
				p {
					@include font-weight('base');
				}
			}
		}

		&-details {
			@include padding(small 0);
			margin: 0 1px;
			table {
				border-radius: $border-radius;
				border-style: hidden;
				box-shadow: 0 0 0 $border-size get-color('blue-medium');
				thead {
					background: get-color('blue-medium');
					text-transform: uppercase;
					@include font-weight('small');
					@include font-size('new-small');
					@include color('gray-lightest');
					@include line-height('small');
				}
				td {
					@include padding(4px 20px);
					@include line-height('small');
					border: $border-size solid get-color('blue-medium');
				}
				tr + tr {
					border: $border-size solid get-color('blue-medium');
				}
				td:nth-child(even) {
					text-align: left;
				}
				td:nth-child(odd) {
					text-align: right;
				}
			}
		}
	}

	.list--with-icons {
		@include font-weight('semibold');
		@include margin(0);
		.icons {
			&:before {
				background-repeat: no-repeat;
				content: '';
				display: inline-block;
				position: absolute;
				top: get-line-height('base') - 22;
				background-size: 14px 14px;
				height: 14px;
				width: 14px;
				margin-right: 8px;
				left: 0;
			}
		}

		.platform {
			&:before {
				background-image: image_url("platform.svg");
			}
		}

		.user {
			&:before {
				background-image: image_url("user.svg");
			}
		}

		.user-white {
			&:before {
				background-image: image_url("user-white.svg");
			}
		}

		.platform-white {
			&:before {
				background-image: image_url("platform-white.svg");
			}
		}

		.auth {
			&:before {
				background-image: image_url("auth.svg");
			}
		}
	}

	.list--with-mark {
		margin-top: get-spacing('xx-small');
	}
}

.StormpathSection--getstarted {
	background: get-color('gray-lightest');
	%Wrap {
		max-width: $new-narrow-site-width;
	}

	.list--with-bullets {
		li {
			&:before {
				background: get-color('default');
			}
		}
	}
	.Cta {
		margin-top: get-spacing('medium');
		text-align: center;
		a {
			+ a {
				margin-left: get-spacing('small');
			}
		}
	}
}

.StormpathSection--bottom-cta {
	@include color('white');
	background: get-color('blue-bright');
	text-align: center;

	header h2 {
		@include color('white');
	}

	.Button {
		border-color: get-color('white');
		color: get-color('white');
	}
}

.StormpathSection--customers {
	.logo-placard {
		&.is-larger {
			padding: get-spacing('xx-small');
			line-height: 150px;
		}
	}
}
