
/* -------------------------- CUSTOMER INDEX PAGE */

.customers-index .title-block {
  text-align: center;
  margin-bottom: 2em;
}

.customer-row {
  padding: 1.5em 0;
}

.customer-row .customer-logo-wrap {
  border: 1px solid #ccc;
  width: 220px; height: 165px;
  overflow: hidden;
}

.customer-row .customer-logo {
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.customer-row h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: .2em;
  color: #000;
}

.customer-row p {
  font-size: 1.1em;
  /* max-height: 4em; -- 3 lines of text */
  color: #666;
  overflow: hidden;
}

.customer-row a:hover h2,
.customer-row a:hover p {
  color: #000;
}

.customer-row .customer-logo:hover {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.customer-row .view-study-link {
  text-transform: uppercase;
  font-weight: 300;
}

.customer-row .view-study-link span {
  font-family: arial, sans-serif;
  position: relative;
  top: -1px;
}



/* -------------------------- CUSTOMER STORY PAGE */

/* -- layout */
.customer-story-layout {
  display: table;
}

.customer-story-body {
  display: table-cell;
  padding: 3em;
}

.customer-story-sidebar {
  display: table-cell;
  background: #e1eff6;
  width: 300px;
}


/* -- body */
.customer-story-body h2 {
  margin-top: 2em;
  font-size: 24px;
}
.customer-story-body h2:first-child {
  margin-top: 0;
}

.customer-story-body h3 {
  margin-top: 1em;
  font-size: 20px;
}
.customer-story-diagram {
  width: 694px;
  margin-top: 30px;
}

.customer-story .title-block {
  position: relative;
  height: 220px;
  padding-top: 3em;
  background-size: 1080px 220px;
  background-repeat: no-repeat;
}

.customer-story .title-block h1,
.customer-story .title-block p {
  text-align: left;
  margin-left: 320px;
  color: #fff;
}
.customer-story .title-block h1 {
  margin-top: 10px;
}


/* -- sidebar */
.customer-story-sidebar blockquote,
.customer-story-sidebar h2,
.customer-story-sidebar li,
.customer-story-sidebar p {
  font-size: 14px;
}

.customer-story-sidebar blockquote {
  margin: 0;
  padding: 0;
  border: 0 none;
  margin-bottom: 3em;
  border-left: 3px solid #789;
  padding-left: 20px;
}
.customer-story-sidebar blockquote em {
  color: #888;
}

.customer-story-sidebar h2 {
  font-weight: 700;
  color: #000;
}

.customer-story-sidebar p {
  margin-top: 1em;
}
