
/* -------------------------- DOCS INDEX */

.docs-index-body {
  padding: 4em;
}

.docs-index-body .docs-section {
  margin-bottom: 4em;
}

.docs-index-body h2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #888;
  margin-bottom: .5em;
}

.docs-index-list {
  margin-left: 10px;
}

.docs-index-list li:before {
  font-family: fontawesome;
  font-size: 14px;
  color: #ccc;
  content: '\f097';
  margin-right: 5px;
}



/* -------------------------- LAYOUT */

.docs-page {
  position: relative;
}

.docs-body {
  padding: 3em;
  padding-top: 1em;
  margin-left: 320px;
}

.docs-sidebar {
  background: #e1eff6;
  width: 320px;
  padding-top: 1em;
  position: absolute;
  left: 0;
  top: 120px;
  bottom: 0;
}

.docs-sidebar-block {
  margin-bottom: 25px;
}

#scroll-top-button {
  position: fixed;
  bottom: 91px;
  right: 10%;
  left: 90%;
  width: 140px;
  padding: 1em 2em;
  background: #f0f0f0;
  font-size: 12px;
  border: 1px solid #ddd;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in,
                      .2s background ease-in,
                      .2s color ease-in,
                      .05s position ease-out;
  transition:         .2s opacity ease-in,
                      .2s background ease-in,
                      .2s color ease-in,
                      .05s position ease-out;
}

#scroll-top-button.on {
  opacity: 1;
}

#scroll-top-button:before {
  font-family: fontawesome;
  content: '\f0a6';
  margin-right: 10px;
}

#scroll-top-button:hover {
  text-decoration: none;
  background: #fafafa;
}


/* -------------------------- TITLE BLOCK */

.docs-page .title-block {
  padding: 1.5em;
  padding-left: 45px;
  height: 120px;
}



/* -------------------------- SIDEBAR */

.docs-sidebar ul {
  border: 1px solid transparent; /* hack fixes jquery slidetoggle jump */
  margin-left: 20px;
}
.docs-sidebar .closed ul {
  display: none;
}
.docs-sidebar li {
  font-size: 14px;
  margin: 0;
  padding: .2em 0;
}
.docs-sidebar li.on {
  background: rgba(255,255,255,.6);
  position: relative;
  padding: .2em .5em;
  left: -.5em;
}

.docs-sidebar h2 {
  color: #0976a6;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px;
}

.docs-sidebar .caret {
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  top: -1px;
}

.docs-sidebar .closed .caret {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}



/* -------------------------- TYPOGRAPHY */

.docs-body div,
.docs-body p,
.docs-body ul > li {
  font-size: 16px;
}

#docs-page-title,
.docs-body h1 {
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #888;
}

.docs-body h2, .docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  color: #000;
}

.docs-body h2 {
  font-size: 22px;
  margin: 2em 0 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #567;
}

.docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  margin-top: 30px;
  color: #456;
}

.docs-body h3 {
  font-size: 18px;
}

.docs-body h4, .docs-body h5, .docs-body h6 {
  font-size: 16px;
}

.docs-body blockquote {
  margin: 20px 0;
  border-left: 7px solid #fed;
  background: #fffaf0;
  padding: 20px;
}

.docs-body blockquote p {
  color: #000;
}

.docs-body a {
  text-decoration: underline;
}

.docs-body table {
  margin: 20px auto;
  width: 98%;
  border: 1px dotted #f0f0f0;
  max-width: 98%;
  word-break: break-word;
}

.docs-body tr {
  border-bottom: 1px dotted #999;
}

.docs-body th {
  text-align: left;
  background: #eee;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  vertical-align: top;
  word-break: normal;
}

.docs-body td {
  padding: 3px 5px;
  border-right: 1px dotted #f0f0f0;
}

.docs-body table code {
  background: transparent;
  color: #090;
}



/* -------------------------- TOC */

.toc {
  padding: 1em;
  background: #fafafa;
  border: 1px solid #f0f0f0;
}

.toc a {
  text-decoration: none;
}

#toc-title {
  font-size: 14px;
  font-weight: 700;
  color: #456;
  border: 0 none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

#toc-title:before {
  font-family: fontawesome;
  content: '\f02d';
  margin-right: 5px;
}

.toc li {
  font-size: 14px !important;
  margin-left: 15px;
}

.toc li:before {
  font-family: fontawesome;
  content: '\f097';
  font-size: 12px;
  color: #ccc;
  margin-right: 6px;
}
