
/* -- layout */
.docs-page-layout {
  display: table;
}

.docs-page-body {
  display: table-cell;
  padding: 3em;
}

.docs-page-sidebar {
  display: table-cell;
  background: #e1eff6;
  width: 300px;
}


/* -- body */
.docs-page-body h2 {
  margin-top: 2em;
  font-size: 22px;
}
.docs-page-body h2:first-child {
  margin-top: 0;
}


/* -- sidebar */
.docs-page-sidebar .closed {
  display: none;
}




/* -- DOCS -- */


/* Code highlighter */
/*
pre {
  background-color: #5d5d5d;
  color: #c6ebff;
  border-radius: 0;
}

pre .s2 {
  color: #c6ebff;
}

.sh {
  color:#FDFCA6;
}

pre .nt {
  color: #fdfca7;
}

table {
  margin-bottom: 30px;
  word-break: break-word;
}

table thead tr th {
  background-color: #f9f9f9;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px 8px;
  word-break: normal;
  font-size: 11px;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;

}

tr em {
  padding: 0px;
  border-radius:5px;
  background-color: transparent;
  display: inline;
}


p em {
  display: inline-block;
}

em {
  background-color: #feffe7;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius:5px;
  display: block;
  margin: 10px 0px 10px 0px;
  font-style: normal;
}

code {
  background-color: #f9f9f9;
  color:#555;
  border-radius:5px;
}

p {
  margin-bottom: 15px;
  margin-top: 20px;
}

.sub_header_arrow {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: 30px;
  border-top: 4px solid transparent;
  border-left: 4px solid #1a74ba;
  border-bottom: 4px solid transparent;
  cursor: pointer
}

.docs-page {
  margin-top: 75px;
  background-color: #e1eff6;
}

.docs-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.docs-page h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.docs-page h3 {
  font-size: 20px;
}

.docs-page h4 {
  font-size: 18px;
}

.docs-page h5 {
  font-size: 16px;
}

.docs-page h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.docs-page p {
  font-size: 15px;
}

.docs-page table {
  width: 100%;
}

.docs-page th, .docs-page td {
  font-size: 12px;
}

.docs-page .white-bg {
  padding-top: 40px;
  width: 75%;
}

.docs-page .white-bg ul {
  display: none;
}

.docs-page .left-sidebar {
  width: 25%;
}

.page_block_name {
  color: #0069aa;
  font-size: 18px;
  margin-left: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
  display: inline-block;

}

.block-title {
  font-size: 30px;
  margin-bottom: 45px !important;
}
*/
