
/* -------------------------- DOCS INDEX */

.docs-index-body {
  padding: 4em;
}

.docs-index-body .docs-section {
  margin-bottom: 4em;
}

.docs-index-body h2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #888;
  margin-bottom: .5em;
}

.docs-index-list {
  margin-left: 10px;
}

.docs-index-list li:before {
  font-family: fontawesome;
  font-size: 14px;
  color: #ccc;
  content: '\f097';
  margin-right: 5px;
}



/* -------------------------- LAYOUT */

.docs-content {
  position: relative;
}

.docs-body {
  padding: 3em;
  padding-top: 1em;
  margin-left: 292px;
}

.docs-sidebar {
  background: #e1eff6;
  width: 292px;
  padding-top: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.docs-sidebar-block {
  margin-bottom: 25px;
}

#scroll-top-button {
  position: fixed;
  bottom: 91px;
  right: 10%;
  left: 90%;
  width: 140px;
  padding: 1em 2em;
  background: #f0f0f0;
  font-size: 12px;
  border: 1px solid #ddd;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in,
                      .2s background ease-in,
                      .2s color ease-in,
                      .05s position ease-out;
  transition:         .2s opacity ease-in,
                      .2s background ease-in,
                      .2s color ease-in,
                      .05s position ease-out;
}

#scroll-top-button.on {
  opacity: 1;
}

#scroll-top-button:before {
  font-family: fontawesome;
  content: '\f0a6';
  margin-right: 10px;
}

#scroll-top-button:hover {
  text-decoration: none;
  background: #fafafa;
}

.btn-github {
  transition: all .1s ease-in;
}
.btn-github:hover {
  background: #fdfeff;
  border-color: #0069aa;
}



/* -------------------------- TITLE BLOCK */

.docs-page .title-block {
  padding: 1.5em;
  padding-left: 45px;
  height: 120px;
}



/* -------------------------- SIDEBAR */

#docs-sidebar-wrap.fixed {
  position: fixed;
  top: 131px;  /* top offset */
  width: 236px; /* XXX: should use js to set width when fixed */
}

.docs-sidebar ul {
  border: 1px solid transparent; /* hack fixes jquery slidetoggle jump */
  margin-left: 20px;
}
.docs-sidebar .closed ul {
  display: none;
}
.docs-sidebar li {
  font-size: 14px;
  margin: 0;
  padding: .2em 0;
}
.docs-sidebar li.on {
  background: rgba(255,255,255,.6);
  position: relative;
  padding: .2em .5em;
  left: -.5em;
}

.docs-sidebar h2 {
  color: #0976a6;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px;
}

.docs-sidebar .caret {
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  top: -1px;
}

.docs-sidebar .closed .caret {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}



/* -------------------------- TYPOGRAPHY */

.docs-body b, strong {
  font-weight: 500;
}

.docs-body .alert strong {
  font-weight: bold;
}

.docs-body div,
.docs-body p,
.docs-body ul > li {
  font-size: 16px;
}

.docs-body h1 {
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #888;
}

.docs-body h2, .docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  color: #000;
}

.docs-body h2 {
  font-size: 22px;
  margin: 2em 0 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #567;
}

.docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  margin-top: 25px;
  color: #456;
}

.docs-body h3 {
  font-size: 18px;
}

.docs-body h4 {
  font-size: 16px;
}

.docs-body h5, .docs-body h6 {
  font-size: 16px;
}

.docs-body blockquote {
  margin: 20px 0;
  border-left: 7px solid #fed;
  background: #fffaf0;
  padding: 20px;
}

.docs-body blockquote p {
  color: #000;
}

.docs-body a {
  text-decoration: underline;
}

.docs-body table {
  margin: 20px auto;
  width: 98%;
  border: 1px dotted #f0f0f0;
  max-width: 98%;
}

.docs-body tr {
  border-bottom: 1px dotted #999;
}

.docs-body th {
  text-align: left;
  background: #eee;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  vertical-align: top;
  word-break: normal;
}

.docs-body .table-word-break td{
  word-break: break-word;
}

.docs-body td {
  padding: 3px 5px;
  border-right: 1px dotted #f0f0f0;
}

.docs-body table code {
  background: transparent;
  color: #090;
}

.docs-body .page-title-block {
  padding-bottom: .5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #888;
}

h1#docs-page-title {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0 none;
  width: 80%;
  display: inline-block;
}
.docs-body .page-title-block .btn {
  float: right;
  position: relative;
  top: 25px;
  text-decoration: none;
}


/* ---------------- FORM CONTROLS */

.docs-body .form-control {
  margin: 0 0;
}



/* -------------------------- TOC */

.toc {
  padding: 1em;
  background: #fafafa;
  border: 1px solid #f0f0f0;
}

.toc a {
  text-decoration: none;
}

#toc-title {
  font-size: 14px;
  font-weight: 700;
  color: #456;
  border: 0 none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

#toc-title:before {
  font-family: fontawesome;
  content: '\f02d';
  margin-right: 5px;
}

.toc li {
  font-size: 14px !important;
  margin-left: 15px;
}

.toc li:before {
  font-family: fontawesome;
  content: '\f097';
  font-size: 12px;
  color: #ccc;
  margin-right: 6px;
}

.toc ul {
  list-style-type: none;
}

/* -------------------------- Header Links */

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/* -------------------------- IMG */

.docs-body img {
  max-width: 700px;
  display: block;
}


/* -------------------------- API */

.api:before {
  font-family: fontawesome;
  margin-right: 8px;
}

.api-operation {
  font-size: 20px;
}

.api-operation:before {
  content: '\f12e';
}

.api-uri-template em {
  color: #090;
}

/*
.docs-body .api-uri-template:before {
  content: '\f135';
  margin-right: 10px !important;
}
*/

.api-request-params:before {
  content: '\f18e';
}

.api-response-params:before {
  content: '\f190';
}

.api-request-example:before {
  content: '\f0a9';
}

.api-response-example:before {
  content: '\f0a8';
}

.api-label {
  color: #ffffff;
  background-color: #456;
  font-weight: 500;
  padding: .3em .6em .3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.api-label-small {
  font-size: 80%;
}

.api-uri-template {
  background-color: #f5f5f5;
  display: inline-block;
  padding: .35em .6em .3em 0;
  margin: 10px 0 !important;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: .25em;
  line-height: 1.1;
}

.api-uri-template em {
  font-weight: bold;
}

.api-uri-template .api-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 5px;
}

.api-uri-get em {
  color: #090;
}

.api-uri-get .api-label {
  background-color: #090;
}

.api-uri-post em {
  color: #F39C44;
}

.api-uri-post .api-label {
  background-color: #F39C44;
}

.api-uri-put em {
  color: #0069aa;
}

.api-uri-put .api-label {
  background-color: #0069aa;
}

.api-uri-delete em {
  color: #d9534f;
}

.api-uri-delete .api-label {
  background-color: #d9534f;
}

.api-uri-template-cors {
  margin-top: 10px;
}

/* -------------------------- CORS */

.form-cors-test {
  margin-bottom: 20px;
}

.form-cors-test .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-cors-test .input-group {
  display: inline-table;
  vertical-align: middle;
}

.form-cors-test .input-group {
  display: inline-table;
  vertical-align: middle;
}

.cors-test-result {
  width: 425px;
  padding-left: 15px;
}
