@charset "UTF-8";
/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
::-webkit-scrollbar {
  display: none; }

body {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -ms-overflow-style: none; }

.page-content {
  flex: 1; }

.section--with-sidebar {
  border-left: 350px solid #004169;
  position: relative; }
  .section--with-sidebar .sticky-nav--sidebar {
    left: 0;
    position: fixed;
    top: 81px;
    width: 350px;
    background-color: #004169;
    z-index: 100;
    height: 100%;
    overflow-y: auto; }
    .section--with-sidebar .sticky-nav--sidebar ul {
      margin-top: 0; }
    .section--with-sidebar .sticky-nav--sidebar h2 {
      margin-bottom: 0; }
  .section--with-sidebar .sticky-nav--top {
    background: #f1f1f1;
    border: solid #c1c1c1;
    border-width: 0 0 1px 1px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    left: 350px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 81px;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center; }
    .section--with-sidebar .sticky-nav--top a {
      font-size: 0.85034em;
      border-right: 1px solid #c1c1c1;
      box-sizing: border-box;
      -webkit-flex: 1;
      flex: 1;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      position: relative;
      text-decoration: none; }
      .section--with-sidebar .sticky-nav--top a.on, .section--with-sidebar .sticky-nav--top a:active, .section--with-sidebar .sticky-nav--top a:focus, .section--with-sidebar .sticky-nav--top a:hover {
        color: #000; }
        .section--with-sidebar .sticky-nav--top a.on:after, .section--with-sidebar .sticky-nav--top a:active:after, .section--with-sidebar .sticky-nav--top a:focus:after, .section--with-sidebar .sticky-nav--top a:hover:after {
          background: #818081;
          bottom: 0;
          content: "";
          display: block;
          height: 4px;
          left: 0;
          right: 0;
          position: absolute; }
    .no-flexbox .section--with-sidebar .sticky-nav--top {
      display: table;
      width: 75%; }
      .no-flexbox .section--with-sidebar .sticky-nav--top a {
        display: table-cell;
        width: 25%; }
        .no-flexbox .section--with-sidebar .sticky-nav--top a.toggle-menu {
          display: none; }
    @media screen and (min-width: 0\0) {
      .section--with-sidebar .sticky-nav--top {
        display: table;
        width: 75%; }
        .section--with-sidebar .sticky-nav--top a {
          display: table-cell;
          width: 25%; }
          .section--with-sidebar .sticky-nav--top a.toggle-menu {
            display: none; } }
  .section--with-sidebar .active .closed {
    display: block !important; }

.docs-body .docs-index-list {
  margin-left: 10px; }
  .docs-body .docs-index-list li:before {
    font-family: fontawesome;
    font-size: 14px;
    color: #ccc;
    content: '\f097';
    margin-right: 5px; }
.docs-body .bulletsless {
  list-style: none; }
.docs-body header {
  padding-bottom: .5em;
  margin-bottom: 2em;
  border-bottom: 1px solid #888; }
  .docs-body header h1 {
    padding-bottom: 0;
    margin: 0;
    border: 0 none;
    display: inline-block; }
  .docs-body header .btn {
    font-size: 0.7837em;
    float: right;
    position: relative;
    text-decoration: none; }
.docs-body h1, .docs-body h2, .docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  font-weight: 500; }
.docs-body h1, .docs-body h2, .docs-body h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
.docs-body h1 {
  font-size: 2.252em;
  border-bottom: 1px solid #818081;
  color: #353435;
  padding-bottom: .5em; }
.docs-body h2 {
  font-size: 1.501em;
  border-bottom: 1px solid #273742;
  color: #353435;
  padding-bottom: .5em; }
.docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
  color: #1a3a4f; }
.docs-body h3 {
  font-size: 1.176em;
  margin-top: 25px; }
.docs-body h4 {
  font-size: 1.085em; }
.docs-body h5, .docs-body h6 {
  font-size: inherit; }
.docs-body blockquote {
  margin: 20px 0;
  border-left: 7px solid #fed;
  background: #fffaf0;
  padding: 20px; }
  .docs-body blockquote p {
    color: #000; }
.docs-body table {
  font-size: 0.92166em;
  margin: 20px auto;
  width: 98%;
  border: 1px dotted #f0f0f0;
  max-width: 98%;
  line-height: 20px; }
.docs-body tr {
  border-bottom: 1px dotted #999; }
.docs-body th {
  text-align: left;
  background: #eee;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
  vertical-align: top;
  word-break: normal; }
.docs-body .table-word-break td {
  word-break: break-word; }
.docs-body td {
  padding: 3px 5px;
  border-right: 1px dotted #f0f0f0; }
.docs-body table code {
  background: transparent;
  color: #090; }

#toc-title {
  font-size: 14px;
  font-weight: 700;
  color: #456;
  border: 0 none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em; }
  #toc-title:before {
    font-family: fontawesome;
    content: '\f02d';
    margin-right: 5px; }

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s; }

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1; }

/* -------------------------- IMG */
.docs-body img {
  max-width: 700px;
  display: block;
  margin-bottom: 15px; }

/* -------------------------- API */
#cors-test {
  display: inline-block; }

.api:before {
  font-family: fontawesome;
  margin-right: 8px; }

.api-operation {
  font-size: 20px; }
  .api-operation:before {
    content: '\f12e'; }

.api-uri-template em {
  color: #090; }

.api-request-params:before {
  content: ""; }

.api-response-params:before {
  content: ""; }

.api-request-example:before {
  content: ""; }

.api-response-example:before {
  content: ""; }

.api-label {
  color: #ffffff;
  font-weight: 500;
  padding: .3em .6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background: #456; }

.api-label-small {
  font-size: 80%; }

.api-uri-template {
  display: inline-block;
  padding: .35em .6em .3em 0;
  margin: 10px 0 !important;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: .25em;
  line-height: 1.1;
  background: #f5f5f5; }
  .api-uri-template em {
    font-weight: bold; }
  .api-uri-template .api-label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 5px; }

.api-uri-get em {
  color: #090; }

.api-uri-get .api-label {
  background: #090; }

.api-uri-post em {
  color: #F39C44; }

.api-uri-post .api-label {
  background: #F39C44; }

.api-uri-put em {
  color: #0069aa; }

.api-uri-put .api-label {
  background: #0069aa; }

.api-uri-delete em {
  color: #d9534f; }

.api-uri-delete .api-label {
  background: #d9534f; }

.api-uri-template-cors {
  margin-top: 10px; }

.panel-default {
  border-color: #dddddd; }

.form-group:before {
  display: table;
  content: " ";
  clear: both; }

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  display: table;
  content: " "; }

.form-horizontal .form-group:after {
  clear: both; }

.panel-body:after {
  clear: both; }

.panel-body:before, .panel-body:after {
  display: table;
  content: " "; }

.form-cors-test {
  margin-bottom: 20px; }
  .form-cors-test .form-group {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 15px; }

.form-cors-test .input-group {
  display: inline-table;
  vertical-align: middle; }

.cors-test-result {
  padding-left: 30px;
  width: 80%; }

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 1em .8em; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0; }

.input-group .form-control {
  width: 100%;
  margin-bottom: 0; }

.form-horizontal .control-label {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right; }
.form-horizontal label {
  display: inline-block;
  margin: 5px 0;
  font-weight: bold; }
.form-horizontal .form-control-static {
  padding-top: 7px; }

.form-control {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px; }

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

#docs {
  background: white; }

#sidebar-wrapper h2 {
  color: #7aa633;
  font-size: 18px;
  padding: 8px 10px 8px 30px;
  text-transform: uppercase;
  margin: 20px 0 5px 0; }

.sidebar-nav {
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 0;
  bottom: 0; }

#gen-toc-container, .nav-title {
  background-color: #012134; }

.nav-title li {
  margin-bottom: 0; }

.sidebar-nav ul {
  padding-left: 0; }
  .sidebar-nav ul.closed {
    display: none;
    background-color: #012134 !important; }
  .sidebar-nav ul li {
    list-style: none;
    margin-bottom: 0px; }

.sidebar-nav h2 {
  color: #7aa633;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 4px 10px 4px 30px; }
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #00131f; }

.sidebar-nav li ul li a {
  display: block;
  text-decoration: none;
  color: #cccccc !important;
  padding: 4px 10px 4px 55px !important; }

.sidebar-nav li ul li.active a {
  color: white !important;
  background: #0c87c9 !important; }

.sidebar-nav li.active {
  background: #0c87c9; }

#gen-toc-container .sidebar-nav li a {
  color: white;
  font-size: 16px;
  padding-left: 40px; }

#docs .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #00131f !important; }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff; }

.docs-sidebar-block {
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 400px; }

.excerpt {
  padding-left: 40px; }

#markdown-toc {
  display: none !important; }

.docs-body {
  overflow: hidden;
  padding: 70px 20px;
  /* -------------------------- PYGMENTS */
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .docs-body p {
    margin: 0 0 10px; }
  .docs-body h2:first-child {
    margin: 48px 0 24px; }
  .docs-body img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .docs-body b, .docs-body strong {
    font-weight: 500; }
  .docs-body .alert strong {
    font-weight: bold; }
  .docs-body ul {
    padding-left: 20px;
    margin-top: 0 !important;
    margin-bottom: 10px;
    list-style: initial; }
    .docs-body ul li {
      color: #555;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 300; }
  .docs-body div,
  .docs-body p,
  .docs-body ul > li {
    font-size: 16px; }
  .docs-body h2, .docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
    color: #000; }
  .docs-body h2 {
    font-size: 22px;
    margin: 2em 0 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #567; }
  .docs-body h3, .docs-body h4, .docs-body h5, .docs-body h6 {
    margin-top: 25px;
    color: #456; }
  .docs-body h3 {
    font-size: 18px;
    margin-bottom: 10px; }
  .docs-body h4 {
    font-size: 16px;
    margin-bottom: 10px; }
  .docs-body h5, .docs-body h6 {
    font-size: 16px; }
  .docs-body blockquote {
    margin: 20px 0;
    border-left: 7px solid #fed;
    background: #fffaf0;
    padding: 20px; }
    .docs-body blockquote p {
      color: #000; }
      .docs-body blockquote p:last-child {
        margin-bottom: 0; }
  .docs-body a {
    text-decoration: underline; }
  .docs-body table {
    margin: 20px auto;
    width: 98%;
    border: 1px dotted #f0f0f0;
    max-width: 98%; }
  .docs-body tr {
    border-bottom: 1px dotted #999; }
  .docs-body th {
    text-align: left;
    background: #eee;
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    vertical-align: top;
    word-break: normal; }
  .docs-body .table-word-break td {
    word-break: break-word; }
  .docs-body td {
    padding: 3px 5px;
    border-right: 1px dotted #f0f0f0; }
  .docs-body table code {
    background: transparent;
    color: #090;
    font-size: 14px; }
  .docs-body code, .docs-body kbd, .docs-body pre, .docs-body samp, .docs-body pre code {
    font-size: 11px; }
  .docs-body code {
    border-radius: 2px;
    white-space: normal;
    padding: 2px 4px; }
  .docs-body .page-title-block {
    padding-bottom: .5em;
    margin-bottom: 2em;
    border-bottom: 1px solid #888; }
  .docs-body h1#docs-page-title {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0 none;
    width: 80%;
    display: inline-block; }
  .docs-body .page-title-block .btn {
    float: right;
    position: relative;
    top: 25px;
    text-decoration: none; }
  .docs-body pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.428571429;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
    white-space: pre;
    overflow: auto; }
    .docs-body pre code {
      white-space: pre; }
  .docs-body ol {
    margin: 0 0 10px 20px;
    list-style: decimal; }
    .docs-body ol img {
      max-width: 700px;
      display: block;
      margin: inherit; }
  .docs-body .CodeRay pre {
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto; }
  .docs-body .hll {
    background-color: #ffffcc; }
  .docs-body .c {
    color: #999988;
    font-style: italic; }
  .docs-body .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .docs-body .k {
    color: #000000; }
  .docs-body .o {
    color: #000000; }
  .docs-body .cm {
    color: #999988;
    font-style: italic; }
  .docs-body .cp {
    color: #999999;
    font-style: italic; }
  .docs-body .c1 {
    color: #999988;
    font-style: italic; }
  .docs-body .cs {
    color: #999999;
    font-style: italic; }
  .docs-body .gd {
    color: #000000;
    background-color: #ffdddd; }
  .docs-body .ge {
    color: #000000;
    font-style: italic; }
  .docs-body .gr {
    color: #aa0000; }
  .docs-body .gh {
    color: #999999; }
  .docs-body .gi {
    color: #000000;
    background-color: #ddffdd; }
  .docs-body .go {
    color: #888888; }
  .docs-body .gp {
    color: #555555; }
  .docs-body .gu {
    color: #aaaaaa; }
  .docs-body .gt {
    color: #aa0000; }
  .docs-body .kc {
    color: #36c; }
  .docs-body .kd {
    color: #000000; }
  .docs-body .kn {
    color: #000000; }
  .docs-body .kp {
    color: #000000; }
  .docs-body .kr {
    color: #000000; }
  .docs-body .kt {
    color: #445588; }
  .docs-body .m {
    color: #009999; }
  .docs-body .s {
    color: #d01040; }
  .docs-body .na {
    color: #008080; }
  .docs-body .nb {
    color: #0086B3; }
  .docs-body .nc {
    color: #445588; }
  .docs-body .no {
    color: #008080; }
  .docs-body .nd {
    color: #3c5d5d; }
  .docs-body .ni {
    color: #800080; }
  .docs-body .ne {
    color: #900; }
  .docs-body .nf {
    color: #990000; }
  .docs-body .nl {
    color: #990000; }
  .docs-body .nn {
    color: #555555; }
  .docs-body .nt {
    color: #456; }
  .docs-body .nv {
    color: #008080; }
  .docs-body .ow {
    color: #000000; }
  .docs-body .w {
    color: #bbbbbb; }
  .docs-body .mf {
    color: #009999; }
  .docs-body .mh {
    color: #009999; }
  .docs-body .mi {
    color: #009999; }
  .docs-body .mo {
    color: #009999; }
  .docs-body .sb {
    color: #d01040; }
  .docs-body .sc {
    color: #d01040; }
  .docs-body .sd {
    color: #d01040; }
  .docs-body .s2 {
    color: #393; }
  .docs-body .se {
    color: #393; }
  .docs-body .sh {
    color: #963; }
  .docs-body .si {
    color: #d01040; }
  .docs-body .sx {
    color: #d01040; }
  .docs-body .sr {
    color: #009926; }
  .docs-body .s1 {
    color: #399; }
  .docs-body .ss {
    color: #990073; }
  .docs-body .bp {
    color: #999999; }
  .docs-body .vc {
    color: #008080; }
  .docs-body .vg {
    color: #008080; }
  .docs-body .vi {
    color: #008080; }
  .docs-body .il {
    color: #009999; }
  .docs-body #scroll-top-button {
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding: 1em 2em;
    background: #f0f0f0;
    font-size: 12px;
    border: 1px solid #ddd;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in, .2s background ease-in, .2s color ease-in, .05s position ease-out;
    transition: .2s opacity ease-in, .2s background ease-in, .2s color ease-in, .05s position ease-out; }
  .docs-body #scroll-top-button.on {
    opacity: 1; }
  .docs-body #scroll-top-button:before {
    font-family: fontawesome;
    content: '\f0a6';
    margin-right: 10px; }
  .docs-body #scroll-top-button:hover {
    text-decoration: none;
    background: #fafafa; }

#page--docs-guides-overview #docs-body ul {
  list-style: none; }
  #page--docs-guides-overview #docs-body ul li {
    margin-bottom: 20px; }
    #page--docs-guides-overview #docs-body ul li:before {
      font-family: fontawesome;
      font-size: 14px;
      color: #ccc;
      content: '\f097';
      margin-right: 5px; }

input:focus {
  outline: 0; }

.section--sdk {
  text-align: center;
  padding: 0 !important;
  margin-top: 0px !important; }
  .section--sdk .col-1-3 {
    margin-top: 0px;
    padding-top: 30px; }
    @media screen and (min-width: 468px) {
      .section--sdk .col-1-3 {
        width: 50%; } }
    @media screen and (min-width: 768px) {
      .section--sdk .col-1-3 {
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .section--sdk .col-1-3 {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      .section--sdk .col-1-3 {
        width: 33.33333%; } }
  .section--sdk article .sdk-list {
    list-style: none;
    width: 120px;
    margin: 0 auto;
    text-align: left; }
    @media screen and (min-width: 468px) {
      .section--sdk article .sdk-list {
        min-height: 150px; } }
    @media screen and (min-width: 768px) {
      .section--sdk article .sdk-list {
        min-height: 150px; } }
    @media screen and (min-width: 992px) {
      .section--sdk article .sdk-list {
        min-height: 150px; } }
    @media screen and (min-width: 1200px) {
      .section--sdk article .sdk-list {
        min-height: 150px; } }
    .section--sdk article .sdk-list li:first-child {
      font-size: 16px;
      font-weight: bold;
      color: #456; }
  .section--sdk article img {
    width: 100px;
    height: 100px; }
  .section--sdk article .sdk-img {
    margin: 0 auto;
    padding-bottom: 20px; }
  .section--sdk article .thumbnail {
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 0 auto; }
  .section--sdk article .net {
    background: #016aab url(/assets/img/microsoft-net.png) no-repeat;
    background-size: 75px;
    background-position: center; }
  .section--sdk article .powershell {
    background: #0acacc url(/assets/img/microsoft-net.png) no-repeat;
    background-size: 75px;
    background-position: center; }
  .section--sdk article .java {
    background: #fc5f35 url(/assets/img/java.png) no-repeat;
    background-size: auto 75px;
    background-position: center; }
  .section--sdk .content {
    margin: 0 auto; }

.toggle-menu {
  color: #ccc;
  text-decoration: none;
  font-size: 50px;
  float: left;
  display: block;
  display: none;
  transition: opacity 0.3s ease-out; }

.toggle-menu:hover {
  color: #fff; }

.toggle-menu:before {
  text-align: center;
  font-size: 24px;
  content: "\f204";
  font-family: fontawesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

@media all and (max-width: 768px) {
  .btn-github {
    display: none; }

  body.toggled .toggle-menu:before {
    content: "\f205"; }
  body.toggled #sticky-nav {
    left: 350px; }
    body.toggled #sticky-nav a {
      display: none; }
      body.toggled #sticky-nav a:first-child {
        display: block; }
  body.toggled .section--with-sidebar {
    border-left: 0; }
  body.toggled .sticky-nav--sidebar.toggled {
    width: 350px; }
  body.toggled .section--with-sidebar {
    border-left: 350px solid #004169; }
  body #sticky-nav {
    left: 0; }
    body #sticky-nav a:first-child {
      display: block; }
  body .section--with-sidebar .sticky-nav--sidebar {
    width: 0; }
  body .section--with-sidebar {
    border-left: 0; }

  .sticky-nav--sidebar.toggled > .docs-body {
    overflow: hidden;
    width: 350px; }

  .docs-body {
    left: 0; }

  .toggle-menu {
    z-index: 1;
    opacity: 1;
    display: block; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .page-content {
    flex: 0 1 auto; } }
