
/* -- HERE THERE BE DRAGONS - MAY 2014
 *
 * this file has been sectioned off and amended/appended
 * but side effects of further work are unknown as of may 2014
 *
 * in general page specific styles used in this file
 * should not be applied to new pages
 * instead, use the css_file mechanism in page/layout front matter
 * to introduce specific stylesheets
 *
 * -- */


@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


/* -------------------------- GLOBAL STYLES */

html, body {
  height: 100%;
  font-family: "proxima-nova", "proxima nova", sans-serif;
}

body {
  background-color: #eaeaea;
  margin-top: 121px;  /* top offset */
}

body p {
  color: #555;
  font-size: 18px;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

ul {
  padding-left: 20px;
}

ul li {
  color: #555 !important;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300 !important;
}

.white { color: #fff; }
.black { color: #504f50; }
.black:hover {
  text-decoration: underline;
  background-color: transparent !important;
}

.fixed {
  position: fixed;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.mrg-right-15 { margin-right:   15px; }
.mrg-right-30 { margin-right:   30px; }
.mrg-bot-20   { margin-bottom:  20px; }
.mrg-bot-30   { margin-bottom:  30px; }
.mrg-top-20   { margin-top:     25px; }
.mrg-top-50   { margin-top:     50px; }
.mrg-top-60   { margin-top:     60px; }

.neg-mrg {
  margin-top: -10px;
  margin-right: 9px;
}



/* --------------------------  BASE LAYOUT */

.container {
  width: 1296px;
  max-width: none !important;
  padding-right: 0px;
  padding-left: 0px;
}

#main-container {
  margin: 0 auto;
  width: 1080px;
}

.white-bg {
  background-color: #fff;
  padding: 65px 45px 150px 50px;
  width: 71.2%;
}

.white-bg li {
  margin-bottom: 10px !important;
  padding-left: 5px !important;
}

.features-border {
  border:1px solid #d7d7d7;
  margin-bottom: 20px;
}



/* -------------------------- TOPBAR */

#topbar {
  position: fixed;
  background: #f3f9fb;
  color: #777;
  height: 31px;  /* top offset */
  width: 100%;
  top: 0;
  z-index: 1100;
  border-bottom: 1px solid #dae5eb;
  box-shadow: inset 0 -7px 10px -7px rgba(0, 0, 0, 0.05);
}

#topbar .container {
  width: 1060px;
  margin-top: .35em;
}

#topbar .text-right > span {
  padding-left: 2em;
  display: inline-block;
}

#support-menu {
  display: inline-block;
}
#support-menu-btn {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  top: -1px;
  color: #428bca;
}
#support-menu-dropdown {
  right: 0;
  left: initial;
  text-align: left;
  width: 350px;
  padding: 1em;
  box-shadow:  0 10px 30px rgba(0, 0, 0, 0.45);
}
#support-menu-dropdown li {
  font-size: 14px;
}
#support-menu-dropdown span {
  display: inline-block;
  padding-left: .75em;
  width: 260px;
}
#support-menu-dropdown li .fa {
  vertical-align: top;
  margin-top: .2em;
  padding: .75em;
  background: #eee;
  color: #fff;
  border-radius: 20px;
}
#support-menu-dropdown li .fa.fa-comment {
  background: #00cbcb;
}
#support-menu-dropdown li .fa.fa-envelope {
  background: #ff5c40;
}
#support-menu-dropdown li .fa.fa-phone {
  background: #f6c763;
}


/* -------------------------- HEADER */

.logo-dev {
  margin-left: 30px;
  top: 50px;
  position: absolute;
  color: #504f50;
  font-size: 16px;
}

#navbar {
  top: 31px; /* top offset */
}

.navbar {
  padding-top: 20px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 9px 10px 5px 10px;
  margin-top: 5px;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active {
  /*
  color: #fff;
  background-color: #6f6f6f !important;
  */
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important;
}

.navbar-nav.navbar-right {
  float: right;
}

.navbar-brand {
  background: url(/assets/img/logo.png) no-repeat 0 0;
  background-size: 150px;
  width: 150px;
  height: 50px;
}

.navbar-header {
  margin-left: 10px !important;
}

.navbar-fixed-top {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #adadad;
}

.nav-button-padding {
  padding: 7px 25px 7px 25px !important;
  margin-top: 7px;
}

.navbar-nav li {
  font-size: 15px;
  margin-right: 10px;
}

.navbar-nav li:last-child {
  margin-right: 10px !important;
}

.active-nav {
  font-weight: 500;
  box-shadow: 0 2px 0 #428bca;
  /*
  color: #555;
  background-color: #efefef;
  */
}

.navbar .container {
  width: 1065px !important;
}

.navbar .black {
  font-weight: 500;
}

.navbar-header {
  float: left;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}


.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}



/* -------------------------- FOOTER MAY 2014
 *
 * added here instead of end of file for
 * logical arrangement reasons
 *
 * -- */

footer.main-footer {
  margin: 0 auto;
  padding: 25px 10px 40px;
  width: 1080px;
  color: #999;
  font-weight: 300;
  font-size: 12px;
}

.main-footer a {
  color: #999;
}
.main-footer .sepr {
  display: inline-block;
  margin: 0 .3em;
}

.footer-left {
  padding-top: 6px;
}

.footer-right {
  text-align: right;
  font-size: 12px;
  position: relative;
  left: 5px;
}

footer .social-icons {
  display: inline-block;
}

footer .social-icons a {
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
  color: #eee;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 1.7em;
  border-radius: 15px;
  background: #ccc;
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
}

footer .social-icons a:hover {
  background: #aaa;
  text-decoration: none;
}

footer .social-icons a:before {
  font-family: fontawesome;
  content: '\f097';
}

footer .social-icons a.youtube:before     { content: '\f167'; }
footer .social-icons a.facebook:before    { content: '\f082'; }
footer .social-icons a.twitter:before     { content: '\f099'; }
footer .social-icons a.rss:before         { content: '\f09e'; }
footer .social-icons a.linkedin:before    { content: '\f08c'; }
footer .social-icons a.googleplus:before  { content: '\f0d5'; }


/* -- CUSTOM (LEGACY) FOOTER SHIMS/TREATMENTS MAY 2014
 *
 * newer modules contain their custom styles
 * in their respective stylesheets
 *
 * ie. do not add them here
 *
 * -- */

#home footer.main-footer {
  border-top: 1px dotted #ccc;
}

#signup-form footer.main-footer {
  width: 875px;
  position: relative;
  top: -20px;
}

#signup-form .footer-right {
  position: relative;
  left: initial;
  right: 10px;
}



/* -------------------------- BUTTONS, POSSIBLY OTHER STUFF */

.button {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: 1px solid #3c5a0b;
  background: #7aa633;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #7aa633), color-stop(90%, #65911f));
  background-image: -webkit-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: -moz-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: -o-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: linear-gradient(top, #7aa633 40%, #65911f 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA3D148', endColorstr='#FF7EA72A');
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 1px #6e6e6e;
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
}

.button:hover {
  color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(122, 166, 51, 0.75)), color-stop(90%, rgba(101, 145, 31, 0.75)));
  background-image: -webkit-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: -moz-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: -o-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%)
}

.button-empty {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 1px #6e6e6e;
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
  width: 172px;
  border: 1px solid rgba(255, 255, 255, .7);
}

.button-empty:hover {
  background: #3b70ab;
  color: #fff;
}

.button-gray {
  color: #555;
  border: 1px solid #a0a0a0;
  font-weight: 100;
  text-shadow: none;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffffff), color-stop(90%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: -o-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE');
  text-decoration: none !important;
}

.button-white {
  color: #555;
  border: 1px solid #d5d5d5;
  font-weight: 300;
  text-shadow: none;
  background-color: #fff;
  text-decoration: none !important;
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
}

.visit {
  width: 150px;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-top: 7px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  color: #504F50;
  text-align: center;
  font-weight: normal;
}
.visit:hover { color: #555 !important; }

.button-padding {
  padding: 15px 50px 15px 50px !important;
}

.active {
  background: #0c87c9 !important;
}



/* -- LEGACY PAGE STYLES MAY 2014
 *
 * this section contains the specific pages styles
 * for the legacy pages
 *
 * refer to dragon warning at top of file, applies here as well
 *
 * --*/


/* -------------------------- HOME & FEATURES */

body#home {
  background: #fff;
}

.left-sidebar {
  width: 28.8%;
  padding-top: 35px;
}
.left-sidebar ul {
  list-style: none;
}
.left-sidebar ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.valprop-home {
  height: 476px;
  border-bottom: none;
  /*background: url(/assets/img/home-bg.png);*/
  background: #0069aa;
  margin-top: 121px;  /* top offset */
  margin-bottom: 90px
}
.valprop-title {
  color: #fff;
  letter-spacing: 1px;
  font-size: 31px;
  font-weight: bold;
  line-height: 1.35;
  margin-top: 55px;
}
.valprop-features {
  background: #fff;
  height: 225px;
  position: relative;
  background: url(/assets/img/home-bg.png);
  margin-top: 28px;
}
.valprop-features p {
  color: #fff;
}


.container-narrow {
  margin: 0 auto;
  width: 990px !important;
}
.container-narrow > hr {
  margin: 30px 0;
}
.container-valprop {
  width: 100%;
}

#benefits-grid {
  margin-bottom: 10px;
}

#benefits-grid .featured-row {
  position: relative;
  left: 30px;
}

.home-featured-title {
 line-height: 1.35;
 margin: 6px 0px 0px 7px;
 font-weight: bold;
}

.home-header {
  color: #fff;
}

.welcome-head {
  margin-top: 45px;
  padding-top: 10px;
  background-color: #709c29;
  text-align: center;
  height: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.welcome-body {
  background-color: #fafafa;
  padding: 50px;
}

.features-page {
  background-color: #e1eff6;
}

.features-page ul {
  margin-top: 30px;
}

.features-title {
  font-size: 26px;
  margin-bottom: 45px;
  margin-left: 20px;
  padding-top: 110px;
  margin-top: -93px;
}

.features-subtitle {
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 16px;
}

.featured-desc {
  min-height: 90px;
  margin-bottom: 30px !important;
  margin-top: 0;
}

.features-sep {
  margin: 80px 0 80px 0;
}

.featured-row {
  margin-bottom: 60px;
}

.featured-row .col-xs-4 {
  width: 31%;
  margin-right: 23px;
}

.circle {
  width: 47px;
  height: 47px;
  border-radius: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.small-circle {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px
}

/*Circle color*/
.home-blue {
  background-color: #0c87c9;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-users {
  background: url(/assets/img/users.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 20px;
  left: 28px;
  top: 20px;
}

.home-users-small {
 background: url(/assets/img/users.png) no-repeat;
 position: absolute;
 width: 16px;
 height: 15px;
 left: 21px;
 top: 13px;
 background-size: 90%;
}

.home-purple {
  background-color: #b069c4;
  margin-top: 7px;
  margin-bottom: 20px;
}

.home-multiple {
  background: url(/assets/img/merge.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 30px;
  top: 20px;
}

.home-multiple-small {
  background: url(/assets/img/merge.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 18px;
  left: 22px;
  top: 14px;
  background-size: 90%;
}

.home-cyan {
  background-color: #0acacc;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-secure {
  background: url(/assets/img/secure.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 24px;
  left: 31px;
  top: 18px;
}

.home-secure-small {
  background: url(/assets/img/secure.png) no-repeat;
  position: absolute;
  width: 16px;
  height: 18px;
  left: 21px;
  top: 10px;
  background-size: 90%;
}

.home-yellow {
  background-color: #f6c750;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-check {
  background: url(/assets/img/check.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 24px;
  left: 29px;
  top: 21px;
}

.home-check-small {
  background: url(/assets/img/check.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 22px;
  top: 14px;
  background-size: 90%;
}

.home-green {
  background-color: #7bb222;
  margin-top: 7px;
  margin-bottom: 20px;
}

.home-partners {
  background: url(/assets/img/partners.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 27px;
  top: 20px;
}

.home-partners-small {
 background: url(/assets/img/partners.png) no-repeat;
 position: absolute;
 width: 15px;
 height: 15px;
 left: 21px;
 top: 14px;
 background-size: 90%;
}

.home-orange {
  background-color: #fc5f35;
  margin-top: 7px;
  margin-bottom: 20px;
}

.home-providers {
  background: url(/assets/img/providers.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 28px;
  left: 30px;
  top: 18px;
}

.home-providers-small {
  background: url(/assets/img/providers.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 18px;
  left: 22px;
  top: 12px;
  background-size: 90%;
}

.learnmore {
  border-radius: 2px;
  padding: 7px 14px;
  color: #b6b6b6 !important;
  font-weight: 300;
  font-size: 16px;
}

.learnmore:hover {
  color: #3e78b8 !important;
  font-weight: 300;
  border-color: #4981b1;
}

.terminal-command {
 color: #beff9f !important;
 letter-spacing: 3px;
 font-weight: 300;
 font-size: 20px;
 line-height: 1.8;
 font-family: 'inconsolata' !important;
}

.terminal-os-x {
  margin-top: 49px;
}

.lastlogin {
  color: #1b6482;
  margin-top: 20px;
  font-size: 21px;
  margin-bottom: 22px;
  letter-spacing: 3px;
  font-family: 'inconsolata' !important;
}

@keyframes blink
{
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}

.cursor {
  background:#beff9f;
  display:inline-block;
  width:11px;
  height:28px;
  position: relative;
  top: 6px;
}

.dollar:before {
  content: "$";
  margin-right: 35px;
  color: #1B6482;
}

div#sticker {
  padding:20px;
}

#body {
  line-height: 1em;
  font-size:13px;
  float: left;
  width: 100%;
  min-height:250px;
  background:#00293a;
  padding: 12px 20px;
  line-height:1.5em;
}

#body:hover .cursor {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
}

#title {
  width: 100px;
  margin: 0 auto;
  font-size: 22px;
  color: #848484;
  position: relative;
  top: 5px;
}


/* -- terminal window */
#window {
  margin-top:40px;
  margin-bottom:40px;
  min-width: 500px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  height: 280px;
}
#toolbar {
  width: 100%;
  height: 40px;
  background: grey;
  border-radius:5px 5px 0 0;
  margin: 0 auto;
  background: #cfcfcf;
}
#toolbar .top {
  float: left;
  width: 100%;
  height: 23px;
}
#toolbar .bottom {
  float: left;
  width: 100%;
  height: 30px;
}
#toolbar #lights {
  float: left;
  position: relative;
  top: 13px;
  left: 7px;
}
.light {
  float:left;
  width:14px;
  height:14px;
  border-radius:14px;
  overflow: hidden;
}
.red {
 background: #ff5c30;
}
.yellow {
  background: #fae325;
  margin:0px 7px;
}
.green {
  background: #3b9e06;
}

/* -- Horrible to do this for firefox */
@-moz-document url-prefix() {
  .red .glyph {
    position: relative;
    top: -4px;
  }
  .yellow .glyph {
    top: -4px;
    left: 3px;
  }
  .green .glyph {
    position: relative;
    top: -4px;
  }
}



/* -------------------------- DISCUSSION */

.search-icon {
  background: url(/assets/img/search.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 65px;
  left: 30px;
  border: 0;
}

.form-control {
  margin: 50px 0 50px 0;
}

.search-holder {
  background-color: #e1eff6;
}

.search-holder input {
  border-radius: 48px;
}

.discussion-page {
  background-color: #fff;
}

.discussion-header {
  margin-bottom: 30px;
}

.recent-discussions {
  margin-bottom: 6em;
}

h4.recent-subtitle {
  font-size: 24px;
  margin-top: 2em;
  margin-bottom: 1em;
}



/* -------------------------- GET STARTED/DEV PLUS */

.signup {
  margin-left: 50px;
}

.signup-head {
  margin-top: 45px;
  padding-top: 10px;
  background-color: #0c87c9;
  text-align: center;
  height: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signup-form {
  background-color: #fafafa;
  padding: 50px 30px 50px 30px;
  height: 375px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.signup-form form .button {
  margin-bottom: 70px;
}

.signup-form form input {
  margin-bottom: 30px;
}

.signup-form .input-lg {
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
  padding: 10px 15px !important;
}

.input-lg {
  height: 46px;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.signup-button {
  float: right;
  margin-right: 23px;
  padding: 12px 25px !important;
  width: 150px;
}

.fl-control-label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.signup-plus-form {
  height: 700px;
}

.signup-plus-form .signup-button {
  margin-top: 30px;
}

.signup-plus-form .fl-control-label {
  font-size: 16px;
}


/* -- NEW GLOBAL STYLES MAY 2014
 *
 * adding new global styles here at the end of the document
 * judiciously append new global style sections here
 *
 * ~~ dragon free zone ~~
 * let's keep it that way
 *
 * -- */

/* -------------------------- NEW LAYOUT CLASSES APR 2014 */

#main-container.boundary {
  border: 1px solid #d7d7d7;
  border-top: none;
  background: #fff;
}

.block {
  padding: 2em;
}

.title-block {
  background: #0069aa;
  padding-top: 4em;
  padding-bottom: 4em;
  color: #fff;
}

.title-block h1 {
  color: #fff;
  font-weight: 700;
}

.title-block p {
  color: #fff;
}



/* -------------------------- GLOBAL TECHNICAL TYPOGRAPHY */

code, kbd, pre, samp,
pre code {
  font-size: 11px;
}

pre {
  border-radius: 3px;
  border: 0 none;
}

code {
  background: #f0f0f0;
  color: #000;
  border-radius: 2px;
  white-space: normal;
}

pre code {
  white-space: pre;
}



/* -------------------------- CODERAY -- */

.CodeRay {}
.CodeRay pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#f08 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509; }
.CodeRay .comment  { color:#998; font-style: italic;}
.CodeRay .char { color:#04D }
.CodeRay .char .content { color:#04D }
.CodeRay .char .delimiter { color:#039 }
.CodeRay .class { color:#458; }
.CodeRay .complex { color:#A08; }
.CodeRay .constant { color:teal; }
.CodeRay .color { color:#0A0 }
.CodeRay .class-variable { color:#369 }
.CodeRay .decorator { color:#B0B; }
.CodeRay .definition { color:#099; }
.CodeRay .directive { color:#088; }
.CodeRay .delimiter { color:black }
.CodeRay .doc { color:#970 }
.CodeRay .doctype { color:#34b }
.CodeRay .doc-string { color:#D42; }
.CodeRay .escape  { color:#666; }
.CodeRay .entity { color:#800; }
.CodeRay .error { color:#F00; background-color:#FAA }
.CodeRay .exception { color:#C00; }
.CodeRay .filename { color:#099; }
.CodeRay .function { color:#900; }
.CodeRay .global-variable { color:teal; }
.CodeRay .hex { color:#058; }
.CodeRay .integer  { color:#099; }
.CodeRay .include { color:#B44; }
.CodeRay .inline { color: black }
.CodeRay .inline .inline { background: #ccc }
.CodeRay .inline .inline .inline { background: #bbb }
.CodeRay .inline .inline-delimiter { color: #D14; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:#f00; }
.CodeRay .interpreted { color:#B2B; }
.CodeRay .instance-variable { color:teal }
.CodeRay .label { color:#970; }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; }
.CodeRay .operator { }
.CodeRay .predefined-constant {  }
.CodeRay .predefined { color:#369; }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; }
.CodeRay .predefined-type { color:#074; }
.CodeRay .reserved, .keyword  { color:#000; }

.CodeRay .key { color: #456; }
.CodeRay .key .delimiter { color: #606; }
.CodeRay .key .char { color: #80f; }
.CodeRay .value { color: #088; }

.CodeRay .regexp { background-color:#fff0ff }
.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function  { color:#404; font-weight: bold }

.CodeRay .string { color: #D20; }
.CodeRay .string .string { }
.CodeRay .string .string .string { background-color:#ffd0d0 }
.CodeRay .string .content { color: #090; }
.CodeRay .string .char { color: #090; }
.CodeRay .string .delimiter { color: #090; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#990073 }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag { color:#070 }
.CodeRay .tag-special { color:#D70; }
.CodeRay .type { color:#339; }
.CodeRay .variable  { color:#036 }

.CodeRay .insert { background: #afa; }
.CodeRay .delete { background: #faa; }
.CodeRay .change { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .insert .insert { color: #080; }
.CodeRay .delete .delete { color: #800; }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }



/* -------------------------- PYGMENTS */

.hll  { background-color: #ffffcc; }
.c    { color: #999988; font-style: italic; } /* Comment */
.err  { color: #a61717; background-color: #e3d2d2; } /* Error */
.k    { color: #000000; } /* Keyword */
.o    { color: #000000; } /* Operator */
.cm   { color: #999988; font-style: italic; } /* Comment.Multiline */
.cp   { color: #999999; font-style: italic; } /* Comment.Preproc */
.c1   { color: #999988; font-style: italic; } /* Comment.Single */
.cs   { color: #999999; font-style: italic; } /* Comment.Special */
.gd   { color: #000000; background-color: #ffdddd; } /* Generic.Deleted */
.ge   { color: #000000; font-style: italic; } /* Generic.Emph */
.gr   { color: #aa0000; } /* Generic.Error */
.gh   { color: #999999; } /* Generic.Heading */
.gi   { color: #000000; background-color: #ddffdd; } /* Generic.Inserted */
.go   { color: #888888 }  /* Generic.Output */
.gp   { color: #555555 }  /* Generic.Prompt */
.gs   { }                 /* Generic.Strong */
.gu   { color: #aaaaaa; } /* Generic.Subheading */
.gt   { color: #aa0000; } /* Generic.Traceback */
.kc   { color: #36c; }    /* Keyword.Constant */
.kd   { color: #000000; } /* Keyword.Declaration */
.kn   { color: #000000; } /* Keyword.Namespace */
.kp   { color: #000000; } /* Keyword.Pseudo */
.kr   { color: #000000; } /* Keyword.Reserved */
.kt   { color: #445588; } /* Keyword.Type */
.m    { color: #009999; } /* Literal.Number */
.s    { color: #d01040; } /* Literal.String */
.na   { color: #008080; } /* Name.Attribute */
.nb   { color: #0086B3; } /* Name.Builtin */
.nc   { color: #445588; } /* Name.Class */
.no   { color: #008080; } /* Name.Constant */
.nd   { color: #3c5d5d; } /* Name.Decorator */
.ni   { color: #800080; } /* Name.Entity */
.ne   { color: #900; }    /* Name.Exception */
.nf   { color: #990000; } /* Name.Function */
.nl   { color: #990000; } /* Name.Label */
.nn   { color: #555555; } /* Name.Namespace */
.nt   { color: #456; }    /* Name.Tag */
.nv   { color: #008080; } /* Name.Variable */
.ow   { color: #000000; } /* Operator.Word */
.w    { color: #bbbbbb; } /* Text.Whitespace */
.mf   { color: #009999; } /* Literal.Number.Float */
.mh   { color: #009999; } /* Literal.Number.Hex */
.mi   { color: #009999; } /* Literal.Number.Integer */
.mo   { color: #009999; } /* Literal.Number.Oct */
.sb   { color: #d01040; } /* Literal.String.Backtick */
.sc   { color: #d01040; } /* Literal.String.Char */
.sd   { color: #d01040; } /* Literal.String.Doc */
.s2   { color: #393; }    /* Literal.String.Double */
.se   { color: #393; }    /* Literal.String.Escape */
.sh   { color: #963; }    /* Literal.String.Heredoc */
.si   { color: #d01040; } /* Literal.String.Interpol */
.sx   { color: #d01040; } /* Literal.String.Other */
.sr   { color: #009926; } /* Literal.String.Regex */
.s1   { color: #399; }    /* Literal.String.Single */
.ss   { color: #990073; } /* Literal.String.Symbol */
.bp   { color: #999999; } /* Name.Builtin.Pseudo */
.vc   { color: #008080; } /* Name.Variable.Class */
.vg   { color: #008080; } /* Name.Variable.Global */
.vi   { color: #008080; } /* Name.Variable.Instance */
.il   { color: #009999; } /* Literal.Number.Integer.Long */


/* -- scroll-x behaviour -- */
.highlight pre {
  overflow-x: auto;
}
.highlight pre code * {
  white-space: nowrap;
}
.highlight pre code {
  white-space: pre;
}



/* -------------------------- TERMS CONTENT */

#terms .block.content h2 {
  font-size: 18px;
}

#terms .block.content p {
  font-size: 14px;
}
