/* Global Styles */

html, body {
  height:100%;
  font-family: "proxima-nova", sans-serif;
}

body {
  padding-top: 50px; /* body padding for fixed top nav */
}

body p {
  color: #555;
  font-size: 18px;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-family: "proxima-nova", sans-serif;
}

ul {
  padding-left: 20px;
}

ul li {
  font-size: 18px;
  font-weight: 300 !important;
  color: #555 !important;
  margin-bottom: 5px;
}

.navbar-brand {
  background: url(/assets/img/logo.png) no-repeat 0 0;
  width: 200px;
  height: 50px;
}

.search-icon {
  background: url(/assets/img/search.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 65px;
  left: 30px;
  border: 0;
}

.input-lg {
  height: 46px;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.signup-form .input-lg {
  padding: 10px 15px !important;
}

.navbar-header {
  margin-left: 10px !important;
}

.navbar {
  padding-top: 20px;
}

.logo-dev {
  margin-left: 30px;
  top: 50px;
  position: absolute;
  color: #504f50;
  font-size: 16px;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* Footer Styles */
footer {
  margin: 50px 0;
}


.navbar-fixed-top {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #adadad;
}


.active-nav {
  font-weight: 500;
  color: #555;
  background-color: #efefef;
}

.container {
  width: 1296px !important;
  padding-right: 0px;
  padding-left: 0px;
}

.valprop-home {
  height: 476px;
  border-bottom: none;
  background: url(/assets/img/home-bg.png);
  margin-top: 40px;
  margin-bottom: 90px
}

.valprop-features {
  background: #fff;
  height: 225px;
  position: relative;
  background: url(/assets/img/home-bg.png);
  margin-top: 28px;
}

.valprop-features p {
  color: #fff;
}


/*Terminal OS X*/

/* FINDER WINDOW */

#window {
  margin-top:40px;
  margin-bottom:40px;
  min-width: 500px; 
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden; 
  height: 280px;
}

/* TOP BAR */
#topbar {
  width: 100%;
  height: 21px;
  font-size: 16px;
  text-shadow:0px 1px 0px rgba(255,255,255,0.25);
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
}

#topbar ul li {
  float: left; 
  padding:0 10px;
  height: 21px;
  line-height: 24px;
}

#topbar ul li:first-child {
  font-size: 20px;
  line-height: 26px;
  margin-left: 5px;
}

#topbar ul li:active {
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4a82ff),color-stop(0, #0052fc));
  color: #fff;
  text-shadow: none;
}

#toolbar {
  width: 100%; 
  height: 40px;
  background: grey;
  border-radius:5px 5px 0 0;
  margin: 0 auto;
  background: #cfcfcf; 
}

#toolbar .top {
  float: left; 
  width: 100%; 
  height: 23px;
}

#toolbar .bottom {
  float: left; 
  width: 100%; 
  height: 30px;
}

/*-----TRAFFIC LIGHTS-----*/
#toolbar #lights {
  float: left;
  position: relative;
  top: 13px;
  left: 7px;
}
.light {
  float:left;
  width:14px;
  height:14px;
  border-radius:14px;
  overflow: hidden;
}

/*--RED--*/
.red {
 background: #ff5c30; /* Old browsers */
 
}
/*--YELLOW--*/
.yellow {
  background: #fae325; /* Old browsers */
  margin:0px 7px;
}

/*--GREEN--*/
.green {
  background: #3b9e06; /* Old browsers */
}


/* Horrible to do this for firefox */
@-moz-document url-prefix() {
  .red .glyph {
    position: relative;
    top: -4px;
  }  
  .yellow .glyph {
    top: -4px;
    left: 3px;
  }

  .green .glyph {
    position: relative;
    top: -4px;
  }
}

/*-----TITLE-----*/
#title {
  width: 100px;
  margin: 0 auto;
  font-size: 22px;
  color: #848484;
  position: relative;
  top: 5px;
}

.folder {
  float: left;
  margin-right:5px;
}

.folder .tab {
  width:4px;
  height:2px;
  background:#a4c5da;
  border:1px solid #728ea3;
  border-bottom: none;
  border-radius:2px 2px 0px 0px;
  -webkit-box-shadow:0px -1px 0px #99b5c7 inset;
  margin-left: 1px;
  z-index: 5000;
  margin-bottom: -1px; 
}

.folder .body {
  width: 14px;
  height: 10px;
  border:1px solid #6e8ba1;
  background: #b8cfe0; /* Old browsers */
  background: -moz-linear-gradient(top,  #b8cfe0 0%, #86adc8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8cfe0), color-stop(100%,#86adc8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* IE10+ */
  background: linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* W3C */    
  z-index: -50;
  -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
}

#nav {
  margin: 1px 8px;
  float: left;
}

#view {
  margin: 2px 0 0 110px;
  display: inline-block;
}

.control_box {
  height:20px;
  border-radius: 3px;
  border: 1px solid #555;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #fefefe),color-stop(0, #b8b8b8));
  box-shadow:0px 1px 0px rgba(255,255,255,0.25);
}

.control_box .control {
  height:20px;
  border-right: 1px solid #2e2e2e;
  float: left;
  text-align: center; 
  width: 27px; 
}

.control:last-child {
  border-right: 0px solid !important;
}

.control:active { 
  background: #b0afb0; 
  -webkit-box-shadow:0px 0px 4px #000 inset;
}

.active {
  background: #0c87c9 !important;
}

#sidebar .active a {
  color: #fff !important;
}

#body {
  line-height: 1em;
  font-size:13px;
  float: left;
  width: 100%;
  min-height:250px;
  background:#00293a;
  padding: 12px 20px;
  line-height:1.5em;
}

.terminal-command { 
 color: #beff9f !important;
 letter-spacing: 3px;
 font-weight: 300;
 font-size: 20px;
 line-height: 1.8;
 font-family: 'inconsolata' !important;
}

@keyframes blink
{
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  100% {  background:rgba(99,222,0,0);  }
}

.cursor {
  background:#beff9f; 
  display:inline-block;
  width:11px;
  height:28px;
  position: relative;
  top: 6px;
}

#body:hover .cursor {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
}

#content {
  float: left; 
  margin-top: 1px;
}

#foot {
  height: 23px;
  width: 100%;
  float: left;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #cbcbcb),color-stop(0, #a7a7a7));
  border-top:1px solid #515151;
  border-radius:0 0 5px 5px;
}

#foot .handle {
  width: 11px;
  height: 11px;
  float: right;
  margin: 6px;
  overflow: hidden;
}

.handle .grip {
  -webkit-transform: rotate(45deg) scaley(3);
  margin: 2px 0 0 2px;
  color: #646464;
  text-shadow: 1px 1px 0 #c6c6c6;
  font-size: 14px;
}

.icon {
  width: 86px; 
  height: 100px;
  margin: 20px; 
  float: left;
  text-align: center; 
  font-size: 12px;
}

.icon .frame {
  width: 82px;
  height: 82px; 
  border-radius: 5px;
  border: 2px solid transparent; 
}

.icon .name {
  color: #000;
  padding-top: 3px; 
  border-radius:15px;
  width: 55px;
  margin: 5px 0 0 15px;
}

.icon .folder {
  margin:15px 0 0 6px;
}

.lastlogin {
  color: #1b6482;
  margin-top: 20px;
  font-size: 21px;
  margin-bottom: 22px;
  letter-spacing: 3px;
  font-family: 'inconsolata' !important;
}

.terminal-os-x {
  margin-top: 47px;
}
/*END Terminal OS X*/

/*Home*/

.home-featured-title {
 line-height: 1.35;
 margin: 6px 0px 0px 7px;
 font-weight: bold;
}

.features-page ul {
  margin-top: 30px;
}

.featured-row {
  margin-bottom: 60px;
}

.featured-row .col-xs-4 {
  width: 31%;
  margin-right: 23px;
}

.home-header {
  color: #fff;
}

.learnmore {
  border-radius: 2px;
  padding: 7px 14px;
  color: #b6b6b6 !important;
  font-weight: 300;
  font-size: 16px;
}

.button {
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: 1px solid #3c5a0b;
  background: #7aa633;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #7aa633), color-stop(90%, #65911f));
  background-image: -webkit-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: -moz-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: -o-linear-gradient(top, #7aa633 40%, #65911f 90%);
  background-image: linear-gradient(top, #7aa633 40%, #65911f 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA3D148', endColorstr='#FF7EA72A');
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 1px #6e6e6e;
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
}

.underline:hover {
  color: #fff;
}

.button:hover {
  color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(122, 166, 51, 0.75)), color-stop(90%, rgba(101, 145, 31, 0.75)));
  background-image: -webkit-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: -moz-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: -o-linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%);
  background-image: linear-gradient(top, rgba(122, 166, 51, 0.75) 40%, rgba(101, 145, 31, 0.75) 90%)
}

.button-empty:hover {
  background: #3b70ab;
  color: #fff;
}

.learnmore:hover {
  color: #3e78b8 !important;
  font-weight: 300;
  border-color: #4981b1;
}

#a {
  padding-top:150px;
  margin-top:-150px;
  -webkit-background-clip:content-box;
  background-clip:content-box;
}

.nav-button-padding {
  padding: 7px 25px 7px 25px !important;
  margin-top: 7px;
}

.navbar-nav li:last-child {
  margin-right: 10px !important;
}

.button-empty {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 1px #6e6e6e;
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
  width: 172px;
  border: 1px solid rgba(255, 255, 255, .7);
}

.button-gray {
  color: #555;
  border: 1px solid #a0a0a0;
  font-weight: 100;
  text-shadow: none;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffffff), color-stop(90%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: -moz-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: -o-linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  background-image: linear-gradient(top, #ffffff 40%, #eeeeee 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE');
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
}

.button-white {
  color: #555;
  border: 1px solid #d5d5d5;
  font-weight: 300;
  text-shadow: none;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE');
  behavior: url(/_js/PIE.htc);
  text-decoration: none !important;
}




.button-padding {
  padding: 15px 50px 15px 50px !important;
}

/*end Home*/

.dollar:before
{
  content: "$";
  margin-right: 35px;
  color: #1B6482;
}

.visit {
  width: 150px;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-top: 7px;
  border-radius: 2px ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) ;
  color: #504F50 ;
  text-align: center ;
  font-weight: normal ;
}

.visit:hover {
  color: #555 !important;
}

.mrg-right-30 {
  margin-right: 30px;
}

.mrg-right-15 {
  margin-right: 15px;
}

.mrg-bot-20 {
  margin-bottom: 20px;
}
.mrg-bot-30 {
  margin-bottom: 30px;
}
.mrg-top-60 {
  margin-top: 60px;
}
.mrg-top-50 {
  margin-top: 50px;
}
.mrg-top-20 {
  margin-top: 25px;
}
.circle
{
  width: 47px;
  height: 47px;
  border-radius: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.small-circle
{
  width: 26px;
  height: 26px;
  border-radius: 13px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px
}

/*Circle color*/

.home-blue {
  background-color: #0c87c9;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-users {
  background: url(/assets/img/users.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 20px;
  left: 28px;
  top: 20px;
}

.home-users-small {
 background: url(/assets/img/users.png) no-repeat;
 position: absolute;
 width: 16px;
 height: 15px;
 left: 21px;
 top: 13px;
 background-size: 90%;
}

.home-purple {
  background-color: #b069c4;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-multiple {
  background: url(/assets/img/merge.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 30px;
  top: 20px;
}

.home-multiple-small {
  background: url(/assets/img/merge.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 18px;
  left: 22px;
  top: 14px;
  background-size: 90%;
}


div#sticker {
  padding:20px;
}
.stick {
  position:fixed;
  top:100px;
}


.home-cyan {
  background-color: #0acacc;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-secure {
  background: url(/assets/img/secure.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 24px;
  left: 31px;
  top: 18px;
}

.home-secure-small {
  background: url(/assets/img/secure.png) no-repeat;
  position: absolute;
  width: 16px;
  height: 18px;
  left: 21px;
  top: 10px;
  background-size: 90%;
}

.home-yellow {
  background-color: #f6c750;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-check {
  background: url(/assets/img/check.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 24px;
  left: 29px;
  top: 21px;
}

.home-check-small {
  background: url(/assets/img/check.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 22px;
  top: 14px;
  background-size: 90%;
}

.home-green {
  background-color: #7bb222;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-partners {
  background: url(/assets/img/partners.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 27px;
  top: 20px;
}

.home-partners-small {
 background: url(/assets/img/partners.png) no-repeat;
 position: absolute;
 width: 15px;
 height: 15px;
 left: 21px;
 top: 14px;
 background-size: 90%;
}

.home-orange {
  background-color: #fc5f35;
  margin-top: 7px;
  margin-bottom: 20px
}

.home-providers {
  background: url(/assets/img/providers.png) no-repeat;
  position: absolute;
  width: 22px;
  height: 28px;
  left: 30px;
  top: 18px;
}

.home-providers-small {
  background: url(/assets/img/providers.png) no-repeat;
  position: absolute;
  width: 15px;
  height: 18px;
  left: 22px;
  top: 12px;
  background-size: 90%;
}

.valprop-title {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 31px ;
  font-weight: bold ;
  line-height: 1.35 ;
  margin-top: 55px ;
}

/*End Circle color*/

/* Custom container */
.container-narrow {
  margin: 0 auto;
  width: 990px !important;
}
.container-narrow > hr {
  margin: 30px 0;
}

.container-valprop {
  width: 100%;
  /*margin-bottom: 30px;*/
}

.navbar .container {
  width: 1065px !important; 
}

.navbar-nav li {
  font-size: 16px;
  margin-right: 15px;
}

.featured-desc {
  min-height: 90px;
  margin-bottom: 30px !important;
  margin-top: 0;
}


/*Features page*/

.features-sep {
  margin: 80px 0 80px 0;
}

.left-sidebar {
  width: 28.8%;
  padding-top: 35px;
}

.left-sidebar ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.features-title {
  font-size: 26px;
  margin-bottom: 45px;
  margin-left: 20px;
  padding-top: 110px;
  margin-top: -93px;
}

.features-subtitle {
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 16px;
}

.features-page {
  margin-top: 75px;
  background-color: #e1eff6;
}

.docs-page {
  margin-top: 75px;
  background-color: #e1eff6;
}

.nopadding {
 padding: 0 !important;
 margin: 0 !important;
}

.container-features {
  margin: 0 auto;
  width: 1080px !important;
}

.left-sidebar ul {
  list-style: none;
  /*margin-left: 50px;*/
}

.white-bg {
  background-color: #fff;
  padding: 65px 45px 150px 50px;
  width: 71.2%;
}


.white-bg li {
  margin-bottom: 10px !important;
  padding-left: 5px !important;
}

.fixed {
  position: fixed;
}

.neg-mrg {
  margin-top: -10px;
  margin-right: 9px;
}

.features-border {
  border:1px solid #d7d7d7;
  margin-bottom: 20px;
}

.body-features {
  background-color: #eaeaea;
}

/*End features*/


/*Start Discussion*/
.navbar .black {
  font-weight: 500;
}

.white {
  color: #fff;
}

.black {
  color: #504f50;
}

.black:hover {
  text-decoration: underline;
  background-color: transparent !important;
}

.underline {
  text-decoration: underline;
}

.form-control {
  margin: 50px 0 50px 0;
}

.search-holder {
  background-color: #e1eff6;
}

.search-holder input {
  border-radius: 48px;
}

.discussion-page {
  background-color: #fff;
}

.recent-discussions {
  margin-bottom: 100px;
}

.recent-discussions li {
  margin-bottom: 18px;
  font-size: 18px;
}
/*End Discussion*/ 

/*Signup*/
.signup {
  margin-left: 50px;
}

.signup-head {
  margin-top: 45px;
  padding-top: 10px;
  background-color: #0c87c9;
  text-align: center;
  height: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-horizontal {
  /*border-right: 1px solid #eaeaea;*/
}

.signup-form {
  background-color: #fafafa;
  padding: 50px 30px 50px 30px;
  height: 375px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.signup-form .input-lg {
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

.signup-button {
  margin-right: 36px;
  padding: 12px 25px !important;
}


/*End Signup*/

/*Welcome*/
.welcome-head {
  margin-top: 45px;
  padding-top: 10px;
  background-color: #709c29;
  text-align: center;
  height: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signup-form form .button {
  margin-bottom: 70px;
}

.welcome-body {
  background-color: #fafafa;
  padding: 50px;
}

.signup-form form input {
  margin-bottom: 30px;
}
/*End Welcome*/

/* Docs */
.page_block_name {
  color: #0069aa;
  font-weight: 300;
  font-size: 18px;
  /*margin: 10px 0 10px 30px;*/
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active {
  color: #fff;
  background-color: #6f6f6f !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; !important;
}

.sidebar ul li {
  color: #0069aa;
}

.sidebar ul li:hover {
  color: #fff;
}

.docs-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.docs-page h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.docs-page h3 {
  font-size: 20px;
}

.docs-page h4 {
  font-size: 18px;
}

.docs-page h5 {
  font-size: 16px;
}

.docs-page h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.docs-page p {
	font-size: 15px;
}

.docs-page blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

.docs-page ul li {
  font-size: 14px;
}

.docs-page th, .docs-page td {
	font-size: 14px;
}

.docs-page .white-bg {
	padding-top: 40px;
	width: 75%;
}

.docs-page .left-sidebar {
	width: 25%;
}

/*
 * jquery.tocify.css 1.8.0
 * Author: @gregfranko
 */

 /* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
 .tocify ul, .tocify li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 10px;
}

/* Top level header elements */
.tocify-header {
 /*margin-left: 10px;*/
 color: #000 !important;
 font-weight: 700;
}

/* Top level a elements */
.tocify-header a {
  color: #0069aa !important;
}

.tocify-header a .active {
  color: #fff !important;
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
 /*margin-left: 10px !important;*/
 display: none;
}

/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
  font-size: 12px;
  margin-bottom: 0 !important;
}

.tocify-subheader li a {
  margin-left: 10px;
  line-height: 20px;
}

.tocify-subheader .tocify-subheader li a {
  margin-left: 30px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a, .nav-list .nav-header {
  /*margin: 0px;*/
  padding: 7px;
}

.tocify-item a {
  padding-left: 42px !important;
}

.tocify-item.active {
	margin-bottom: 0 !important;
}

.signup-button {
  float: right;
  margin-right: 30px;
  width: 150px;
}



#sidebar {;
  width: 310px !important;
  margin-left: -16px;
}

#sidebar a:hover {
  text-decoration: none;
}
/* End Docs*/

/*Footer*/
.bs-footer {
  height: 75px;
}
/* End Footer*/

/* Code highlighter */
pre {
  background-color: #5d5d5d;
  color: #c6ebff;
}

pre .s2 {
  color: #c6ebff;
}

.sh {
  color:#FDFCA6;
}

pre .nt {
  color: #fdfca7;
}


.block-title {
  font-size: 30px;
  margin-bottom: 45px !important;
}


table {
  margin-bottom: 30px;
  word-break: break-word;
}

table thead tr th {
  background-color: #f9f9f9;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px 12px;
  word-break: normal;
  font-size: 11px;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;

}

tr em {
  padding: 0px;
  border-radius:5px;
  background-color: transparent;
  display: inline;
}

p em {
  display: inline-block;
}

code {
  background-color: #f9f9f9;
  /*border: 1px solid #ccc;*/
  color:#555;
  border-radius:5px;
}

p {
  margin-bottom: 15px;
  margin-top: 20px;
}

.page_block_name {
  margin-left: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
  display: inline-block;
}

.sub_header_arrow {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: 30px;
  border-top: 4px solid transparent;
  border-left: 4px solid #1a74ba;
  border-bottom: 4px solid transparent;
  cursor: pointer
}

.tocify-subheader  .sub_header_arrow {
  top: 13px !important;
}

.fl-control-label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.discussion-header {
  margin-bottom: 30px;
}


.container {
  max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 10px;
  margin-top: 5px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

