---
---

@charset "utf-8";

@import
	"variables",
	"mixins"
;


#valprop {
	h1 {
		@include centeredMaxWidth(980px);
		text-align: center;
	}
	
	.wrap {
		background-image: url(/assets/images/valprop-bg--features.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 1142px;
		padding-bottom: 300px;
	}
}

#tabbed-features {
	h2, p {
		@include centeredMaxWidth(900px);
	}
}

#mfa {
	.row {
		@include centeredMaxWidth(900px);
	}
}

#sso {
	.wrap {
		@include centeredMaxWidth(800px);
	}
}

#logs {
	background-image: url(/assets/images/section-bg--features-logs.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 1440px;
	padding-bottom: 550px;
}