/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
#valprop {
  background-image: url(/assets/images/valprop-bg--home-mobile.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 434px;
  padding: 30px 0 190px; }
  #valprop .button--large > span {
    display: none; }
  #valprop .button--large:after {
    content: "Get a Free Account"; }

#features .row {
  margin-left: auto;
  margin-right: auto; }
#features .col-1-3 + .col-1-3 {
  border-top: 1px solid #c1c1c1;
  padding-top: 30px; }

#uptime .wrap {
  background-image: url(/assets/images/section-bg--home-map.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1100px auto; }
#uptime h2, #uptime p {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px; }
#uptime .trailing-link {
  display: block;
  margin-top: 260px; }

#security .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px; }
#security p {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; }
#security .col-1-3 {
  padding: 0 20%; }

#sdk h2, #sdk p, #sdk .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px; }
#sdk a {
  display: block;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase; }
  #sdk a img {
    margin-bottom: 20px; }

@media screen and (min-width: 468px) {
  #valprop {
    background-size: 651px;
    padding-bottom: 290px; }
    #valprop .button--large > span {
      display: inline; }
    #valprop .button--large:after {
      display: none; }

  #features img.responsive--full-width {
    max-width: 408px; }

  #security .col-1-3 {
    padding: 0 30px;
    width: 33.33333%; }
  #security .col-2-3 {
    margin-top: 0;
    width: 66.66667%; }

  #sdk .col-1-3 {
    margin-top: 0;
    width: 33.33333%; }

  #customers .col-1-4 {
    width: 50%; }
    #customers .col-1-4 + .col-1-4 {
      margin-top: 60px; }
      #customers .col-1-4 + .col-1-4:nth-child(2) {
        margin-top: 0; } }
@media screen and (min-width: 768px) {
  #valprop {
    background-size: 868px;
    padding: 50px 0 380px; }

  #features .col-1-3 + .col-1-3 {
    border-top: 0;
    padding-top: 0; }
  #features img.responsive--full-width {
    max-width: 100%; } }
@media screen and (min-width: 992px) {
  #valprop {
    background-image: url(/assets/images/valprop-bg--home.png);
    background-size: 1300px;
    padding: 80px 0 220px; }

  #customers .col-1-4 {
    width: 25%; }
    #customers .col-1-4 + .col-1-4 {
      margin-top: 0; } }
