---
---

@charset "utf-8";

@import
	"variables",
	"mixins"
;

#valprop {
	background-image: url(/assets/images/valprop-bg--home-mobile.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 434px;
	padding: 30px 0 190px;
	
	.button--large {
		> span {
			display: none;
		}
		
		&:after {
			content: "Get a Free Account";
		}
	}
}

#features {
	.row {
		margin-left: auto;
		margin-right: auto;
	}
	
	.col-1-3 + .col-1-3 {
		border-top: 1px solid $colorGreyLight;
		padding-top: 30px;
	}
}

#uptime {
	background-image: url(/assets/images/section-bg--home-map.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	
	h2, p {
		@include centeredMaxWidth(780px);
	}
	
	.trailing-link {
		display: block;
		margin-top: 240px;
	}
}

#security {
	.wrap {
		@include centeredMaxWidth(840px);
	}
	
	p {
		@include centeredMaxWidth(700px);
	}
	
	.col-1-3 {
		padding: 0 20%;
	}
}

#sdk {
	h2, p, .row {
		@include centeredMaxWidth(840px);
	}
	
	a {
		display: block;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		
		img {
			margin-bottom: 20px;
		}
	}
}

@include breakpoint(extra-small) {
	 #valprop {
		background-size: 651px;
		padding-bottom: 290px;
		
		.button--large {
			> span {
				display: inline;
			}
			
			&:after {
				display: none;
			}
		}
	}
	
	#features {	
		img.responsive--full-width {
			max-width: 408px;
		}
	}
	
	#security {
		.col-1-3 {
			padding: 0 ($gutterWidth / 2);
			width: 100% * 1/3;
		}
		
		.col-2-3 {
			margin-top: 0;
			width: 100% * 2/3;
		}
	}
	
	#sdk {
		.col-1-3 {
			margin-top: 0;
			width: 100% * 1/3;
		}
	}
	
	#customers {
		.col-1-4 {
			width: 100% * 1/2;
			
			+ .col-1-4 {
				margin-top: $gutterWidth;
				
				&:nth-child(2) {
					margin-top: 0;
				}
			}
		}
	}
}

@include breakpoint(small) {
	#valprop {
		background-size: 868px;
		padding: 50px 0 380px;
	}
	
	#features {
		.col-1-3 + .col-1-3 {
			border-top: 0;
			padding-top: 0;
		}
		
		img.responsive--full-width {
			max-width: 100%;
		}
	}
}

@include breakpoint(medium) {
	#valprop {
		background-image: url(/assets/images/valprop-bg--home.png);
		background-size: 1300px;
		padding: 80px 0 220px;
	}
	
	#customers {
		.col-1-4 {
			width: 100% * 1/4;
			
			+ .col-1-4 {
				margin-top: 0;
			}
		}
	}
}

@include breakpoint(large) {
}