/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
#valprop {
  text-align: center; }
  #valprop p {
    margin-left: auto;
    margin-right: auto; }
