/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
#valprop {
  text-align: center; }

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  zoom: 1; }
  article:after {
    clear: both;
    content: "";
    display: table; }
  article + article {
    border-top: 1px solid #E6E6E8;
    margin-top: 30px;
    padding-top: 30px; }
  article .thumbnail {
    float: left;
    margin-right: 30px;
    width: 120px; }
    article .thumbnail img {
      display: block;
      width: 100%; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.sidebar blockquote {
  border-left: 4px solid #E6E6E8;
  margin-bottom: 48px;
  padding-left: 30px; }
.sidebar ul li {
  padding-left: 36px;
  position: relative; }
  .sidebar ul li:before {
    background: #4cbf9c;
    border-radius: 3px;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-top: -3px;
    position: absolute;
    top: 0.75em;
    width: 6px; }
  .sidebar ul li + li {
    margin-top: 12px; }

iframe {
  max-width: 100%; }

@media screen and (min-width: 468px) {
  article .content {
    margin-left: 150px; } }
@media screen and (min-width: 768px) {
  article .thumbnail {
    width: 240px; }

  article .content {
    margin-left: 270px; } }
