/*
  #0069aa   // okta blue
  #e1eff5   // sky blue
  #74b340   // button green
  #29588b   // dark outline blue
*/


/* -------------------------- PRICING PAGE -- */

#main-container.container {
  width: 1080px;
  text-align: center;
  border: 1px solid #d9d9d9;
}

.header-block-bg {
  background: #0069aa;
  width: 100%;
  height: 320px;
  position: absolute;
  top: -1px; left: 0;
  margin: 0;
}

.pricing-title {
  color: #fff;
  letter-spacing: 1px;
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: .2em;
}

.pricing-subtitle {
  color: #fff;
  margin-bottom: 1em;
}

.upper {
  position: relative;
  background: #e1eff5;
  padding-bottom: 4em;
}

.grid {
  width: 660px;
  margin: 0 auto;
  margin-top: 70px;
  background: #fff;
  position: relative;
  border: 1px solid #d0dde3;
  box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.grid .row {
  padding: 3em 2em 2em;
  margin: 0;
}

.grid .col-md-4 {
  cursor: pointer;
  transition: all .1s ease-in;
  transform: scale(1);
}

.grid .col-md-4:hover {
  color: #000;
  transform: scale(1.05);
}


.pricing-icon {
  margin-bottom: 1em;
}

.stripe-row {
  background: #fbfbfb;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.lower {
  background: #fff;
  padding: 5em 0;
}

.lower-headline {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
.lower-headline span {
  font-weight: 300;
}

.btn-primary-cta {
  background: #74b340;
  font-size: 1.3em;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #29588b;
  box-shadow: 0 0 2px rgba(0,0,0,.1);
  text-transform: uppercase;
  padding: .6em 1em .5em;
  transition: all .1s ease-in;
  transform: scale(1);
}

.btn-primary-cta:hover {
  color: #fff;
  background: #64a330;
  background: #84c350;
  text-shadow: 0 1px 2px rgba(0,0,0,.1);
  transform: scale(1.01);
}

.btn-contact {
  background: #fff;
  border: 1px solid #0069aa;
  color: #0069aa;
  border-radius: 3px;
  text-transform: uppercase;
  padding: .6em 1em .5em;
  transition: all .1s ease-in;
}

.btn-contact:hover {
  background: #fcfdff;
  color: #0069aa;
}