#header {
	position: fixed;
	background-color: get-color('white');
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100px;
	width: 100%;
	display: block;
	border-bottom: solid 3px get-color('gray-lighter');

	nav {
		width: 100%;
		height: 100px;
		padding: 40px 0;

		ul {
			float: right;
			display: inline-block;
			margin: 0;
			padding: 0;

			li {
				line-height: #{get-line-height('h4') / 2};
				display: inline-block;
				@include font-size(small);
				display: inline;
				font-weight: 500;
				line-height: 20px;
				position: relative;

				+ li {
					margin-left: get-spacing('small');
				}

				> a {
					text-transform: uppercase;
					z-index: 20;
				}

				.dropdown-window {
					@include padding(x-small);
					display: none;
					background: get-color('white');
					border-radius: 3px;
					bottom: -15px;
					box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
					margin: 0 0 0 30%;
					position: absolute;
					z-index: 10;
					background: #fff;
					right: 0;
					transform: translateY(100%);
					width: 260px;
					z-index: 10;

					p {
						background: no-repeat;
						background-size: 40px;
						box-sizing: content-box;
						height: 40px;
						line-height: 20px;
						margin: 0;
						padding-left: 50px;

						+ p {
							background-position: 0 get-spacing('x-small');
							border-top: 1px solid get-color('gray-light');
							margin-top: get-spacing('x-small');
							padding-top: get-spacing('x-small');
						}
					}

					.stack-overflow {
						background-image: image_url("rounded-stackoverflow--small-blue.png");
					}

					.email {
						background-image: image_url("rounded-email--small-blue.png");
					}

					.tel {
						background-image: image_url("rounded-mobile--small-blue.png");
					}

					.devforum {
						background-image: image_url("rounded-devforum--small-blue.png");
					}
				}

				.has-dropdown > a::after {
					border: solid transparent;
					border-bottom-color: #fff;
					border-width: 0 5px 5px;
					content: "";
					display: none;
					left: 50%;
					margin-left: 5px;
					position: absolute;
					top: 55px;
					z-index: 10;
				}

				&.dropdown-active {
					> a:before {
						border-bottom: 10px solid get-color('white');
						content: '';
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						bottom: -5px;
						height: 0;
						left: 50%;
						position: absolute;
						width: 0;
						transform: translate(-50%, 100%);
					}

					.dropdown-window {
						display: block;
					}
				}

			}

			li > a {
				@extend %animated-Underline;
				@include color('charcoal');
				position: relative;

				&.active,
				&:active,
				&:hover {
					color: get-color('accent');
				}

				&.active:after {
					transform: scaleX(1);
				}
			}
		}

		%Button {
			float: right;
			height: 42px;
			line-height: 38px;
			text-transform: uppercase;
			transform: translateY(-11px);
		}

		.SearchIcon {
			@include margin(0 small);
			background: image_url("icons/search.svg") center no-repeat;
			background-size: contain;
			float: right;
			height: 24px;
			transform: translateY(-2px);
			width: 40px;
		}
	}

	.logo {
		display: inline-block;
		top: 30px;
		left: 40px;
		position: absolute;

		a {
			background: image_url("logo.svg") center center no-repeat;
			background-size: contain;
			height: 34px;
			width: 100px;
			text-indent: 100%;
			white-space: nowrap;
			display: block;
			overflow: hidden;

			&:before ,
			&:hover:before {
				content: '';
				position: relative;
				height: 0;
				bottom: 0;
			}
		}
	}


	#top-nav {
		transition: 450ms cubic-bezier(0.23,1,0.38,0.98);

		&.search-active {
			ul {
				display: none;
			}
		}
	}
}

@include media("<medium") {
	#header {
		height: 75px;

		#nav {
			height: 75px;
			padding: 0;
		}

		.logo {
			top: 20px;
		}

		#mobile-nav {
			display: block;
			position: absolute;
			right: 40px;
			top: 17px;

			#mobile-search {
				@include margin(0 small 0 0);
				background: image_url("icons/search--mobile.svg") center no-repeat;
				background-size: 24px;
				border: 2px solid get-color('accent');
				border-radius: 100%;
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				z-index: 3;
			}

			#mobile-open {
				border-radius: 100%;
				border: 2px solid get-color('accent');
				float: left;
				width: 40px;
				height: 40px;
				z-index: 3;
				position: relative;
				display: block;

				span {
					position: absolute;
					width: 24px;
					height: 2px;
					background: get-color('accent');
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					&:nth-child(2) {
						top: calc(50% - 7px);
					}

					&:nth-child(3) {
						top: calc(50% + 7px);
					}
				}
			}
		}

		#top-nav {
			transform: translateX(-100%);
			z-index: 100;
			left: 0;
			top: 0;
			width: 100%;
			height: 105vh;
			position: absolute;
			background: get-color('accent');
			overflow: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			ul {
				float: none;
			}

			li, a {
				text-align: left;
				display: block;
				padding-right: 0;
				color: #fff;
				font-weight: 100;
			}

			.SearchIcon,
			%Button {
				display: none;
			}
		}
	}

	.mobile-nav-active {
		overflow: hidden !important;

		#header {

			#top-nav {
				@include padding(medium);
				transform: translateX(0);

				ul {
					margin: 0;
					width: 100%;

					li {
						margin: 0;
						line-height: get-line-height('h3');
						font-size: get-font-size('h4');
					}

					li > a {
						display: inline;
						width: auto;

						&:before {
							display: none;
						}
					}
				}

				.dropdown-window {
					border-top: 1px solid rgba(#fff, 0.5);
					box-shadow: none;
					padding: 0;
					margin: 0;
					display: block;
					background: transparent;
					z-index: 5;
					position: static;
					top: 0;
					line-height: get-line-height('h6');
					font-size: get-font-size('h6');
					left: 0;
					margin-top: get-spacing('small');
					padding-top: get-spacing('small');
					transform: none;
					width: 100%;

					&, a {
						font-weight: 300;
					}

					p + p {
						background-position: 0 0;
						border-top: 0;
						margin-top: get-spacing('small');
						padding-top: 0;
					}

					.accent {
						display: none;
					}

					.stack-overflow {
						background-image: url(#{$asset-path}/img/rounded-stackoverflow--small-white.png);
					}

					.email {
						background-image: url(#{$asset-path}/img/rounded-email--small-white.png);
					}

					.tel {
						background-image: url(#{$asset-path}/img/rounded-mobile--small-white.png);
					}
				}
			}
		}

		#mobile-close {
			position: absolute;
			border-radius: 100%;
			border: 2px solid get-color('white');
			width: 40px;
			height: 40px;
			z-index: 100000;
			right: get-spacing('medium');
			top: 17px;

			&:hover {
				text-decoration: none;
			}

			span {
				position: absolute;
				width: 70%;
				height: 2px;
				background: get-color('white');
				top: 50%;
				left: 15%;

				&:first-child {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				&:last-child {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}


	#header {
		ul {
			li {
				a {
					&:hover {
						&:before {
							background: transparent;
						}
					}
					&:before {
						background: transparent;
					}
				}
			}
		}
	}
}
