.SideBySidePromo {
	@include padding(large medium);
	display: flex;
	position: relative;
	width: 50%;

	/*&:nth-child(2n) &-bg {
		left: 0;
	}

	&:nth-child(2n + 1) &-bg {
		right: 0;
	}*/

	&:nth-child(4n + 2) &-bg,
	&:nth-child(4n + 3) &-bg {
		background-image: image_url("bg--promo.png");
		background-size: 14px;
	}

	&-bg {
		background: get-color('gray-lightest');
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		//width: 50vw;
		z-index: 5;
	}

	&-container {
		@extend %Wrap;
		align-items: stretch;
		display: flex;
		max-width: $site-width + get-spacing('medium') * 2;
		padding: 0;
	}

	&-content {
		align-self: stretch;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 100%;
		z-index: 10;
	}

	&-title {
		@extend %h3;
		margin-bottom: 0;
		width: 100%;
	}

	&-subtitle {
		@extend %h6;
		@include margin(x-small 0 medium);
		width: 100%;
	}

	&-cta {
		align-self: flex-end;
	}
}

@include media('<small') {
	.SideBySidePromo {
		width: 100%;

		&-bg {
			width: 100vw;
		}

		&-container {
			flex-wrap: wrap;
		}
	}
}
