%SignupSection {
  @include padding(x-large 0);
  background-color: get-color('gray-lightest');
}

.SignupSection,
[class^='SignupSection--'],
[class*=' SignupSection--'] {
  @extend %SignupSection;
}

.SignupSection {
  .Wrap {
    @include color(default);
    font-weight: 100;
    font-size: 1.67em;
    line-height: 145%;

    @include media('<small') {
      padding: 0;

      .Column,
      [class^='Column-'],
      [class*=' Column-'] {
        @include padding(0 medium);
      }
    }

    &:before {
      background: get-color('white');
      left: 70%;
      bottom: -80px;
      content: '';
      display: block;
      position: absolute;
      top: -100px;
      width: 50vw;

      @include media('<large') {
        left: 60%;
      }

      @include media('<medium') {
        left: 55%;
      }

      @include media('<small') {
        display: none;
      }
    }
  }

  .sidekick.blockquote {
    padding: 3rem;

    @include media('<small') {
      padding: 1.5rem;
    }

    blockquote {
      position: relative;
      border: none;
    }

    blockquote:before {
      position: absolute;
      top: 0;
      left: calc(50% - 16px);
      content: '';
      background: url(#{$asset-path}/img/blockquote.png) center center no-repeat;
      width: 32px;
      height: 32px;
    }

    .row div {
      blockquote {
        color: inherit;

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: inherit;
        }
      }
    }

    blockquote > p {
      @include color('default');
      @include font-size('base');
      @include font-weight('x-small');
      @include line-height('small');
      margin: get-spacing(medium) 0 0 0;
      text-align: center;
    }

    cite {
      @include color('default');
      @include font-size('base');
      @include font-weight('x-small');
      @include line-height('small');
    }
  }

  .OccForm {
    &.mktoForm {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;

      .mktoButtonWrap {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .mktoFieldWrap {
        float: none;
      }

      .mktoFormRow,
      .mktoFieldWrap,
      .mktoFieldDescriptor,
      textarea,
      input,
      select {
        width: 100% !important;
      }

      .mktoFieldDescriptor {
        margin-bottom: 0 !important;
      }

      label[for='Prospecting_Notes__c'] {
        @include color('default');
        @include font-size('small');
        @include font-weight('bold');
        @include line-height('small');
        font-family: $font-family;
        display: block;
        margin-bottom: get-spacing(xx-small);
      }

      .mktoGutter,
      .mktoAsterix,
      .mktoOffset {
        display: none;
      }
    }
  }

  .mktoForm,
  .OccForm {
    &,
    p {
      @include color('charcoal');
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
    }

    label,
    &--error {
      display: none;
    }

    .casl-inputs {
      @include padding(small 0);
    }

    .global-error {
      @include color('red');
      @include font-weight('500');
      display: block;
      display: none;
      margin-bottom: 0;
      padding-bottom: #{get-spacing(small) * 1.5};
    }

    &-terms {
      margin-top: get-spacing('x-small');

      p {
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
      }
    }

    select {
      &.mktoField {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include padding(0 small);
      }
    }

    textarea,
    input[type='number'],
    input[type='tel'],
    input[type='text'],
    input[type='email'],
    select {
      @include color('charcoal');
      @include padding(0 small);
      @include transition(border normal, color normal);
      background: #fff;
      border: 1px solid get-color('gray-dark');
      display: block;
      font-family: 'proxima-nova', sans-serif;
      font-size: 14px;
      height: 30px;
      line-height: 28px;
      margin: 0 0 get-spacing(x-small) 0;
      width: 100%;

      &.error {
        border-color: get-color('gray') !important;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include color('gray');
      }

      &::-moz-placeholder { /* Firefox 19+ */
        @include color('gray');
      }

      &:-ms-input-placeholder { /* IE 10+ */
        @include color('gray');
      }

      &:-moz-placeholder { /* Firefox 18- */
        @include color('gray');
      }

      &:focus {
        background: #fff;
        border-color: get-color('green');
      }
    }

    .is-invalid {
      input[type='text'],
      input[type='email'],
      select {
        border-color: get-color('red') !important;
        border-width: 2px;
        line-height: 26px;
        transition: none;
      }

      .OccForm--error {
        @include color('red');
        @include font-weight('500');
        display: block;
        margin-bottom: 0;
      }
    }

    .is-valid {
      input[type='text'],
      input[type='email'],
      select {
        border-color: get-color('green') !important;
      }
    }

    &-label {
      @include margin(x-small 0 xx-small);
      position: relative;
      z-index: 5;
    }

    .mktoButtonWrap,
    &-submit {
      @include margin(x-small 0 0);
      position: relative;

      &:before {
        @include transition(opacity normal);
        background: url('#{$asset-path}/img/ajax-loader-white.gif') no-repeat center;
        background-size: 16px;
        content: '';
        display: block;
        height: 16px;
        left: 90px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 16px;
        z-index: 5;
      }

      button[type='submit'],
      input[type='submit'] {
        @include margin(small 0 0 0);
        @include font-size(small);
        @include font-weight(bold);
        @include line-height(small);
        font-family: $font-family !important;
        border-radius: 3px;
        background: get-color('green');
        border-color: transparent;
        color: #fff;
        max-width: 100%;
        width: 180px;

        &:focus,
        &:active,
        &:hover {
          border-color: transparent;
          outline: none;
        }
      }

      &.is-processing {
        &:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }

        input[type='submit'] {
          background: get-color('green') !important;
          color: get-color('green') !important;
        }
      }
    }
  }

  .FormColumn {
    @include media('<small') {
      @include padding(medium medium !important);
      background: get-color('white');
    }

    #developer_error {
      display: none;

      p {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
  }
}

// text styles shared between signup/thankyou pages
.SignupSection,
.SignupSection--ThankYou {
  .Wrap {
    h1 {
      @include color('new-gray-dark');
      @include font-size('new-h1');
      @include font-weight('light');
      @include line-height('large');
    }

    h2 {
      @include color('new-gray-dark');
      @include font-size('h4');
      @include font-weight('base');
    }

    h3 {
      @include color('new-gray-dark');
      @include font-size('h6');
      @include font-weight('base');
      @include line-height('h6');
    }

    p {
      @include color('default');
      @include font-size('base');
      @include font-weight('x-small');
      @include line-height('small');
    }
  }
}

.SignupSection--ThankYou {
  @extend %SignupSection;
  text-align: center;
  background-color: get-color('white');

  &.highlight {
    @include padding(medium 0);
    background: get-color('gray-lightest');
  }
}
