.tabber {
	@extend %Clearfix;
	border: solid get-color('gray-light');
	border-width: 1px 0;
	margin-bottom: 40px;

	> ul {
		@extend %Wrap;
		align-items: stretch;
		border-left: 1px solid get-color('gray-light');
		box-sizing: border-box;
		display: flex;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}

	li {
		border-right: 1px solid get-color('gray-light');
		align-items: stretch;
		display: flex;
		width: 20%;

		+ li {
			margin: 0;
		}
	}

	a {
		align-items: center;
		border-bottom: 4px solid transparent;
		color: get-color('default');
		display: flex;
		padding: 12px;
		text-decoration: none;
		width: 100%;

		&:active, &:hover {
			border-bottom-color: get-color('gray-light');
		}

		&.active {
			color: get-color('blue-bright');
			border-bottom-color: get-color('blue-bright');

			i {
				background-position: bottom;
			}
		}

		i, span {
			display: block;
		}

		i {
			height: 26px;
			margin-right: 12px;
			width: 26px;
		}
	}

	@include media('<medium') {
		> ul {
			border-left: 0;
			flex-wrap: wrap;
		}

		li {
			border-right: 0;
			height: 81px;
			width: 100%;

			+ li {
				border-top: 1px solid get-color('gray-light');
			}
		}
	}
}

.tabber-targets {
	> * {
		float: left;
		margin-right: -100%;
		position: relative;
		width: 100%;
	}

	h2 {
		color: get-color('blue-bright');
	}
}

[class*=icon-small--] {
	background: no-repeat top;
	background-size: 26px;
	display: inline-block;
	height: 26px;
	width: 26px;
}

.icon-small--okta {
	background-image: image_url("icons/flat-okta--with-hover.png");
}

.icon-small--folder {
	background-image: image_url("icons/flat-folder--with-hover.png");
}

.icon-small--updown {
	background-image: image_url("icons/flat-updown--with-hover.png");
}

.icon-small--db {
	background-image: image_url("icons/flat-database--with-hover.png");
}

.icon-small--social {
	background-image: image_url("icons/flat-twitter--with-hover.png");
}
