<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% include head.html %}
<body>
  <div class="Page">
    <!-- START Header -->
    {% include header.html %}
    <!-- END Header -->
    <!-- START Page Center w/Sub Nav & Content -->
    <section class="PageContent">
      <!-- START Fixed sidebar -->
      <aside class="Sidebar">
        <h2 class="Sidebar-location Sidebar-toggle h6">HTTP Verbs</h3>
           <div class="Sidebar-close Sidebar-toggle"></div>
	   <div>
	     <h3 class="Sidebar-title">Programming languages</h3>
	     <ul class="Sidebar-nav">{%
           assign indices = site.code | sort: 'id' %}{% for index in indices %}{% unless index.id contains '/index' %}{% continue %}{% endunless %}{% assign parts = index.id | split: "/" %}{% assign language = parts[2] %}{% assign element = index %}
           <li{% if element.title == page.title%} class="is-active"{% endif %}><a href="/code/{{ language | prepend: site.baseurl }}">{{ element.title }}</a></li>{%
           endfor %}
	     </ul>
	   </div>
        </aside>
      <!-- END Fixed sidebar -->
      <!-- START Page Content -->
      <div class="PageContent-main">
	    {{ content }}
      </div>
      <!-- END Page Content -->
    </section>
    <!-- END Page Center w/Sub Nav & Content -->
    <!-- START Footer -->
    {% include footer.html %}
    <!-- END Footer -->
  </div>
</body>
</html>
