---
layout: master
css: page-customers
---

<section id="valprop" class="section--full-width bg--dark-blue" style="background:{% if page.bg_color %}#{{ page.bg_color }}{% else %}#01090b{% endif %};padding:0;">
	<div class="wrap" style="background:url({{ page.bg_image }}) no-repeat;background-size:1230px;height:220px;"></div>
</section>

<section class="section--full-width">
	<div class="wrap">

		<header>
			<h2>{{ page.title }}</h2>
			<p><a href="{{ page.customer_url }}" class="btn" target="_blank">{{ page.customer_link_name }} &rarr;</a></p>
		</header>

		<div class="row">
			<div class="col-2-3">

				<p class="customer-story-tagline">{{ page.title_tagline }}</p>

				{{ content }}

				{% if page.diagram_image %}
				{% img {{ page.diagram_image }} alt:"{{ page.title }} architecture diagram" class:"responsive--full-width" %}
				{% endif %}

			</div>

			<div class="sidebar col-1-3">

				<blockquote>

					<p>"{{ page.sidebar_testimonial }}"</p>

					<p>
						<strong>{{ page.sidebar_testimonial_attribution }}</strong><br />
						{{ page.sidebar_testimonial_meta }}
					</p>

				</blockquote>

				{{ page.sidebar_copy | markdownify }}

			</div>
		</div>

	</div>
</section>
