---
layout: master-docs
css: layout-docs
js: docs
---

{% assign github_page_url = site.github_base_url | append: page.path %}

<section class="section--with-sidebar docs-index">
	<aside id="sidebar-wrapper-aside" class="sticky-nav--sidebar">

		{% include docs_sidebar.html %}

	</aside>

	<div id="docs-body" class="body docs-body">

		<nav id="sticky-nav" class="sticky-nav--top no-flexbox">

			{% include docs_nav.html %}

		</nav>

		<a href="#docs-body" id="scroll-top-button">Scroll to Top</a>

		{% if page.title %}
		<header>
			<a href="{{ github_page_url }}" target="_blank" class="btn btn-default btn-sm btn-github"><i class="fa fa-github"></i> Edit on GitHub</a>
			<h1 class="h3">{{ page.title }}</h1>
		</header>
		{% endif %}

		{{ content }}
		<section class="docs-content">
			<div class="inner-content">
				<!-- Work around to remove blank lines -->
				{{ content }}{% for nav in site.data.docs %}{% if nav.section contains "guides" %}<ul class="list-unstyled docs-index-list bulletsless">{% for item in nav.pages %}{% for page in site.pages %}{% if page.layout == 'docs_page' %}{% assign name = page.path | replace: '.md', '' | split: '/' | last | downcase %}{% if name == item  and name != 'overview' %}{% assign excerpt = page.excerpt %}	{% if excerpt == blank %}{% assign excerpt = page.content | strip_html | truncatewords: 30  %}{% endif %}<li data-name="{{ page.title }}"><a href="/docs/{{ nav.section }}/{{ item }}.html">{{ page.title }}</a><div class="excerpt">{{ excerpt }}</div></li>{% endif %}{% endif %}{% endfor %}{% endfor %}</ul>{% endif %}{% endfor %}
			</div>
		</section>
	</div>
	{% include footer.html %}
</section>