---
layout: base
js: docs
---

    <!-- START Page Center w/Sub Nav & Content -->
    <section class="PageContent DynamicSidebar has-tableOfContents">
      <!-- START Fixed sidebar -->
      {% include sidebar.html %}
      <!-- END Fixed sidebar -->
      <!-- START Page Content -->
      <div class="PageContent-main" id="docs-body">
      {{ content }}
      </div>
      <div class="TableOfContents TableOfContentsPreload">
          <div class="TableOfContents-item is-level1">
              <script>
                  document.write(document.title.split('|')[0].trim());
              </script>
          </div>
          <div class="TableOfContentsLoader"></div>
      </div>
      <!-- END Page Content -->
    </section>
    <!-- END Page Center w/Sub Nav & Content -->
