<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% include head.html %}
<body>
  <div class="Page">
    <!-- START Header -->
    {% include header.html %}
    <!-- END Header -->
    <!-- START Page Center w/Sub Nav & Content -->
    <section class="PageContent">
      <!-- START Fixed sidebar -->
      {% include sidebar.html %}
      <!-- END Fixed sidebar -->
      <!-- START Page Content -->
      <div class="PageContent-main">
	{{ content }}
      </div>
      <!-- END Page Content -->
	
	
    </section>
    <!-- END Page Center w/Sub Nav & Content -->


    <!-- START Footer -->
    {% include footer.html %}
    <!-- END Footer -->

  </div>
<script
        src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
<script src="/assets/js/master.js"></script>
</body>
</html>
