<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <script>
    const isProduction = window.location.hostname === 'developer.okta.com';
    if (isProduction) {
      // TypeKit
      (function(d) {
        var config = {
          kitId: 'jff5neq',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

      // Google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-15777010-3', 'auto');
      ga('send', 'pageview');
    }
	</script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 	
  <link type="text/css" rel="stylesheet" href="/assets/animate-ec43d72c3ed45e08a460b8a2966d8dba6006aebfa0530935c3973fa493a8771f.css">
  <link type="text/css" rel="stylesheet" href="/assets/okta-cdb1b544ae0f29a9e4d8c0bcbe55984903ad1378a9da805143cb56984ce2fa57.css">
  
  
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <title>API-Name | Okta Developer</title>
  <meta name="description" content="Pithy phrase describing problem that customer solves with this API">
  <link rel="canonical" href="http://developer.okta.com/templates/api-endpoint">
  <link rel="alternate" type="application/rss+xml" title="Okta Developer" href="http://developer.okta.com/feed.xml"><!-- GA -->
</head>

<body>
  <div class="Page api-name">
    <!-- START Header -->
    <header id="header">
      <div class="Wrap">
        <h1 class="logo"><a href="/">Okta</a></h1><!-- START Primary Nav -->
        <nav>
          <div id="top-nav">
            <a href="#" id="mobile-close" class="mobile-toggle">
              <span></span>
              <span></span>
            </a>
            <a class="Button--green" href="https://www.okta.com/developer/signup" id="top-nav-cta">Get Started</a>
            <a class="SearchIcon" href="#"></a>
            <ul>
              <li>
                <a href="/product/">Product</a>
              </li>
              <li>
                <a href="/documentation/">Documentation</a>
              </li>
              <li>
                <a href="/code/">Code</a>
              </li>
              <li class="has-dropdown">
                <a href="#">Support</a>
                <div class="dropdown-window">
                  <p class="stack-overflow">Post your question on <a href="http://stackoverflow.com/search?q=okta" target="_blank">Stack Overflow</a></p>
                  <p class="email">Email us:<br>
                  <a href="mailto:developers@okta.com">developers@okta.com</a></p>
                  <p class="tel">Call us:<br>
                  <a href="tel:18887227871">1 (888) 722-7871</a></p>
                </div>
              </li>
            </ul>
            <form id="form_search" method="get" action="http://developer.okta.com/search/" name="form_search">
              <input type="text" name="q" id="q" autocomplete="off">
            </form>
          </div>
          <div id="mobile-nav">
            <a id="mobile-search" href="http://developer.okta.com/search/"><span class="icon-search-light"></span></a>
            <a id="mobile-open" class="mobile-toggle" href="#top-nav">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </nav><!-- END Primary Nav -->
      </div>
    </header><!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJ45R6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TJ45R6');
    </script> <!-- End Google Tag Manager -->
     <!-- END Header -->
     <!-- START Page Center w/Sub Nav & Content -->
    <section class="PageContent DynamicSidebar has-tableOfContents">
      <!-- START Fixed sidebar --><aside class="Sidebar">
        <h2 class="Sidebar-location Sidebar-toggle h6">Navigation</h2>
        <div class="Sidebar-close Sidebar-toggle"></div>
        <div>
          <h3 class="Sidebar-title">Use Cases</h3>
          <ul class="Sidebar-nav">
            <li>
              <a href="/use_cases/authentication">Authentication</a>
            </li>
            <li>
              <a href="/use_cases/mfa">Multi-Factor Authentication</a>
            </li>
            <li>
              <a href="/use_cases/api_access_management">API Access Management</a>
            </li>
            <li>
              <a href="/use_cases/integrate_with_okta">Integrate with Okta</a>
            </li>
          </ul>
          <h3 class="Sidebar-title">Reference</h3>
          <ul class="Sidebar-nav">
            <li>
              <a href="/docs/api/getting_started/api_test_client.html">Getting Started</a>
            </li>
            <li>
              <a href="/docs/api/resources/authn.html">Authentication Reference</a>
            </li>
            <li>
              <a href="/docs/api/resources/apps.html">API Reference</a>
            </li>
            <li>
              <a href="/reference/error_codes">Error Codes</a>
            </li>
            <li>
              <a href="/reference/okta_expression_language">Okta Expression Language</a>
            </li>
            <li>
              <a href="/docs/platform-release-notes/platform-release-notes.html">Platform Release Notes</a>
            </li>
          </ul>

          <h3 class="Sidebar-title">Standards</h3>
          <ul class="Sidebar-nav">
            
            
            
            <li>
              <a href="/standards/OAuth/">OAuth 2.0 and Okta</a>
            </li>
            
            
            <li>
              <a href="/standards/OIDC/">OpenID Connect and Okta</a>
            </li>
            
            
            
            <li>
              <a href="/standards/SAML/">SAML</a>
            </li>
            
            
            
            
            <li>
              <a href="/standards/SCIM/">SCIM Provisioning with Lifecycle Management</a>
            </li>
            
          </ul>
          <script>
            if (document.querySelectorAll("#Sidebar_Resources .is-active").length) {
                document.getElementById('Sidebar_Resources').classList.remove('Sidebar-hide');
            }

            if (document.querySelectorAll("#Sidebar_References .is-active").length) {
                document.getElementById('Sidebar_References').classList.remove('Sidebar-hide');
            }
          </script>
        </div>
      </aside>
<!-- END Fixed sidebar -->
      <!-- START Page Content -->
      <div class="PageContent-main" id="docs-body">
        <a id="edit-link" href="https://github.com/okta/okta.github.io/edit/master/_source/">Edit Page</a>
      <!-- Each API may have additional content required to describe it. Feel free to add sections. This template provides the basic pattern. -->

<h1 id="api-name">API-Name</h1>

<!-- Be sure to give the API name in both places where API-Name appears -->

<p>The Feebleblitzer API…</p>

<h2 id="endpoints">Endpoints</h2>

<p>Explore the API-Name API: <a href="https://app.getpostman.com/run-collection/4adca9a35eab5716d9f6"><img src="https://run.pstmn.io/button.svg" alt="Run in Postman" /></a>
<!-- Replace link with a link to your postman collection. If you haven't published it yet, hide this section. --></p>

<h3 class="api api-operation" id="endpoint-name-request">Endpoint-Name Request</h3>

<!-- Phrase that describes what the endpoint does, like "Returns a list of all feebleblitzers" -->

<p><span class="api-uri-template api-uri-get"><span class="api-label">GET</span> /api/v1/api-url</span>
<!-- Replace "get" with appropriate HTTP request get, post etc. and "//api-ur" with the full URI after the org name such as /api/v1/my-endpoint --></p>

<h4 class="api api-request api-request-params" id="request-parameters">Request Parameters</h4>

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
      <th>Param Type</th>
      <th>DataType</th>
      <th>Required</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>paramName</td>
      <td>What param represents. If very detailed, add details at end of table</td>
      <td>———-</td>
      <td>———</td>
      <td>——–</td>
      <td>—————</td>
    </tr>
  </tbody>
</table>

<h4 id="parameter-details">Parameter Details</h4>
<!-- You can delete this section if there aren't any details to add. -->

<h4 id="response-parameters">Response Parameters</h4>

<p>Parameter         | Description                                                                                        | DataType  |
—————– | ————————————————————————————————– | ———-|
responseParameter   What the value returned represents.</p>

<h4 id="request-example">Request Example</h4>

<div class="highlighter-rouge"><pre class="highlight"><code>insert request example here
</code></pre>
</div>

<h4 id="response-example">Response Example</h4>

<div class="highlighter-rouge"><pre class="highlight"><code>insert response example here
</code></pre>
</div>

<h2 id="model">Model</h2>

<h4 id="example">Example</h4>

<div class="language-json highlighter-rouge"><pre class="highlight"><code><span class="err">Insert</span><span class="w"> </span><span class="err">schema</span><span class="w"> </span><span class="err">example</span><span class="w">
</span></code></pre>
</div>

<h4 id="object-name-properties">Object-Name Properties</h4>

<p>All object-names have the following properties:</p>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>DataType</th>
      <th>Nullable</th>
      <th>Unique</th>
      <th>Readonly</th>
      <th>MinLength</th>
      <th>MaxLength</th>
      <th>Validation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td>The feebleblitzer…</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>

      </div>
      <div class="TableOfContents TableOfContentsPreload">
        <div class="TableOfContents-item is-level1">
          <script>
                  document.write(document.title.split('|')[0].trim());
          </script>
        </div>
        <div class="TableOfContentsLoader"></div>
      </div><!-- END Page Content -->
    </section><!-- END Page Center w/Sub Nav & Content -->

    <!-- START Footer -->
    <footer class="footer">
      <div class="Wrap">
        <ul>
          <li>
            <a href="https://www.okta.com" target="_blank">Okta.com</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/docs/platform-release-notes/platform-release-notes.html">Platform Release Notes</a>
          </li>
          <li>
            <a href="/terms/">Terms & Conditions</a>
          </li>
          <li>
            <a href="/3rd_party_notices/">3rd Party Notices</a>
          </li>
          <li>
            <a href="/privacy/">Privacy Policy</a>
          </li>
          <li>
            <a href="https://okta.com/developer/contact/">Contact Sales</a>
          </li>
          <li>
            <a href="mailto:developers@okta.com">Contact Support</a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="icon" href="http://github.com/oktadeveloper" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a class="icon" href="http://twitter.com/okta" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="icon" href="http://stackoverflow.com/search?q=okta" target="_blank"><i class="fa fa-stack-overflow"></i></a>
          </li>
          <li>
            <a class="icon" href="http://feeds.feedburner.com/OktaBlog" target="_blank"><i class="fa fa-rss"></i></a>
          </li><!-- <li><a class="icon" href="http://community.okta.com" target="_blank"><i class="fa fa-comments"></i></a></li> -->
        </ul>
      </div>
    </footer>
    <script type="text/javascript" src="/assets/master-d164e3cb90ad42ea74c141546269db0efdbc2259b7d44b7f52babb60097099a8.js"></script>
    
    
    
    
      <script type="text/javascript" src="/assets/docs-a2d1c410ee8c45eaa505f76f4f72815741c3bb6532081ae1abe25e3d8d00f4fa.js"></script>
    
    <!-- Remarketing tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1006913831;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <div style="display:none;">
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    </div>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1006913831/?value=0&amp;guid=ON&amp;script=0">
      </div>
    </noscript>
    <!-- End Remarketing tag -->
    <!-- Crazy Egg Tracking -->
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0021/9333.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
    <!-- End Crazy Egg Tracking -->

     <!-- END Footer -->
  </div>
</body>
</html>
