/*
 * _common.scss
 ------------------------------------------------------------ */
.tabber {
	> ul {
		border-left: 1px solid $colorGreyLight;
	}
	
	li {
		border-right: 1px solid $colorGreyLight;
		float: left;
		width: 20%;
		
		+ li {
			border-top: 0;
		}
	}
}