.AnnouncementBar {
	background: get-color('charcoal');
	padding: 30px 0;
	
	%Wrap {
		align-items: center;
		display: flex;
	}
	
	&-title {
		@include color('white');
		flex-shrink: 0;
		line-height: 52px;
		margin: 0 get-spacing('large') 0 0;
		white-space: nowrap;
	
		img {
			display: inline-block;
			height: 35px;
			margin-left: get-spacing('xx-small');
			vertical-align: middle;
		}
	}
	
	&-text {
		@include color('gray-medium');
		flex-grow: 1;
		
		a {
			@include color('white');
		}
	}
}

@include media('<small') {
	.AnnouncementBar {
		%Wrap {
			align-items: flex-start;
			flex-direction: column;
		}
		
		&-title {
			line-height: 35px;
			margin-right: 0;
			margin-bottom: get-spacing('small');
		}
	}
}

@include media('<x-small') {
	.AnnouncementBar {
		&-title {
			@include font-size('h3');
			line-height: 28px;
			white-space: normal;
			
			img {
				height: 28px;
			}
		}
	}
}