
// Display when user click search button (and search-active class is applied to nav)
#top-nav {

	// Hide by default
	#form_search {
		display: none;
	}

	// Display when user click search button (and search-active class is applied to nav)
	&.search-active {

		#form_search {
			margin: 0;
			height: 30px;
			width: 50%;
			max-width: 375px;
			float: right;
			display: inline-block;
			transform: translateY(-5px);

			input {
				border-color: get-color('gray-medium');
				float: right;
				width: 100%;
				padding: 2px 10px;
				margin-top: 2px;
			}
		}

	}

}