.IconBar {
	@include padding(large 0);
	text-align: center;
	
	&-items {
		display: flex;
		justify-content: space-between;
		width: 100%;
		
		> a {
			@include color('gray-medium');
			text-decoration: none;
		}
		
		> a strong {
			@include transition(normal color);
		}
		
		> a:active %Icon,
		> a:hover %Icon,
		> a:active strong,
		> a:hover strong {
			@include color('accent');
		}
	}
	
	%Icon {
		margin-bottom: get-spacing('x-small');
	}
}

@include media('<small') {
	.IconBar {
		overflow: hidden;
		
		&-items {
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			margin: get-spacing('-small') get-spacing('-x-small');
			width: calc(100% + #{get-spacing('x-small') * 2});
		}
		
		&-items > a {
			@include padding(small x-small);
			flex-basis: 33.33%;
		}
		
		.Icon--circle {
			padding: 10px;
			
			&,
			svg {
				height: 50px;
				width: 50px;
			}
		}
	}
}