.PageContent {
	@extend %Wrap;
	@include padding(large 0);
	box-sizing: border-box;
	display: flex;
	max-width: $site-width + get-spacing('medium') * 2;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 10;

	&.has-tableOfContents {
		padding-right: 240px;
	}

    &.has-tableOfContents &-main {
        max-width: 840px;
    }

	&-main {
		@include padding(0 large);
		flex-grow: 1;

		header {
			@include margin(large 0);

			h1 {
				color: get-color('default');
				border: 0;
				margin: 0;

				&:before {
					font-family: fontawesome;
					margin-right: 8px;
					content: '\f12e';
				}
			}

			%Button {
				float: right;
				position: relative;
				top: 24px;
				transform: translateY(-50%);
			}
		}

		a.github {
			text-decoration: none;

			&:before {
				font-family: FontAwesome;
				text-rendering: auto;
				-moz-osx-font-smoothing: grayscale;
				content: "\f09b";
				font-size: get-font-size('h6');
				padding-right: 5px;
				transform: translateY(-2px);
				vertical-align: middle;
			}
		}

		h1,
		h2 {
			border-bottom: 1px solid get-color('gray-medium');
		}

		h3, h4, h5, h6 {
			@include color('blue-bright');

			& img {
				height: 50px;
				margin-bottom: 20px;
				left: 0;
			}
		}

		blockquote {
			border-left: 7px solid #46B3E9;
			background: #F7FBFD;
			padding: 20px;
			p {
				color: get-color('black');
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
		}

		ul {
			padding-left: 20px;
			margin-top: 0 !important;
			margin-bottom: 10px;
			list-style: initial;
			li {
				color: #555;
				margin-bottom: 5px;
			}
		}

		ol {
			margin: 0 0 10px 30px;
			list-style: decimal;
			img {
				margin: inherit;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		table {
			@include font-size('small');
			@include margin(medium 0);
			width: 100%;
		}

		th {
			text-align: left;
			background: #eee;
			padding: 5px;
			font-weight: bold;
			vertical-align: top;
			word-break: normal;
			background: get-color('blue-bright');
			color: white;
		}

		tr {
			border-bottom: 1px dotted #999;
			&:nth-child(even) {
			    background-color: #F7FBFD;
			}
		}

		input:focus {outline:0;}

		td {
			padding: 3px 5px;
			border-right: 1px dotted #f0f0f0;
			vertical-align: top;

			code {
				word-break: normal;
				font-size: 12px;
				color: #333333;
			}
		}

		code, kbd, pre, samp, pre code {
			font-size: 14px;
		}
		code {
			border-radius: 2px;
			white-space: normal;
			padding: 0;
			background: transparent;
			color: #333333;
			font-size: 14px;
			font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
			word-break: break-all;
		}

		blockquote code,
		table code {
			color: get-color('blue-bright');
		}

		pre {
			display: block;
			padding: 9.5px;
			margin: 0 0 10px;
			line-height: 1.428571429;
			color: #333333;
			word-break: break-all;
			word-wrap: break-word;
			background-color: #f0f0f0;
			border-radius: 4px;
			white-space: pre;
			overflow: auto;
			code {
				white-space: pre;
			}
		}

		.header-link {
			position: relative;
			left: 0.5em;
			opacity: 0;
			font-size: 0.8em;

			-webkit-transition: opacity 0.2s ease-in-out 0.1s;
			-moz-transition: opacity 0.2s ease-in-out 0.1s;
			-ms-transition: opacity 0.2s ease-in-out 0.1s;
		}

		h2:hover .header-link,
		h3:hover .header-link,
		h4:hover .header-link,
		h5:hover .header-link,
		h6:hover .header-link {
			opacity: 1;
		}


		/* -------------------------- API */

		#cors-test {
			display: inline-block;
		}

		.api:before {
			font-family: fontawesome;
			margin-right: 8px;
		}

		.api-operation {
			color: get-color('default') !important;
			font-weight: 500!important;
			&:before {
				content: '\f12e';
			}
		}

		.api-request {
			color: get-color('default')!important;
			font-weight: 500!important;
		}

		.api-response {
			color: get-color('default')!important;
			font-weight: 500!important;
		}

		.api-request-params:before {
			content:"\f18e";
		}

		.api-response-params:before {
			content:"\f190";
		}

		.api-request-example:before {
			content:"\f0a9";
		}

		.api-response-example:before {
			content:"\f0a8";
		}

		.api-label {
			color: white;
			font-weight: 500;
			padding: 3px 10px;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background: get-color('green-dark');
			display: inline-block;
			i {
		    margin-right: 2px;
			}
		}

		.api-label-small {
			font-size:80%;
		}

		.api-label-margin-bottom {
			margin-bottom: 10px;
		}

		.api-label-beta {
		  background: #46B3E9;
		}

		.api-label-ea {
		  background: #4CBF9C;
		}

		.api-label-deprecated {
		  background: #ff7640;
		}

		.api-label-cors {
		  background: #5d5d5d;
		}

		.api-uri-template {
			display:inline-block;
			border-top:1px solid #ccc;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
			border-radius:.25em;
		  padding-right: 10px;
			background:#f5f5f5;
			margin-right: 5px;
			em {
				font-weight: bold;
				color: #090;
			}
			.api-label {
				border-top-right-radius:0;
				border-bottom-right-radius:0;
				margin-right:5px
			}
		}

		.api-uri-get {
			em {
				color: #090;
			}
			.api-label {
				background: #090;
			}
		}

		.api-uri-post {
			em {
				color: #F39C44;
			}
			.api-label {
				background: #F39C44;
			}
		}

		.api-uri-put {
			em {
				color: #0069aa;
			}
			.api-label {
				background: #0069aa;
			}
		}

		.api-uri-delete {
			em {
				color: #d9534f;
			}
			.api-label {
				background: #d9534f;
			}
		}

		.panel-default {
			border-color: #dddddd;
		}

		.form-group {
			&:before {
				display: table;
				content: " ";
				clear: both;
			}
		}

		.form-horizontal .form-group:before, .form-horizontal .form-group:after {
			display: table;
			content: " ";
		}

		.form-horizontal .form-group:after {
			clear: both;
		}

		.panel-body:after {
			clear: both;
		}

		.panel-body:before, .panel-body:after {
			display: table;
			content: " ";
		}

		.form-cors-test {
			margin-bottom:20px;
			.form-group {
				display:inline-block;
				vertical-align:middle;
				width: 50%;
			}
		}

		.form-cors-test .input-group {
			display:inline-table;
			vertical-align:middle;
		}

		.cors-test-result {
			padding-left: 30px;
			width: 80%;
		}
		.btn {
			transition: 0.2s all;
			font-size: 0.92166em;
			background: none;
			border: 1px solid #E6E6E8;
			border-radius: 3px;
			color: #000;
			display: inline-block;
			padding: .4em .8em;
			text-decoration: none;

			&-primary {
				color: #ffffff;
				background-color: #428bca;
				border-color: #357ebd;
				padding: 1em .8em;
			}

			&:active,
			&:focus,
			&:hover {
				background: none;
				border-color: #4cbf9c;
				color: #4cbf9c;
			}
		}


		.input-group {
			position: relative;
			display: table;
			border-collapse: separate;
		}

		.input-group[class*="col-"] {
			float: none;
			padding-right: 0;
			padding-left: 0;
		}

		.input-group .form-control {
			width: 100%;
			margin-bottom: 0;
		}

		.form-horizontal {
			.control-label {
				padding-top: 7px;
				margin-top: 0;
				margin-bottom: 0;
				text-align: right;
			}
			label {
				display: inline-block;
				margin: 5px 0;
				font-weight: bold;
			}
			.form-control-static {
				padding-top: 7px;
			}
		}
		.form-control {
			display: block;
			width: 50%;
			height: 55px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555555;
			vertical-align: middle;
			background-color: #ffffff;
			background-image: none;
			border: 1px solid #cccccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		}

		.input-group-lg > .form-control,
		.input-group-lg > .input-group-addon,
		.input-group-lg > .input-group-btn > .btn {
			height: 46px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 6px;
		}


		.input-group-addon,
		.input-group-btn,
		.input-group .form-control {
			display: table-cell;
		}

		.input-group-addon:not(:first-child):not(:last-child),
		.input-group-btn:not(:first-child):not(:last-child),
		.input-group .form-control:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		.input-group-addon,
		.input-group-btn {
			width: 1%;
			white-space: nowrap;
			vertical-align: middle;
		}

		.input-group-addon {
			padding: 6px 12px;
			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			color: #555555;
			text-align: center;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 4px;
		}

		.panel {
			margin-bottom: 20px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			border-radius: 4px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		}

		.panel-default > .panel-heading {
			color: #333333;
			background-color: #f5f5f5;
			border-color: #dddddd;
		}

		.panel-heading {
			padding: 10px 15px;
			border-bottom: 1px solid transparent;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}

		/* -------------------------- beta */

		.beta {
			display: none;
		}

		.excerpt {
			padding-left:40px
		}

		// End old style

		#markdown-toc {
			display: none !important;
		}

		.btn-github {
			margin-top: 20px;
		}

		.docs-index-list {
			margin-left: 10px;

			li:before {
				font-family: fontawesome;
				font-size: 14px;
				color: #ccc;
				content: '\f097';
				margin-right: 5px;
			}
		}
		.bulletsless {
			list-style: none;
		}

		.alert strong {
			font-weight: bold;
		}

		.page-title-block {
			padding-bottom: .5em;
			margin-bottom: 2em;
			border-bottom: 1px solid #888;
		}

		.table-word-break td{
			word-break: break-word;
		}

		.page-title-block .btn {
			float: right;
			position: relative;
			top: 25px;
			text-decoration: none;
		}

		.CodeRay pre {
			white-space: pre;
			word-wrap: normal;
			overflow-x: auto;
		}

		/* -------------------------- PYGMENTS */

		.highlight pre { color: #333333; background-color: #f0f0f0; } /* Base Style */
		.highlight .p { color: #333333; background-color: #f0f0f0; } /* Punctuation */
		.highlight .err { color: #333333; background-color: #f0f0f0; } /* Error */
		.highlight .n { color: #006399; background-color: #f0f0f0; } /* Base Style */
		.highlight .na { color: #006399; background-color: #f0f0f0; } /* Name Attribute */
		.highlight .nb { color: #006399; background-color: #f0f0f0; } /* Name Builtin */
		.highlight .nc { color: #006399; background-color: #f0f0f0; } /* Name Class */
		.highlight .no { color: #006399; background-color: #f0f0f0; } /* Name Constant */
		.highlight .nd { color: #006399; background-color: #f0f0f0; } /* Name Decorator */
		.highlight .ni { color: #006399; background-color: #f0f0f0; } /* Name Entity */
		.highlight .ne { color: #006399; background-color: #f0f0f0; } /* Name Exception */
		.highlight .nf { color: #006399; background-color: #f0f0f0; } /* Name Function */
		.highlight .nl { color: #006399; background-color: #f0f0f0; } /* Name Label */
		.highlight .nn { color: #009468; background-color: #f0f0f0; } /* Name Namespace */
		.highlight .nx { color: #006399; background-color: #f0f0f0; } /* Name Other */
		.highlight .py { color: #006399; background-color: #f0f0f0; } /* Name Property */
		.highlight .nt { color: #006399; background-color: #f0f0f0; } /* Name Tag */
		.highlight .nv { color: #006399; background-color: #f0f0f0; } /* Name Variable */
		.highlight .vc { color: #006399; background-color: #f0f0f0; } /* Name Variable Class */
		.highlight .vg { color: #006399; background-color: #f0f0f0; } /* Name Variable Global */
		.highlight .vi { color: #006399; background-color: #f0f0f0; } /* Name Variable Instance */
		.highlight .bp { color: #006399; background-color: #f0f0f0; } /* Name Builtin Pseudo */
		.highlight .g { color: #333333; background-color: #f0f0f0; } /* Base Style */
		.highlight .gd { color: #333333; background-color: #f0f0f0; } /*  */
		.highlight .o { color: #333333; background-color: #f0f0f0; } /* Base Style */
		.highlight .ow { color: #009468; background-color: #f0f0f0; } /* Operator Word */
		.highlight .c { color: #aaaaaa; background-color: #f0f0f0; font-style: italic; }/* Base Style */
		.highlight .cm { color: #aaaaaa; background-color: #f0f0f0; font-style: italic; } /* Comment Multiline */
		.highlight .cp { color: #aaaaaa; background-color: #f0f0f0; font-style: italic; } /* Comment Preproc */
		.highlight .c1 { color: #aaaaaa; background-color: #f0f0f0; font-style: italic; } /* Comment Single */
		.highlight .cs { color: #aaaaaa; background-color: #f0f0f0; font-style: italic; } /* Comment Special */
		.highlight .k { color: #009468; background-color: #f0f0f0; } /* Base Style */
		.highlight .kc { color: #009468; background-color: #f0f0f0; } /* Keyword Constant */
		.highlight .kd { color: #009468; background-color: #f0f0f0; } /* Keyword Declaration */
		.highlight .kn { color: #009468; background-color: #f0f0f0; } /* Keyword Namespace */
		.highlight .kp { color: #009468; background-color: #f0f0f0; } /* Keyword Pseudo */
		.highlight .kr { color: #009468; background-color: #f0f0f0; } /* Keyword Reserved */
		.highlight .kt { color: #009468; background-color: #f0f0f0; } /* Keyword Type */
		.highlight .l { color: #333333; background-color: #f0f0f0; } /* Base Style */
		.highlight .ld { color: #990f69; background-color: #f0f0f0; } /* Literal Date */
		.highlight .m { color: #990f69; background-color: #f0f0f0; } /* Literal Number */
		.highlight .mf { color: #990f69; background-color: #f0f0f0; } /* Literal Number Float */
		.highlight .mh { color: #990f69; background-color: #f0f0f0; } /* Literal Number Hex */
		.highlight .mi { color: #990f69; background-color: #f0f0f0; } /* Literal Number Integer */
		.highlight .mo { color: #990f69; background-color: #f0f0f0; } /* Literal Number Oct */
		.highlight .il { color: #990f69; background-color: #f0f0f0; } /* Literal Number Integer Long */
		.highlight .s { color: #bf3600; background-color: #f0f0f0; } /* Literal String */
		.highlight .sb { color: #bf3600; background-color: #f0f0f0; } /* Literal String Backtick */
		.highlight .sc { color: #bf3600; background-color: #f0f0f0; } /* Literal String Char */
		.highlight .sd { color: #bf3600; background-color: #f0f0f0; } /* Literal String Doc */
		.highlight .s2 { color: #bf3600; background-color: #f0f0f0; } /* Literal String Double */
		.highlight .se { color: #990f69; background-color: #f0f0f0; } /* Literal String Escape */
		.highlight .sh { color: #bf3600; background-color: #f0f0f0; } /* Literal String Heredoc */
		.highlight .si { color: #bf3600; background-color: #f0f0f0; } /* Literal String Interpol */
		.highlight .sx { color: #bf3600; background-color: #f0f0f0; } /* Literal String Other */
		.highlight .sr { color: #990f69; background-color: #f0f0f0; } /* Literal String Regex */
		.highlight .s1 { color: #bf3600; background-color: #f0f0f0; } /* Literal String Single */
		.highlight .ss { color: #bf3600; background-color: #f0f0f0; } /* Literal String Symbol */
		.highlight .g { color: #333333; background-color: #f0f0f0; } /* Base Style */
		.highlight .gd { color: #333333; background-color: #f0f0f0; } /* Generic Deleted */
		.highlight .ge { color: #333333; background-color: #f0f0f0; } /* Generic Emph */
		.highlight .gr { color: #333333; background-color: #f0f0f0; } /* Generic Error */
		.highlight .gh { color: #333333; background-color: #f0f0f0; } /* Generic Heading */
		.highlight .gi { color: #333333; background-color: #f0f0f0; } /* Generic Inserted */
		.highlight .go { color: #333333; background-color: #f0f0f0; } /* Generic Output */
		.highlight .gp { color: #333333; background-color: #f0f0f0; } /* Generic Prompt */
		.highlight .gs { color: #333333; background-color: #f0f0f0; } /* Generic Strong */
		.highlight .gu { color: #333333; background-color: #f0f0f0; } /* Generic Subheading */
		.highlight .gt { color: #333333; background-color: #f0f0f0; } /* Generic Traceback */
		.highlight .x { color: #333333; background-color: #f0f0f0; } /* Other */
		.highlight .w { color: #333333; background-color: #f0f0f0; } /* Text Whitespace */

		#scroll-top-button {
			position: fixed;
			bottom: 5%;
			right: 2%;
			padding: 1em 2em;
			background: #f0f0f0;
			font-size: 12px;
			border: 1px solid #ddd;
			opacity: 0;
			-webkit-transition: .2s opacity ease-in,
			.2s background ease-in,
			.2s color ease-in,
			.05s position ease-out;
			transition:         .2s opacity ease-in,
			.2s background ease-in,
			.2s color ease-in,
			.05s position ease-out;
		}

		#scroll-top-button.on {
			opacity: 1;
		}

		#scroll-top-button:before {
			font-family: fontawesome;
			content: '\f0a6';
			margin-right: 10px;
		}

		#scroll-top-button:hover {
			text-decoration: none;
			background: #fafafa;
		}
	}
}

@include media('<medium') {
	.PageContent {
		// padding-left: get-spacing('medium');
		&-main {
			@include padding(medium small);
            flex-grow: 1;
		}
	}
}

@include media('<large') {
	.PageContent {
		padding-left: 40px;
	}
}

@include media('<doc-min-toc') {
	.PageContent {
		padding-left: 0px;
        padding-top: 10px;
		&.has-tableOfContents {
			flex-direction: column;
			padding-right: 0;
		}

		&.has-tableOfContents &-main {
			width: 100%;
		}
	}
}
