.Sidebar {
	@include padding(large medium);
	background: get-color('gray-lightest');
	min-width: 280px;
	position: relative;
	width: 320px;

	&:before {
		background: get-color('gray-lightest');
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
		width: 50vw;
	}

	&-title {
		@include color('gray-dark');
		@include font-size('base');
		@include margin(medium 0 0);
		font-weight: 600;
	}

	&-nav {
		&,
		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul {
			border-left: 1px solid get-color('gray-light');
			padding-left: get-spacing('x-small');

			a {
				@include padding(0.1em x-small);
				@include transition(background normal);
				border-radius: 3px;
			}

			a:active, a:hover {
				background-color: get-color('gray-light');
			}
		}

		a {
			@include color('default');
			display: block;
			font-weight: 400;
			text-decoration: none;
		}


		> li,
		ul {
			@include margin(x-small 0);
		}

		> li > a {
			font-weight: 600;
		}

		.is-active {
			> a {
				@include color('accent');
			}

			> ul {
				display: block;
			}
		}
	}

	&-location {
		display: none;
	}
}

.DynamicSidebar {
    @include media('<doc-min-toc') {
	    .Sidebar {
		    @include padding(x-small small x-small 0);
		    background: get-color('white');
		    min-width: 100%;
		    position: relative;
		    clear: both;
		    order: -2;
		    width: 100%;
		    height: auto;
		    border-bottom: solid 3px get-color('gray-light');
		    z-index: 100;
		    position: relative;
	        h3,
	        ul {
		        display: none;
	        }
        }
	    .Sidebar-close {
		    @include transition(normal transform);
		    background: url('#{$asset-path}/img/icons/close.svg') no-repeat center;
		    cursor: pointer;
		    position: absolute;
		    width: 22px;
		    height: 22px;
		    z-index: 3;
		    right: get-spacing('small');
		    top: 14px;
	    }
	    .Sidebar-location {
		    @include margin(0 small);
		    color: get-color('blue-bright');
		    display: block;
		    cursor: pointer;
	    }
	    .Sidebar-active {
		    @include padding(small);
		    h3,
		    ul {
			    display: block;
		    }
	    }
	    .Sidebar-active .Sidebar-close {
		    transform: rotate(180deg);
	    }
	    .Sidebar-active .Sidebar-location {
		    display: none;
	    }
    }
}

