.TableOfContents {
	@include padding(large medium large 0);
	@include transition(transform normal);
	align-self: flex-start;
	bottom: 0;
	left: calc(50% + #{$site-width * 0.5 - 200});
	overflow: hidden;
	position: fixed;
	top: 100px;
	width: 200px + get-spacing('medium');
	z-index: 1000;

	&-indicator {
		@include transition(height normal, transform normal);
		background: get-color('blue-bright');
		height: (get-spacing('xx-small') * 2) + 20;
		left: 0;
		margin-top: 30px + get-spacing('large');
		position: absolute;
		top: 0;
		width: 1px;
		z-index: 10;
	}

	&-item {
		@include font-size('small');
		@include padding(xx-small 0);
		@include transition(color normal);
		display: block;
		line-height: 20px;
		position: relative;

		&,
		&:active
		&:hover {
			@include color('default');
			text-decoration: none;
		}
	}

	&-footer {
		padding-top: get-spacing('small');
	}

	.is-level1 {
		font-weight: bold;
		padding-top: get-spacing('small');
		padding-bottom: 10px;

		&:nth-child(2) {
			padding-top: 0;
		}
	}

	.is-level2 {
		padding-left: get-spacing('small');
		&:nth-child(1) {
			padding-top: 0;
		}
	}

	.is-level3 {
		padding-left: get-spacing('small') * 2;

		&:before {
			left: get-spacing('small');
		}
	}

	.is-level4 {
		padding-left: get-spacing('small') * 3;

		&:before {
			left: get-spacing('small') * 2;
		}
	}

	.is-level5 {
		padding-left: get-spacing('small') * 4;

		&:before {
			left: get-spacing('small') * 3;
		}
	}

	.is-level6 {
		padding-left: get-spacing('small') * 5;

		&:before {
			left: get-spacing('small') * 4;
		}
	}

	.is-level2,
	.is-level3,
	.is-level4,
	.is-level5,
	.is-level6 {
		border-left: 1px solid get-color('gray-light');
		cursor: pointer;
	}

	.is-level3,
	.is-level4,
	.is-level5,
	.is-level6 {
		&:before {
			@include transition(border normal);
			border: 1px solid get-color('gray-medium');
			border-radius: 100%;
			content: '';
			display: block;
			height: 6px;
			position: absolute;
			top: get-spacing('xx-small') + 6;
			width: 6px;
		}
	}

	.is-active {
		@include color('blue-bright');

		&:before {
			border-color: get-color('blue-bright');
		}
	}
}


@include media('<doc-min-toc') {
	.TableOfContents {
		@include color('default');
		order: -1;
		position: static;
		width: 100%;
		z-index: 10;
		padding: 0 get-spacing('large');
		margin-bottom: 20px;
		left: inherit;
		right: 0;

		&:before {
			display: none;
		}

		&-indicator {
			display: none;
		}

		.is-level1 {
			margin-left: 0;
			margin-top: 8px;
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
		}

		.is-level2 {
			border-left: none;
			padding-left: 0;
		}

		.is-level3,
		.is-level4,
		.is-level5,
		.is-level6 {
			display: none;
		}

		.is-active {
			@include color('default');
		}

		.TableOfContents-footer {
			display: none;
		}
	}
}

@include media('<doc-min-toc') {
	.TableOfContents {
		@include padding(0 medium);
	}
}
