{% assign section = page.url %}

	<a href="#" class="toggle-menu"></a>
	<a {% if section contains "/guides/" endif %} class="on" {% endif %} href="/docs/guides/overview.html">
		Guides
	</a>
	<a {% if section contains "/api/" endif %} class="on" {% endif %} href="/docs/api/getting_started/design_principles.html">
		API
	</a>
	<a {% if section contains "/sdk/" endif %} class="on" {% endif %} href="/docs/sdk/core/api.html">
		SDKs
	</a>
	<a {% if section contains "/examples/" endif %} class="on" {% endif %} href="/docs/examples/session_cookie.html">
		Examples
	</a>
