<footer class="footer">
      <div class="Wrap">
        <ul>
          <li>
            <a href="https://www.okta.com" target="_blank">Okta.com</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/docs/platform-release-notes/platform-release-notes.html">Platform Release Notes</a>
          </li>
          <li>
            <a href="/terms/">Terms & Conditions</a>
          </li>
          <li>
            <a href="/3rd_party_notices/">3rd Party Notices</a>
          </li>
          <li>
            <a href="/privacy/">Privacy Policy</a>
          </li>
          <li>
            <a href="/contact/">Contact Sales</a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">Contact Support</a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="icon" href="http://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a class="icon" href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="icon" href="{{ site.dev_forum }}" title="Okta Developer Forums" target="_blank"><i class="fa fa-comments"></i></a>
          </li>
          <li>
            <a class="icon" href="http://feeds.feedburner.com/OktaBlog" target="_blank"><i class="fa fa-rss"></i></a>
          </li><!-- <li><a class="icon" href="http://community.okta.com" target="_blank"><i class="fa fa-comments"></i></a></li> -->
        </ul>
      </div>
    </footer>
    {% js master %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% for script in layout.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% if page.js %}
      {% js '{{page.js}}' %}
    {% endif %}
    {% if layout.js %}
      {% js '{{layout.js}}' %}
    {% endif %}
