<header id="header">
    <div class="Wrap">
        <h1 class="logo"><a href="/">Okta</a></h1>

        <!-- START Primary Nav -->
        <nav>
            <div id="top-nav">
                <a href="#" id="mobile-close" class="mobile-toggle">
                    <span></span>
                    <span></span>
                </a>


                <a class="Button--green" href="{{ site.get_started_url }}">Get Started</a>
                <a class="SearchIcon" href="#"></a>
                <ul>
						<li><a href="/product/">Product</a></li>
						<li><a href="/documentation/">Documentation</a></li>
						<li><a href="/code/">Code</a></li>
                    <li class="has-dropdown">
                        <a href="#">Support</a>
                        <div class="dropdown-window">
                            <p class="stack-overflow">
	                                Post your question on <a href="http://stackoverflow.com/search?q=okta" target="_blank">Stack Overflow</a>
	                            </p>
                            <p class="email">
                                Email us:<br>
                                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                            </p>
                            <p class="tel">
                                Call us:<br>
                                <a href="tel:18887227871">1 (888) 722-7871</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <form id="form_search" method="get" action="http://developer.okta.com/search/">
                    <input type="text" name="q" id="q" autocomplete="off">
                </form>
            </div>

            <div id="mobile-nav">
                <a id="mobile-search" href="http://developer.okta.com/search/"><span class="icon-search-light"></span></a>
                <a id="mobile-open" class="mobile-toggle" href="#top-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </nav>
        <!-- END Primary Nav -->
    </div>
</header>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJ45R6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TJ45R6');</script>
<!-- End Google Tag Manager -->
