<header class="site-header">
	<div class="wrap">

		<h1 class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

		<nav id="primary-nav" class="site-nav loaded">
			<ul>
				<li><a href="{{ "product/" | prepend: site.baseurl }}">Product</a></li>
				<li><a href="{{ "pricing/" | prepend: site.baseurl }}">Pricing</a></li>
				<li><a href="{{ "customers/" | prepend: site.baseurl }}">Customers</a></li>
				<li><a href="{{ "docs/guides/overview.html" | prepend: site.baseurl }}">Docs</a></li>
				<li><a href="{{ "discussion/" | prepend: site.baseurl }}">Discussion</a></li>
				<li class="has-dropdown"><a href="#">Support</a>
					<div class="dropdown-window">
						<p class="stack-overflow">
							Post your question on <a href="http://stackoverflow.com/search?q=okta" target="_blank">Stack Overflow</a>.<br />
							We'll answer it within 24 hours.
						</p>
						<p class="email">
							Email us:<br />
							<a href="mailto:developers@okta.com">developers@okta.com</a>
						</p>
						<p class="tel">
							Call us:<br />
							<a href="tel:18887227871">1 (888) 722-7871</a>
						</p>
					</div>
				</li>
			</ul>
		</nav>

		<a href="/search" class="gsc-trigger search-button"></a>


		<div class="search-container">
			<div class="gsc-container">
				<script defer="defer">
					(function() {
						var cx = '005121479574088032773:mmh_vhv8uns';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();
				</script>
				<gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only>
			</div>
		</div>
		<a href="https://www.okta.com/developer/signup/" class="cta-button button--small">Get Started</a>

	</div>
</header>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P6JKVN"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6JKVN');</script>
<!-- End Google Tag Manager -->

