<aside class="Sidebar">
        <h2 class="Sidebar-location Sidebar-toggle h6">Navigation</h2>
        <div class="Sidebar-close Sidebar-toggle"></div>
        <div>
          <h3 class="Sidebar-title">Use Cases</h3>
          <ul class="Sidebar-nav">{% assign documents = site.use_cases | sort: 'weight' %}{% for document in documents %}{% unless document.id contains '/index' %}{% continue %}{% endunless %}
            <li{% if document.title == page.title%} class="is-active"{% endif %}>
              <a href="{{ document.url | remove: '/index' | append: '/'}}">{{ document.title }}</a>
            </li>{%
            endfor %}
          </ul>
          <h3 class="Sidebar-title">Reference</h3>
          <ul class="Sidebar-nav">
            <li{% if page.title contains '/getting_started' %} class="is-active"{% endif %}>
              <a href="/docs/api/getting_started/api_test_client.html">Getting Started</a>{% if page.id contains "docs/api/getting_started" %}
              <ul>{% assign docs = site.docs | sort: 'weight' %}{% for doc in docs %}{% unless doc.id contains "docs/api/getting_started" %}{% continue %}{% endunless %}{% if doc.id contains "/index" %}{% continue %}{% endif %}
                <li{% if doc.title == page.title%} class="is-active"{% endif %}>
                  <a href="{{ doc.id }}.html">{{ doc.title }}</a>
                </li>{% endfor %}
              </ul>{% endif %}
            </li>{% assign auth_references = "/docs/api/resources/authn,/docs/api/resources/oauth2,/docs/api/resources/oidc,/docs/api/resources/social_authentication,/docs/api/resources/sessions,/docs/api/resources/oauth-clients" | split: "," %}{% assign api_references = "/docs/api/resources/apps,/docs/api/resources/events,/docs/api/resources/factor_admin,/docs/api/resources/factors,/docs/api/resources/groups,/docs/api/resources/idps,/docs/api/resources/policy,/docs/api/resources/roles,/docs/api/resources/schemas,/docs/api/resources/system_log,/docs/api/resources/templates,/docs/api/resources/tokens,/docs/api/resources/users" | split: "," %}
            <li>
              <a href="/docs/api/resources/authn.html">Authentication Reference</a>{% if page.id contains "docs/api/resources" %}
              <ul id="Sidebar_References" class="Sidebar-hide">{% assign docs = site.docs %}{% assign docids = auth_references %}{% for docid in docids %}{% for doc in docs %}{% unless doc.id == docid %}{% continue %}{% endunless %}
                <li{% if doc.title == page.title%} class="is-active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>{% endfor %}{% endfor %}
              </ul>{% endif %}
            </li>
            <li>
              <a href="/docs/api/resources/apps.html">API Reference</a>{% if page.id contains "docs/api/resources" %}
              <ul id="Sidebar_Resources" class="Sidebar-hide">{% assign docs = site.docs %}{% assign docids = api_references %}{% for docid in docids %}{% for doc in docs %}{% if doc.beta %}{% continue %}{% endif %}{% unless doc.id == docid %}{% continue %}{% endunless %}
                <li{% if doc.title == page.title%} class="is-active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>{% endfor %}{% endfor %}
              </ul>{% endif %}
            </li>{% assign documents = site.reference %}{% for document in documents %}{% if document.id contains "docs/api/getting_started" %}{% continue %}{% endif %}{% if document.id contains "docs/api/resources" %}{% continue %}{% endif %}{% if document.id contains "reference/api_reference" %}{% continue %}{% endif %}{% if document.id contains "reference/getting_started" %}{% continue %}{% endif %}{% if document.id contains "reference/authentication_reference" %}{% continue %}{% endif %}
            <li{% if document.title == page.title or page.title contains document.title %} class="is-active"{% endif %}>
              <a href="{% if document.id contains '/index' %}{{ document.url | remove: '/index' | append: '/'}}{% else %}{{ document.link }}{% endif %}">{{ document.title }}</a>
            </li>{% endfor %}
          </ul>

          <h3 class="Sidebar-title">Standards</h3>
          <ul class="Sidebar-nav">
            {% assign elements = site.standards %}
            {% for element in elements %}
            {% unless element.id contains '/index' %}{% continue %}{% endunless %}
            <li{% if element.title == page.title%} class="is-active"{% endif %}>
              <a href="{{ element.url | remove: '/index' | append: '/' }}">{{ element.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <script>
            if (document.querySelectorAll("#Sidebar_Resources .is-active").length) {
                document.getElementById('Sidebar_Resources').classList.remove('Sidebar-hide');
            }

            if (document.querySelectorAll("#Sidebar_References .is-active").length) {
                document.getElementById('Sidebar_References').classList.remove('Sidebar-hide');
            }
          </script>
        </div>
      </aside>
