{% include header.html css_file = "confirm.css" %}



<div class="boundary confirm" id="main-container">
  <div class="block content">
      <div class="container-narrow">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="signup-container">
              <div class="welcome-head">
                <h3 class="white">{{ page.title }}</h3>
              </div>
            </div>
            <div class="welcome-body">
              {{ content }}
            </div>
          </div>
        </div>
      </div>



  </div>
</div>



{% include footer.html %} 
