{% include header.html css_file='customers.css' %}

<div class="boundary container-non-responsive customers-index" id="main-container">
  <div class="block title-block">
    <h1>{{ page.tagline }}</h1>
  </div>
  {% for page in site.pages reversed %}
    {% if page.layout == 'customer_story' %}
      <div class="row customer-row">
        {% assign path  = page.url | remove: "/index.html" %}
        <div class="col-md-3 col-md-offset-1">
          <a href="{{ path }}/">
            <div class="customer-logo-wrap">
              <img src="{{ path }}/{{ page.index_image }}"
                    alt="{{ path }} logo"
                    width="220"
                    class="customer-logo">
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <h2>{{ page.title }}</h2>
          <p>{{ page.index_blurb }}</p>
          <a href="{{ path }}" class="view-study-link">View case study <span>&rarr;</span></a>
        </div>
      </div>
      <hr>
    {% endif %}
  {% endfor %}
</div>

{% include footer.html %}
