{% include header.html css_file='customers.css' %}

<div class="boundary customer-story" id="main-container">
  <div class="title-block" style="background-image:url({{page.bg_image}});"></div>
  <div class="customer-story-layout">
    <div class="block customer-story-body">
      <h1 class="customer-story-title">{{ page.title }}</h1>
      <p class="customer-url">
        <a href="{{ page.customer_url }}" target="_blank">
          {{ page.customer_link_name }}
        </a>
      </p>
      <p class="customer-story-tagline">{{ page.title_tagline }}</p>
      {{ content }}
      {% if page.diagram_image %}
        <img src="{{ page.diagram_image }}"
             alt="{{ page.title }} architecture diagram"
             class="customer-story-diagram">
      {% endif %}
    </div>
    <div class="block customer-story-sidebar">
      <blockquote><em>"{{ page.sidebar_testimonial }}"</em>
        <p>
          <strong>{{ page.sidebar_testimonial_attribution }}</strong>
          <br>
          {{ page.sidebar_testimonial_meta }}
        </p>
      </blockquote>
      {% capture sidebar_copy %}{{ page.sidebar_copy }}{% endcapture %}
      {{ sidebar_copy | markdownify }}
    </div>
  </div>
</div>

{% include footer.html %}
