<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include svgs.html %}
	{% include header.html %}

	<!-- Generate page ID -->
	{% assign page_id = page.url | replace:'/','-' | replace: '.html', '' %}

	<div class="page-content" id="page-{{ page_id }}">
		<div class="docs-wrapper">
			<section id="sticky-nav" class="clearfix in-page-nav-wrapper bg-light-light-gray">
				{% include documentation_sticky_nav.html %}
			</section>
			<section id="sidebar-wrapper">
				{% include documentation_sidebar.html %}
			</section>
			<section class="docs-content" name="docs-body" id="docs-body">
				<a href="#docs-body" id="scroll-top-button" class="on">Scroll to Top</a>
				<div class="inner-content">
					<h1>{{ page.title }}</h1>
					{{ content }}
				</div>
			</section>
		</div>
	</div>

	{% include footer.html %}

</body>

</html>

