{% include header.html css_file='docs.css' body_id='docs' %}



<div class="boundary docs docs-page" id="main-container">
  <div class="title-block">
    <h1>Developer Documentation</h1>
  </div>
  <div class="block docs-sidebar" id="docs-sidebar">
    {% include docs_sidebar.html %}
  </div>
  <div class="block docs-body" id="docs-body">
    <h1 id="docs-page-title">{{ page.title }}</h1>
    {{ content }}
  </div>
  <a href="#main-container" id="scroll-top-button">Scroll to Top</a>
</div>



{% include footer.html js_file='docs.js' %}
