<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include svgs.html %}
	{% include header.html %}

	<!-- Generate page ID -->
	{% assign page_id = page.url | replace:'/','-' | replace: '.html', '' %}

	<div class="page-content" id="page-{{ page_id }}">
		<div class="docs-wrapper">
			<section id="sticky-nav" class="clearfix in-page-nav-wrapper bg-light-light-gray">
				{% include documentation_sticky_nav.html %}
			</section>
			<section id="sidebar-wrapper">
				{% include documentation_sidebar.html %}
			</section>
			<section class="docs-content" name="docs-body" id="docs-body">
				<div class="inner-content">
					<h1>{{ page.title }}</h1>
					{{ content }}
					{% for nav in site.data.docs %}
					{% if nav.section contains "guides" %}

					<ul class="list-unstyled docs-index-list">
						{% for item in nav.pages %}
						{% for page in site.pages %}
						{% if page.layout == 'docs_page' %}
						{% assign name = page.path | replace: '.md', '' | split: '/' | last | downcase %}
						{% if name == item  and name != 'overview' %}
						{% assign excerpt = page.excerpt %}
						<li data-name="{{ page.title }}">
							<a href="/docs/{{ nav.section }}/{{ item }}.html">{{ page.title }}</a>
							<div class="excerpt">{{ excerpt }}</div>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}
						{% endfor %}
					</ul>
					{% endif %}

					{% endfor %}
				</div>
			</section>
		</div>
	</div>

	{% include footer.html %}

</body>

</html>

