{% include header.html body_id='home' %}



<script>
var months = new Array(12);
months[0] = "Jan";
months[1] = "Feb";
months[2] = "Mar";
months[3] = "Apr";
months[4] = "May";
months[5] = "Jun";
months[6] = "Jul";
months[7] = "Aug";
months[8] = "Sep";
months[9] = "Oct";
months[10] = "Nov";
months[11] = "Dec";

var weekday=new Array(7);
weekday[0]="Sun";
weekday[1]="Mon";
weekday[2]="Tue";
weekday[3]="Wed";
weekday[4]="Thu";
weekday[5]="Fri";
weekday[6]="Sat";

var current_date = new Date();
current_date.setDate(current_date.getDate());
month_value = current_date.getMonth();
day_value = current_date.getDate();
year_value = current_date.getFullYear();
var day_name = weekday[current_date.getDay()];

var current_date_format = day_name + " " + months[month_value] + " " + day_value  + " " + current_date.getHours() + ":"   + current_date.getMinutes() + ":"
                + current_date.getSeconds();
</script>



<div class="valprop-home">
  <div class="container-narrow">
    <div class="row">
      <div class="col-xs-7 ">
        <h1 class="valprop-title home-header mrg-top-60">Identity and Access Management Platform for Developers</h1>
      </div>
      <div class="col-xs-5 " style="margin-top: 15px;">
        <a href="/signup.html" class="button mrg-right-30 mrg-top-60 button-padding">Get Started</a>
        <a href="/features.html" class="button-empty mrg-top-60 button-padding">Features</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="terminal-os-x">
          <div id="window">
            <div id="toolbar">
              <div class="top">
                <div id="lights">
                  <div class="light red">
                    <div class="glyph"></div>
                    <div class="shine"></div>
                    <div class="glow"></div>
                  </div>
                  <div class="light yellow">
                    <div class="glyph"></div>
                    <div class="shine"></div>
                    <div class="glow"></div>
                  </div>
                  <div class="light green">
                    <div class="glyph"></div>
                    <div class="shine"></div>
                    <div class="glow"></div>
                  </div>
                </div>
                <div id="title">
                  Terminal
                </div>
                <div id="bubble">
                  <div class="shine"></div>
                  <div class="glow"></div>
                </div>
              </div>
            </div>
            <div id="body">
              <p class="lastlogin"><span class="dollar"></span>Last login: <script>document.write(current_date_format)</script>  on console </p>
              <p class="terminal-command">
                <span class="dollar"></span>The Okta Platform delivers all the power of Okta, for developers.<br />
                <span class="dollar"></span>With the Okta REST API developers can build secure, scalable, and <br />
                <span class="dollar"></span>robust identity and access management into any application that can <br /><span class="dollar"></span>send an HTTP request.
                <span class="cursor"></span>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-narrow" id="benefits-grid">
  <div class="row featured-row">
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-blue"><span class="home-users"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Manage your users and groups</h4>
        </div>
      </div>
      <p class="featured-desc">Avoid the hassle of deploying your own LDAP solution. Okta provides a robust cloud directory and supports the full user lifecycle.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#users">Learn more</a></p>
    </div>
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-purple"><span class="home-multiple"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Create a rich user profile from multiple data sources</h4>
        </div>
      </div>
      <p class="featured-desc">Centralize user attributes from any source or directory into one view of the user. Okta also keeps multiple user profile sources in sync.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#providers">Learn more</a></p>
    </div>
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-cyan"><span class="home-secure"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Secure access to your application</h4>
        </div>
      </div>
      <p class="featured-desc">Securely authenticate users and manage their sessions. For extra security, use Okta’s multifactor authentication options.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#secure">Learn more</a></p>
    </div>
  </div><!-- /.row -->



  <div class="row featured-row">
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-yellow"><span class="home-check"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Enable single sign-on to all your applications</h4>
        </div>
      </div>
      <p class="featured-desc">Leverage thousands of app integrations to implement single sign-on for your users. Integrate your own apps in minutes.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#sso">Learn more</a></p>
    </div>
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-green"><span class="home-partners"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Integrate with your partners’ directories</h4>
        </div>
      </div>
      <p class="featured-desc">Connect your partners’ AD or LDAP user stores to Okta. Okta can create one consolidated directory for your app.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#partners">Learn more</a></p>
    </div>
    <div class="col-xs-4 col-xs-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="circle home-orange"><span class="home-providers"></span></span>
        </div>
        <div class="col-xs-10">
          <h4 class="home-featured-title">Integrate with external identity providers</h4>
        </div>
      </div>
      <p class="featured-desc">Easily enable authentication and authorization against external identity providers through standard federation protocols and social IDs.</p>
      <p class="mrg-top-20"><a class="learnmore button-white" href="features.html#providers">Learn more</a></p>
    </div>
  </div><!-- /.row -->

</div> <!-- /.container-narrow -->



{% include footer.html %}
